{% set categoryFilter default('categoryFilter') %}
<div class="row">

	{{ porto_component('category-filter', { 'categories': categoryFilter.categories, 'items': categoryFilter.items, 'type': '' }) }}

</div>
