
	{% if type == 'navigation' %}

		<div id="combinationFilters" class="filters col-lg-3">

			{% for category in categories %}

				{% if category.label is defined and category.label is not empty %}
					{% set label = category.label %}
				{% else %}
					{% set label = '' %}
				{% endif %}

				{% if category.filters is defined and category.filters is not empty %}
					{% set filters = category.filters %}
				{% else %}
					{% set filters = '' %}
				{% endif %}

				<div class="col-lg-6 mb-2">

					{% if label is not empty %} <h5 class="text-uppercase mb-3">Filter By {{ label|capitalize }}:</h5> {% endif %}
					<ul class="nav nav-pills sort-source sort-source-style-3 portfolio-filter-group" data-filter-group="group{{ loop.index }}">
						<li data-option-value="" class="nav-item active"><a class="nav-link text-1 text-uppercase active" href="#">Show All</a></li>
						{% for filter in filters %}
							<li class="nav-item" data-option-value=".{{ filter }}"><a class="nav-link text-1 text-uppercase" href="#">{{ filter }}</a></li>
						{% endfor %}
					</ul>

				</div>

			{% endfor %}

		</div>

	{% endif %}

	{% if type == 'items' %}


		<div class="portfolio-list col-lg-9">


			{% for item in items %}

				{% if item.categories is defined and item.categories is not empty %}
					{% set categories = item.categories %}
				{% endif %}

				{% if item.class is defined and item.class is not empty %}
					{% set class = item.class %}
				{% endif %}

				{% if item.content is defined and item.content is not empty %}
					{% set content = item.content %}
				{% else %}
					{% set content = 'No data' %}
				{% endif %}

				<article class="post post-medium isotope-item col-lg-12 mb-5
					{% for category in categories %}
						{{ category }}
					{% endfor %}">
					<div class="row mb-3">
						<div class="col-lg-5">
							<div class="post-image">
								<img src="https://via.placeholder.com/300x200"
									 class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0"
									 alt="" />
							</div>
						</div>
						<div class="col-lg-7">
							<div class="post-content">
								<h2 class="font-weight-semibold text-5 line-height-4 mb-2">
											Article n° {{ loop.index }}
								</h2>
								{{ content|slice(0, 200)|html }}...
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="post-meta">
								<span><i class="far fa-calendar-alt"></i> 10/02/2019 </span>
								<span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
								<span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
							</div>
						</div>
					</div>
				</article>

			{% endfor %}



		</div>


	{% endif %}

	{% if type is not defined or type is empty %}

		<div id="combinationFilters" class="filters col-lg-3">

			{% for category in categories %}

				{% if category.label is defined and category.label is not empty %}
					{% set label = category.label %}
				{% else %}
					{% set label = '' %}
				{% endif %}

				{% if category.filters is defined and category.filters is not empty %}
					{% set filters = category.filters %}
				{% else %}
					{% set filters = '' %}
				{% endif %}

				<div class="col-lg-6 mb-2">

					{% if label is not empty %} <h5 class="text-uppercase mb-3">Filter By {{ label|capitalize }}:</h5> {% endif %}
					<ul class="nav nav-pills sort-source sort-source-style-3 portfolio-filter-group" data-filter-group="group{{ loop.index }}">
						<li data-option-value="" class="nav-item active"><a class="nav-link text-1 text-uppercase active" href="#">Show All</a></li>
						{% for filter in filters %}
							<li class="nav-item" data-option-value=".{{ filter }}"><a class="nav-link text-1 text-uppercase" href="#">{{ filter }}</a></li>
						{% endfor %}
					</ul>

				</div>

			{% endfor %}

		</div>


		<div class="portfolio-list col-lg-9">


			{% for item in items %}

				{% if item.categories is defined and item.categories is not empty %}
					{% set categories = item.categories %}
				{% endif %}

				{% if item.class is defined and item.class is not empty %}
					{% set class = item.class %}
				{% endif %}

				<article class="post post-medium isotope-item col-lg-12 mb-5
						{% for category in categories %}
							{{ category }}
						{% endfor %}">
					<div class="row mb-3">
						<div class="col-lg-5">
							<div class="post-image">
								<img src="https://via.placeholder.com/300x200"
									 class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0"
									 alt="" />
							</div>
						</div>
						<div class="col-lg-7">
							<div class="post-content">
								<h2 class="font-weight-semibold text-5 line-height-4 mb-2">
									Article n° {{ loop.index }}
								</h2>
								{{ item.content|slice(0, 200)|html }}...
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="post-meta">
								<span><i class="far fa-calendar-alt"></i> 10/02/2019 </span>
								<span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
								<span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
								<span class="d-block d-sm-inline-block float-sm-right mt-3 mt-sm-0"></span>
							</div>
						</div>
					</div>
				</article>

			{% endfor %}

		</div>

	{% endif %}

