{% if tab.items is defined and tab.items is not empty %}
	{% set items = tab.items %}
{% else %}
	{% set items = '' %}
{% endif %}

{% if tab.parameters is defined and tab.parameters is not empty %}
	{% set parameters = tab.parameters %}
{% else %}
	{% set parameters = '' %}
{% endif %}

{% if parameters.justified is defined and parameters.justified is not empty %}
	{% set justified = parameters.justified %}
{% else %}
	{% set justified = 'false' %}
{% endif %}

{% if parameters.color is defined and parameters.color is not empty %}
	{% set color = parameters.color %}
{% else %}
	{% set color = 'primary' %}
{% endif%}

{#{% if parameters. is defined and parameters. is not empty %}#}
	{#{% set %}#}
{#{% else %}#}
	{#{% set %}#}
{#{% endif %}#}

<div class="row">

	<div class="{% if tab.class is defined %}{{ tab.class }}{% else %}col-lg-6{% endif %}">
		<div class="tabs tabs-bottom
				tabs-{{ color }}
				{% if justified == 'true' %} nav-justified {% endif%}
				">
			<div class="tab-content">
				{% for item in items %}
					<div id="tabDefaultB{{ loop.index }}" class="tab-pane {% if loop.first %} active {% endif %}">
						{{ item.content|html }}
					</div>
				{% endfor %}
			</div>
			<ul class="nav nav-tabs
				{% if parameters.orientation is defined and parameters.orientation is not empty%}
					{{ (parameters.orientation  == 'left' ) ? '' : (parameters.orientation  == 'right' ) ? 'justify-content-end' : 'justify-content-center' }}
				{% endif%}">

				{% for item in items %}
					<li class="nav-item {% if loop.first %} active {% endif %}">
						<a class="nav-link" href="#tabDefaultB{{ loop.index }}" data-toggle="tab">{{ item.label }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>


</div>
