{% if tab.items is defined and tab.items is not empty %}
	{% set items = tab.items %}
{% else %}
	{% set items = '' %}
{% endif %}

{% if tab.icon is defined and tab.icon is not empty %}
	{% set icon = tab.icon %}
{% else %}
	{% set icon = '' %}
{% endif %}

<div class="row">
	<div class="col">
		{% if tab.title is defined %}<h4 class="mb-4">{{ tab.title }}</h4>{% endif %}

		<div class="row">
			<div class="{% if tab.class is defined %}{{ tab.class }}{% else %}col-lg-4{% endif %}">
				<div class="tabs tabs-vertical tabs-left tabs-navigation">
					<ul class="nav nav-tabs col-sm-3">

						{% for item in items %}
							<li class="nav-item {% if loop.first %} active {% endif %}">
								<a class="nav-link" href="#tabsNavigation{{ loop.index }}" data-toggle="tab">
									{% if item.icon is defined and item.icon is not empty %}
										<i class="fas fa-{{ item.icon }}"></i>
									{% endif %}
									{{ item.label }}
								</a>
							</li>
						{% endfor %}

					</ul>
				</div>
			</div>
			<div class="col-lg-8">

				{% for item in items %}
					<div class="tab-pane tab-pane-navigation {% if loop.first %} active {% endif %}" id="tabsNavigation{{ loop.index }}">
						{{ item.content|html }}
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
</div>
