{% if tab.items is defined and tab.items is not empty %}
	{% set items = tab.items %}
{% else %}
	{% set items = '' %}
{% endif %}

{% if tab.icon is defined and tab.icon is not empty %}
	{% set icon = tab.icon %}
{% else %}
	{% set icon = '' %}
{% endif %}


<div class="row">
	<div class="col">

		<div class="tabs tabs-bottom tabs-center tabs-simple">
			<ul class="nav nav-tabs">
				{% for item in items %}

					<li class="nav-item {% if loop.first %} active {% endif %}">

						{#{% if item.icon is defined and item.icon is not empty %}#}

							{#<a class="nav-link" href="#tabsNavigationSimple{{ loop.index }}" data-toggle="tab">#}

								{#<span class="featured-boxes featured-boxes-style-6 p-0 m-0">#}
									{#<span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">#}
										{#<span class="box-content p-0 m-0">#}
											{#<i class="icon-featured fas fa-{{ item.icon }}"></i>#}
										{#</span>#}
									{#</span>#}
								{#</span>#}
								{#<p class="mb-0 pb-0">{{ item.label }}</p>#}

							{#</a>#}

						{#{% else %}#}

						{#<a class="nav-link" href="#tabsNavigationSimple{{ loop.index }}" data-toggle="tab">{{ item.label }}</a>#}

						{#{% endif %}#}

						<a class="nav-link" href="#tabsNavigationSimple{{ loop.index }}" data-toggle="tab">{{ item.label }}</a>

					</li>

				{% endfor %}
			</ul>
			<div class="tab-content">
				{% for item in items %}
					<div class="tab-pane {% if loop.first %} active {% endif %}" id="tabsNavigationSimple{{ loop.index }}">
						<div class="text-center">
							{{ item.content|html }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
