{% set tabs = default('tabs') %}
{% for tab in tabs %}

	{% if tab.type is defined and tab.type is not empty %}
		{% set type = tab.type %}
	{% else %}
		{% set type = 'default' %}
	{% endif %}


	{{ porto_component('tab-' ~ type, { 'tab': tab }) }}
{% endfor %}
