{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

	<div role="main" class="main">

		<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md ">
			<div class="container-fluid">
				<div class="row align-items-center">

					<div class="col">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<div class="overflow-hidden pb-2">
									<h1 class="text-dark font-weight-bold text-9 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="100">Combination Filters</h1>
								</div>
							</div>
							<div class="col-md-12 align-self-center order-1">
								<ul class="breadcrumb d-block text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
									<li><a href="#">Home</a></li>
									<li><a href="#">Portfolio</a></li>
									<li class="active">Extra</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<div class="container py-2">

			{% include('@SixnappsPortoTemplate/components/category-filter/category-filter.html.twig') %}

		</div>

	</div>

{% endblock %}

{% block footer %}
	{% include('@SixnappsPortoTemplate/components/footers/footer.html.twig') %}
{% endblock footer %}
