{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

	<div role="main" class="main">

		<section class="page-header page-header-classic">
			<div class="container">
				<div class="row">
					<div class="col">
						<ul class="breadcrumb">
							<li><a href="#">Home</a></li>
							<li class="active">Pages</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col p-static">
						<h1 data-title-border>404 - Page non trouvée</h1>

					</div>
				</div>
			</div>
		</section>

		<div class="container">

			<section class="http-error">
				<div class="row justify-content-center py-3">
					<div class="col-md-7 text-center">
						<div class="http-error-main">
							<h2>{{ item.title|html }}</h2>
							<p>{{ item.message|html }}</p>
						</div>
						<a href="{{ path('sixnapps.porto.index') }}" class="btn btn-primary btn-rounded btn-xl font-weight-semibold text-2 px-4 py-3 mt-1 mb-4"><i class="fas fa-angle-left pr-3"></i>Retourner à l'accueil</a>
					</div>
				</div>
			</section>

		</div>

	</div>

{% endblock %}

{% block footer %}
	{% include('@SixnappsPortoTemplate/components/footers/footer.html.twig') %}
{% endblock footer %}
