{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

	<div role="main" class="main" style="min-height: calc(100vh - 393px);">
		<div class="container">
			<div class="row mt-5">
				<div class="col text-center">
					<div class="logo">
						<a href="{{ path('sixnapps.porto.index') }}">
							<img width="100" height="48" src="{{ porto_asset('img/logo-default.png') }}" alt="Porto">
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<hr class="solid my-5">
				</div>
			</div>
			<section class="http-error py-0">
				<div class="row justify-content-center py-3">
					<div class="col-6 text-center">
						<div class="http-error-main">
							<h2 class="mb-0">{{ item.title }}</h2>
							<span class="text-6 font-weigh-bold text-color-dark">UNEXPECTED ERROR</span>
							<p class="text-3 my-4">{{ item.message|html }}</p>
						</div>
						<a href="{{ path('sixnapps.porto.index') }}" class="btn btn-primary btn-rounded btn-xl font-weight-semibold text-2 px-4 py-3 mt-1 mb-4"><i class="fas fa-angle-left pr-3"></i>Retour à l'accueil</a>
					</div>
				</div>
			</section>
		</div>
	</div>

{% endblock %}

{% block footer %}
	{% include('@SixnappsPortoTemplate/components/footers/footer.html.twig') %}
{% endblock footer %}
