{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
	<section
			class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5"
			style="background-image: url({{ porto_asset('img/page-header/page-header-elements.jpg') }});">
		<div class="container">
			<div class="row">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1>Footers modern</h1>
				</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb breadcrumb-light d-block text-center">
						<li><a href="#">Home</a></li>
						<li class="active">Elements</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container py-2">
		<h1 class="text-center font-weight-extra-bold">FOOTERS</h1>
		<p>Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.</p>
	</div>

{% endblock %}

{% block footer %}

	{% set logoUrl = porto_asset("img/logo-footer.png") %}

	{% set infoContact =
		porto_component('info-contact', {
			'title': 'Contactez-nous',
			'classTitle': 'text-6 text-transform-none font-weight-semibold text-color-light mb-4',
			'iconsShow': false,
			'address': {'icon': 'far fa-dot-circle', 'street': '4 rue du docteur Roux', 'zipCode': '79000', 'city': 'Niort'},
			'classText': 'text-3 mb-0 pt-0',
			'contacts': [
				{'title': 'Téléphone', 'icon': 'fab fa-whatsapp', 'body':'09 70 98 87 04', 'link':'tel:0970988704', 'titleShow':true},
				{'title': 'Email', 'icon': 'far fa-envelope', 'body':'contact@6napps.com', 'link':'mailto:contact@6napps.com', 'titleShow':true}
			]
		})
	%}
	{% set socialsIcons =
		porto_component('socials-icons', {
			'title': 'Suivez-nous !',
			'classTitle': 'text-6 text-transform-none font-weight-semibold text-color-light mb-4',
			'list': [
				{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/', 'icon':'facebook-f'},
				{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
				{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/', 'icon':'linkedin-in'},
				{'name': 'google-plus', 'link': 'https://plus.google.com/u/0/102034850553764491190', 'icon':'google-plus-g'},
			]
		})
	%}
	{% set liens =
		porto_component('footer-liens', {
			'title': 'Informations',
			'list': [
				{
					'label': 'Conditions générales de vente',
					'link': '#'
				},
				{
					'label': 'Conditions générales d\'utilisation',
					'link': '#'
				},
				{
					'label': 'Mentions légales',
					'link': '#'
				}
			]
		})
	%}

	{{ porto_component('footer-classic',{
			'listComponent': [
				{
					'class': 'col-md-6 col-lg-4 mb-4 mb-lg-0',
					'item': '<img src='~logoUrl~'>'
				},
				{
					'class': 'col-md-6 col-lg-3 mb-4 mb-lg-0',
					'item': liens
				},
				{
					'class': 'col-md-6 col-lg-3 mb-4 mb-md-0',
					'item': infoContact
				},
				{
					'class': 'col-md-6 col-lg-2',
					'item': socialsIcons
				},
			],
			'footerCopyright': {
				'min': true,
				'logoImage': porto_asset('img/logo-footer.png'),
				'logoAlt': "Porto Website Template",
				'logoLink': '#',
				'text': '© Copyright 2019. All Rights Reserved.',
				'subMenu': [
					{
						'title': 'FAQ\'s',
						'link': '#'
					},
					{
						'title': 'Sitemap',
						'link': '#'
					},
					{
						'title': 'Nous contacter',
						'link': '#'
					}
				]
			}

		})
	}}
{% endblock footer %}
