{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
	<section
			class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5"
			style="background-image: url({{ porto_asset('img/page-header/page-header-elements.jpg') }});">
		<div class="container">
			<div class="row">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1>Footers classic</h1>
				</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb breadcrumb-light d-block text-center">
						<li><a href="#">Home</a></li>
						<li class="active">Elements</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container py-2">
		<h1 class="text-center font-weight-extra-bold">FOOTERS</h1>
		<p>Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique convolantibus telis, et cum id inpossibile videretur, imperator cogitationibus magnis attonitus, quid capesseret ambigebat.</p>
	</div>

{% endblock %}

{% block footer %}
	{% set newsletter =
		 porto_component('newsletter-subscription', {
			'action': '',
			'method': 'post',
			'title': 'Notre newsletter',
			'text': 'Pour vous tenir à jour des dernières nouveautés, inscrivez-vous à notre newsletter !',
			'placeholder': 'Votre adresse Email',
			'submitText': 'ENVOYER',
			'successText': '<strong>Succès !</strong> Vous avez été ajouté à notre liste.',
			'errorText': '<strong>Erreur !</strong> L\'action a été annulée.'
		})
	%}
	{% set infoContact =
		porto_component('info-contact', {
			'title': 'Nous contacter',
			'address': {'icon': 'far fa-dot-circle', 'street': '4 rue du docteur Roux', 'city': 'Niort'},
			'contacts': [ {'title': 'Téléphone', 'icon': 'fab fa-whatsapp', 'body':'09 70 98 87 04', 'link':'tel:0970988704'}, {'title': 'Email', 'icon': 'far fa-envelope', 'body':'contact@6napps.com', 'link':'mailto:contact@6napps.com'} ]
		})
	%}
	{% set socialsIcons =
		porto_component('socials-icons', {
			'title': 'Nous suivre',
			'list': [
				{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/', 'icon':'facebook-f'},
				{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
				{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/', 'icon':'linkedin-in'},
				{'name': 'google-plus', 'link': 'https://plus.google.com/u/0/102034850553764491190', 'icon':'google-plus-g'},
			]
		})
	%}
	{% set twitterFeed =
		porto_component('twitter-feed', {
			'title': 'Derniers tweets',
			'twitterProfile': '6nApps',
			'darkTheme': 'true',
			'tweetLimit': '3',
		})
	%}

	{{ porto_component('footer-classic',{
			'ribbonText': 'Mettons-nous en relation',
			'listComponent': [
				{
					'class': 'col-md-6 col-lg-4 mb-4 mb-lg-0',
					'item': newsletter
				},
				{
					'class': 'col-md-6 col-lg-3 mb-4 mb-lg-0',
					'item': twitterFeed
				},
				{
					'class': 'col-md-6 col-lg-3 mb-4 mb-md-0',
					'item': infoContact
				},
				{
					'class': 'col-md-6 col-lg-2',
					'item': socialsIcons
				},
			],
			'footerCopyright': {
				'min': false,
				'logoImage': porto_asset('img/logo-footer.png'),
				'logoAlt': "Porto Website Template",
				'logoLink': '#',
				'text': '© Copyright 2019. All Rights Reserved.',
				'subMenu': [
					{
						'title': 'FAQ\'s',
						'link': '#'
					},
					{
						'title': 'Sitemap',
						'link': '#'
					},
					{
						'title': 'Nous contacter',
						'link': '#'
					}
				]
			}

		})
	}}
{% endblock footer %}

