{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{{ porto_component('header-flat', {
			'logoUrl': porto_asset("img/logo.png"),
			'logoAlt': 'Porto',
			'logoLink': path('sixnapps.porto.index'),
			'menuBorderColor': '#005ea4',
			'menuBorderHoverColor': '#009882',
			'textColor': '#005ea4',
			'textHoverColor': '#009882',
			'headerTop': {
				'test': true,
				'itemsStart': [
					{
						'class': 'nav-item-anim-icon d-none d-md-block',
						'item': '<a class="nav-link pl-0" href="#"><i class="fas fa-angle-right"></i> À notre sujet</a>',
					},
					{
						'class': 'nav-item-anim-icon d-none d-md-block',
						'item': '<a class="nav-link" href="#"><i class="fas fa-angle-right"></i> Nous contacter</a>',
					},
					{
						'class': 'nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show',
						'item':  '<span class="ws-nowrap"><i class="fas fa-phone"></i> 09 70 98 87 04</span>',
					},
				],
				'itemsEnd': [
					{
						'class': 'mr-3 d-none d-md-block',
						'item':  porto_component('socials-icons', {
							'list': [
								{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/', 'icon':'facebook-f'},
								{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
								{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/', 'icon':'linkedin-in'},
								{'name': 'google-plus', 'link': 'https://plus.google.com/u/0/102034850553764491190', 'icon':'google-plus-g'},
							]
						}),
					},
					{
						'class': 'dropdown mx-auto',
						'item': porto_component('language-menu', {
									'languages': [
										{
											'code': 'gb',
											'name': 'English',
											'link': '#',
										},
										{
											'choosed': 'true',
											'code': 'fr',
											'name': 'Français',
											'link': '#',
										},
										{
											'code': 'es',
											'name': 'Español',
											'link': '#',
										},
										{
											'code': 'jp',
											'name': '日本',
											'link': '#',
										}
									]
								}),
					},
				]
			},
			'menu':[
				{
					'itemName': 'Home',
					'link': '#',
					'menu': [
						{
							'itemName': 'Landing Page',
							'link': path('sixnapps.porto.index')
						},
						{
							'itemName': 'Classic',
							'link': '#',
							'submenu':[
								{
									'itemName': 'Classic - Original',
									'imgUrl': porto_asset("img/previews/preview-classic.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Classic - Color',
									'imgUrl': porto_asset("img/previews/preview-classic-color.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Classic - Light',
									'imgUrl': porto_asset("img/previews/preview-classic-light.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Classic - Video',
									'imgUrl': porto_asset("img/previews/preview-classic-video.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Classic - Video - Light',
									'imgUrl': porto_asset("img/previews/preview-classic-video-light.jpg"),
									'link': '#'
								},
							]
						},
						{
							'tipText': 'Hot',
							'itemName': 'Corporate',
							'link': '#',
							'submenu':[
								{
									'itemName': 'Corporate - Version 1',
									'imgUrl': porto_asset("img/previews/preview-corporate.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 2',
									'imgUrl': porto_asset("img/previews/preview-corporate-2.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 3',
									'imgUrl': porto_asset("img/previews/preview-corporate-3.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 4',
									'imgUrl': porto_asset("img/previews/preview-corporate-4.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 5',
									'imgUrl': porto_asset("img/previews/preview-corporate-5.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 6',
									'imgUrl': porto_asset("img/previews/preview-corporate-6.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 7',
									'imgUrl': porto_asset("img/previews/preview-corporate-7.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 8',
									'imgUrl': porto_asset("img/previews/preview-corporate-8.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 9',
									'imgUrl': porto_asset("img/previews/preview-corporate-9.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 10',
									'imgUrl': porto_asset("img/previews/preview-corporate-10.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 11',
									'imgUrl': porto_asset("img/previews/preview-corporate-11.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 12',
									'imgUrl': porto_asset("img/previews/preview-corporate-12.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 13',
									'imgUrl': porto_asset("img/previews/preview-corporate-13.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 14',
									'imgUrl': porto_asset("img/previews/preview-corporate-14.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 15',
									'imgUrl': porto_asset("img/previews/preview-corporate-15.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 16',
									'imgUrl': porto_asset("img/previews/preview-corporate-16.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 17',
									'imgUrl': porto_asset("img/previews/preview-corporate-17.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 18',
									'imgUrl': porto_asset("img/previews/preview-corporate-18.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 19',
									'imgUrl': porto_asset("img/previews/preview-corporate-19.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Corporate - Version 20',
									'imgUrl': porto_asset("img/previews/preview-corporate-20.jpg"),
									'link': '#'
								}
							]
						},
						{
							'itemName': 'Portfolio',
							'link': '#',
							'submenu':[
								{
									'itemName': 'Portfolio - Version 1',
									'imgUrl': porto_asset("img/previews/preview-portfolio.jpg"),
									'link': '#'
								},

								{
									'itemName': 'Portfolio - Version 2',
									'imgUrl': porto_asset("img/previews/preview-portfolio-2.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Portfolio - Version 3',
									'imgUrl': porto_asset("img/previews/preview-portfolio-3.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Portfolio - Version 4',
									'imgUrl': porto_asset("img/previews/preview-portfolio-4.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Portfolio - Version 5',
									'imgUrl': porto_asset("img/previews/preview-portfolio-5.jpg"),
									'link': '#'
								},
							]
						},
						{
							'itemName': 'Blog',
							'link': '#',
							'submenu':[
								{
									'itemName': 'Blog - Version 1',
									'imgUrl': porto_asset("img/previews/preview-blog.jpg"),
									'link': '#'
								},

								{
									'itemName': 'Blog - Version 2',
									'imgUrl': porto_asset("img/previews/preview-blog-2.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Blog - Version 3',
									'imgUrl': porto_asset("img/previews/preview-blog-3.jpg"),
									'link': '#'
								},
								{
									'itemName': 'Blog - Version 4',
									'imgUrl': porto_asset("img/previews/preview-blog-4.jpg"),
									'link': '#'
								},
							]
						},
						{
							'itemName': 'One Page',
							'link': '#',
							'submenu':[
								{
									'itemName': 'One Page Original',
									'imgUrl': porto_asset("img/previews/preview-one-page.jpg"),
									'link': '#'
								},
							]
						},
					]
				},
				{
					'mega': true,
					'itemName': 'Elements',
					'link': '#',
					'menu': [
						{
							'itemName': 'Elements 1',
							'link': '#',
							'submenu':[
								{
									'itemName': 'Accordions',
									'link': path('sixnapps.porto.accordion')
								},
								{
									'itemName': 'Toggles',
									'link': path('sixnapps.porto.toggle')
								},
								{
									'itemName': 'Tabs',
									'link': '#'
								},
								{
									'itemName': 'Icons',
									'link': '#'
								},
								{
									'itemName': 'Icon Boxes',
									'link': '#'
								},
								{
									'itemName': 'Carousels',
									'link': '#'
								},
								{
									'itemName': 'Modals',
									'link': '#'
								},
								{
									'itemName': 'Lightboxes',
									'link': '#'
								},
								{
									'itemName': 'Word Rotator',
									'link': '#'
								},
							]
						},
						{
							'itemName': 'Elements 2',
							'link': '#',
							'submenu':[
								{
									'itemName': 'Buttons',
									'link': '#'
								},
								{
									'itemName': 'Badges',
									'link': '#'
								},
								{
									'itemName': 'Lists',
									'link': '#'
								},
								{
									'itemName': 'Cards',
									'link': '#'
								},
								{
									'itemName': 'Image Gallery',
									'link': '#'
								},
								{
									'itemName': 'Image Frames',
									'link': '#'
								},
								{
									'itemName': 'Testimonials',
									'link': '#'
								},
								{
									'itemName': 'Blockquotes',
									'link': '#'
								},
								{
									'itemName': 'Sticky Elements',
									'link': '#'
								},
							]
						},
						{
							'itemName': 'Elements 3',
							'link': '#',
							'submenu':[
								{
									'itemName': 'Call to Action',
									'link': '#'
								},
								{
									'itemName': 'Pricing Tables',
									'link': '#'
								},
								{
									'itemName': 'Tables',
									'link': '#'
								},
								{
									'itemName': 'Progress Bars',
									'link': '#'
								},
								{
									'itemName': 'Process',
									'link': '#'
								},
								{
									'itemName': 'Counters',
									'link': '#'
								},
								{
									'itemName': 'Countdowns',
									'link': '#'
								},
								{
									'itemName': 'Sections &amp; Parallax',
									'link': '#'
								},
								{
									'itemName': 'Tooltips &amp; Popovers',
									'link': '#'
								},
							]
						},
						{
							'itemName': 'Elements 4',
							'link': '#',
							'submenu':[
								{
									'itemName': 'Headings',
									'link': '#'
								},
								{
									'itemName': 'Dividers',
									'link': '#'
								},
								{
									'itemName': 'Animations',
									'link': '#'
								},
								{
									'itemName': 'Medias',
									'link': '#'
								},
								{
									'itemName': 'Maps',
									'link': '#'
								},
								{
									'itemName': 'Arrows',
									'link': '#'
								},
								{
									'itemName': 'Alerts',
									'link': '#'
								},
								{
									'itemName': 'Posts',
									'link': '#'
								},
							]
						},


					]
				},
				{
					'active': true,
					'itemName': 'Features',
					'link': '#',

					'menu': [
						{
							'itemName': 'Headers',
							'link': '#',
							'submenu':[
								{
									'itemName': 'Overview',
									'link': '#'
								},
								{
									'itemName': 'Classic',
									'link': '#',
									'list':[
										{
											'itemName': 'Classic',
											'link': '#'
										},
										{
											'itemName': 'Classic + Language Dropdown',
											'link': '#'
										},
										{
											'itemName': 'Classic + Big Logo',
											'link': '#'
										},
									]
								},
								{
									'itemName': 'Flat',
									'link': '#',
									'list':[
										{
											'itemName': 'Flat',
											'link': path('sixnapps.porto.headers.flat')
										},
										{
											'itemName': 'Flat + Top Bar',
											'link': '#'
										},
										{
											'itemName': 'Flat + Top Bar + Top Border',
											'link': '#'
										},
										{
											'itemName': 'Flat + Colored Top Bar',
											'link': '#'
										},
										{
											'itemName': 'Flat + Borders',
											'link': '#'
										}
									]
								},
								{
									'itemName': 'Center',
									'link': '#',
									'list':[
										{
											'itemName': 'Center',
											'link': '#'
										},
										{
											'itemName': 'Center + Double Navs',
											'link': '#'
										},
										{
											'itemName': 'Center + Nav + Buttons',
											'link': '#'
										},
										{
											'itemName': 'Center Below Slider',
											'link': '#'
										},
									]
								},
								{
									'itemName': 'Floating',
									'link': '#',
									'list':[
										{
											'itemName': 'Floating Bar',
											'link': '#'
										},
										{
											'itemName': 'Floating Icons',
											'link': '#'
										},
									]
								},
								{
									'itemName': 'Below Slider',
									'link': '#',
								},
								{
									'itemName': 'Full Video',
									'link': '#',
								},
								{
									'itemName': 'Narrow',
									'link': '#',
								},
								{
									'itemName': 'Sticky',
									'link': '#',
									'list':[
										{
											'itemName': 'Sticky Shrink',
											'link': '#'
										},
										{
											'itemName': 'Sticky Static',
											'link': '#'
										},
										{
											'itemName': 'Sticky Change Logo',
											'link': '#'
										},
										{
											'itemName': 'Sticky Reveal',
											'link': '#'
										},

									]
								},
								{
									'itemName': 'Transparent',
									'link': '#',
									'list':[
										{
											'itemName': 'Transparent Light',
											'link': '#'
										},
										{
											'itemName': 'Transparent Dark',
											'link': '#'
										},
										{
											'itemName': 'Transparent Light + Bottom Border',
											'link': '#'
										},
										{
											'itemName': 'Transparent Dark + Bottom Border',
											'link': '#'
										},
										{
											'itemName': 'Transparent Bottom Slider',
											'link': '#'
										},
										{
											'itemName': 'Semi Transparent Light',
											'link': '#'
										},

										{
											'itemName': 'Semi Transparent Dark',
											'link': '#'
										},
										{
											'itemName': 'Semi Transparent Bottom Slider',
											'link': '#'
										},
										{
											'itemName': 'Semi Transparent + Top Bar + Borders',
											'link': '#'
										},
									]
								},
								{
									'itemName': 'Full Width',
									'link': '#',
									'list':[
										{
											'itemName': 'Full Width',
											'link': '#'
										},
										{
											'itemName': 'Full Width + Borders',
											'link': '#'
										},
										{
											'itemName': 'Full Width Transparent Light',
											'link': '#'
										},
										{
											'itemName': 'Full Width Transparent Dark',
											'link': '#'
										},
										{
											'itemName': 'Full Width Semi Transparent Light',
											'link': '#'
										},
										{
											'itemName': 'Full Width Semi Transparent Dark',
											'link': '#'
										},
									]
								},
								{
									'itemName': 'Navbar',
									'link': '#',
									'list':[
										{
											'itemName': 'Navbar',
											'link': '#'
										},
										{
											'itemName': 'Navbar Full',
											'link': '#'
										},
										{
											'itemName': 'Navbar Pills',
											'link': '#'
										},
										{
											'itemName': 'Navbar Divisors',
											'link': '#'
										},
										{
											'itemName': 'Nav Bar + Icons + Search',
											'link': '#'
										},
									]
								},
								{
									'itemName': 'Side Header',
									'link': '#',
									'list':[
										{
											'itemName': 'Side Header Left',
											'link': '#',
											'list':[
												{
													'itemName': 'Dropdown',
													'link': '#',
												},
												{
													'itemName': 'Expand',
													'link': '#',
												},
												{
													'itemName': 'Columns',
													'link': '#',
												},
												{
													'itemName': 'Slide',
													'link': '#',
												},
												{
													'itemName': 'Semi Transparent',
													'link': '#',
												},
												{
													'itemName': 'Dark',
													'link': '#',
												},
											]
										},
										{
											'itemName': 'Side Header Right',
											'link': '#',
											'list':[
												{
													'itemName': 'Dropdown',
													'link': '#',
												},
												{
													'itemName': 'Expand',
													'link': '#',
												},
												{
													'itemName': 'Columns',
													'link': '#',
												},
												{
													'itemName': 'Slide',
													'link': '#',
												},
												{
													'itemName': 'Semi Transparent',
													'link': '#',
												},
												{
													'itemName': 'Dark',
													'link': '#',
												},
											]
										},
										{
											'itemName': 'Side Header Offcanvas',
											'link': '#',
											'list':[
												{
													'itemName': 'Push',
													'link': '#',
												},
												{
													'itemName': 'Slide',
													'link': '#',
												},
											]
										},
										{
											'itemName': 'Side Header Narrow Bar',
											'link': '#',
										},
									]
								},
								{
									'itemName': 'Sign In / Sign Up',
									'link': '#',
								},
								{
									'itemName': 'Logged',
									'link': '#',
								},
								{
									'itemName': 'Mini Cart',
									'link': '#',
								},
								{
									'itemName': 'Search Styles',
									'link': '#',
									'list':[
										{
											'itemName': 'Simple Input',
											'link': '#'
										},
										{
											'itemName': 'Simple Input Reveal',
											'link': '#'
										},
										{
											'itemName': 'Dropdown',
											'link': '#'
										},
										{
											'itemName': 'Big Input Hidden',
											'link': '#'
										},
										{
											'itemName': 'Full Screen',
											'link': '#'
										},
									]
								},
								{
									'itemName': 'Extra',
									'link': '#',
									'list':[
										{
											'itemName': 'Big Icon',
											'link': '#'
										},
										{
											'itemName': 'Big Icons Top',
											'link': '#'
										},
										{
											'itemName': 'Button',
											'link': '#'
										},
										{
											'itemName': 'Background Color',
											'link': '#'
										},
									]
								},
							]
						},
						{
							'itemName': 'Navigations',
							'link': '#',
							'submenu':[
								{
									'itemName': 'Pills',
									'link': '#',
									'list':[
										{
											'itemName': 'Pills',
											'link': '#',
										},
										{
											'itemName': 'Pills + Arrows',
											'link': '#',
										},
										{
											'itemName': 'Pills Dark Text',
											'link': '#',
										},
										{
											'itemName': 'Pills Color Dropdown',
											'link': '#',
										},

										{
											'itemName': 'Pills Square',
											'link': '#',
										},
										{
											'itemName': 'Pills Rounded',
											'link': '#',
										},
									]
								},
								{
									'itemName': 'Stripes',
									'link': '#',
									'list':[
										{
											'itemName': 'Stripe',
											'link': '#',
										},
										{
											'itemName': 'Stripe Dark Text',
											'link': '#',
										},
										{
											'itemName': 'Stripe Color Dropdown',
											'link': '#',
										},
									]
								},
								{
									'itemName': 'Hover Effects',
									'link': '#',
									'list':[
										{
											'itemName': 'Top Line',
											'link': '#',
										},
										{
											'itemName': 'Top Line Color Dropdown',
											'link': '#',
										},
										{
											'itemName': 'Bottom Line',
											'link': '#',
										},
										{
											'itemName': 'Bottom Line Animated',
											'link': '#',
										},
										{
											'itemName': 'Slide',
											'link': '#',
										},
										{
											'itemName': 'Sub Title',
											'link': '#',
										},
										{
											'itemName': 'Line Under Text',
											'link': '#',
										},
									]
								},
								{
									'itemName': 'Vertical',
									'link': '#',
									'list':[
										{
											'itemName': 'Dropdown',
											'link': '#',
										},
										{
											'itemName': 'Expand',
											'link': '#',
										},
										{
											'itemName': 'Columns',
											'link': '#',
										},
										{
											'itemName': 'Slide',
											'link': '#',
										},
									]
								},
								{
									'itemName': 'Hamburguer',
									'link': '#',
									'list':[
										{
											'itemName': 'Sidebar',
											'link': '#',
										},
										{
											'itemName': 'Overlay',
											'link': '#',
										},
									]
								},
								{
									'itemName': 'Dropdown Styles',
									'link': '#',
									'list':[
										{
											'itemName': 'Dark',
											'link': '#',
										},
										{
											'itemName': 'Light',
											'link': '#',
										},
										{
											'itemName': 'Colors',
											'link': '#',
										},
										{
											'itemName': 'Top Line',
											'link': '#',
										},
										{
											'itemName': 'Square',
											'link': '#',
										},
										{
											'itemName': 'Arrow Dropdown',
											'link': '#',
										},
										{
											'itemName': 'Arrow Center Dropdown',
											'link': '#',
										},
										{
											'itemName': 'Modern Light',
											'link': '#',
										},
										{
											'itemName': 'Modern Dark',
											'link': '#',
										},
									]
								},
								{
									'itemName': 'Dropdown Effects',
									'link': '#',
									'list':[
										{
											'itemName': 'No Effect',
											'link': '#',
										},
										{
											'itemName': 'Opacity',
											'link': '#',
										},
										{
											'itemName': 'Move To Top',
											'link': '#',
										},
										{
											'itemName': 'Move To Bottom',
											'link': '#',
										},
										{
											'itemName': 'Move To Right',
											'link': '#',
										},
										{
											'itemName': 'Move To Left',
											'link': '#',
										},
									]
								},
								{
									'itemName': 'Font Styles',
									'link': '#',
									'list':[
										{
											'itemName': 'Small',
											'link': '#',
										},
										{
											'itemName': 'Medium',
											'link': '#',
										},
										{
											'itemName': 'Large',
											'link': '#',
										},
										{
											'itemName': 'Alternative',
											'link': '#',
										},
									]
								},
								{
									'itemName': 'Icons',
									'link': '#',
									'list':[
										{
											'itemName': 'Icons',
											'link': '#',
										},
										{
											'itemName': 'Float Icons',
											'link': '#',
										},
									]
								},
								{
									'itemName': 'Sub Title',
									'link': '#',
								},
								{
									'itemName': 'Divisors',
									'link': '#',
								},
								{
									'itemName': 'Logo Between',
									'link': '#',
								},
								{
									'itemName': 'One Page Nav',
									'link': '#',
								},
								{
									'itemName': 'Click To Open',
									'link': '#',
								},
							]
						},
					{
						'itemName': 'Page Headers',
						'link': '#',
						'submenu':[
							{
								'itemName': 'Overview',
								'link': '#',
							},
							{
								'itemName': 'Classic',
								'link': '#',
								'list':[
									{
										'itemName': 'Small',
										'link': '#',
									},
									{
										'itemName': 'Medium',
										'link': '#',
									},
									{
										'itemName': 'Large',
										'link': '#',
									},
								]
							},
							{
								'itemName': 'Modern',
								'link': '#',
								'list':[
									{
										'itemName': 'Small',
										'link': path('sixnapps.porto.page.headers.modern'),
									},
									{
										'itemName': 'Medium',
										'link': path('sixnapps.porto.page.headers.modern'),
									},
									{
										'itemName': 'Large',
										'link': path('sixnapps.porto.page.headers.modern'),
									},
								]
							},
							{
								'itemName': 'Colors',
								'link': '#',
								'list':[
									{
										'itemName': 'Primary',
										'link': '#',
									},
									{
										'itemName': 'Secondary',
										'link': '#',
									},
									{
										'itemName': 'Tertiary',
										'link': '#',
									},
									{
										'itemName': 'Quaternary',
										'link': '#',
									},
									{
										'itemName': 'Light',
										'link': '#',
									},
									{
										'itemName': 'Dark',
										'link': '#',
									},
								]
							},
							{
								'itemName': 'Title Position',
								'link': '#',
								'list':[
									{
										'itemName': 'Left',
										'link': '#',
										'list': [
											{
												'itemName': 'Small',
												'link': '#',
											},
											{
												'itemName': 'Medium',
												'link': '#',
											},
											{
												'itemName': 'Large',
												'link': '#',
											},
										]
									},
									{
										'itemName': 'Right',
										'link': '#',
										'list': [
											{
												'itemName': 'Small',
												'link': '#',
											},
											{
												'itemName': 'Medium',
												'link': '#',
											},
											{
												'itemName': 'Large',
												'link': '#',
											},
										]
									},
									{
										'itemName': 'Center',
										'link': '#',
										'list': [
											{
												'itemName': 'Small',
												'link': '#',
											},
											{
												'itemName': 'Medium',
												'link': '#',
											},
											{
												'itemName': 'Large',
												'link': '#',
											},
										]
									},

								]
							},
							{
								'itemName': 'Background',
								'link': '#',
								'list':[
									{
										'itemName': 'Fixed',
										'link': '#',
									},
									{
										'itemName': 'Parallax',
										'link': '#',
									},
									{
										'itemName': 'Video',
										'link': '#',
									},
									{
										'itemName': 'Transparent Header',
										'link': '#',
									},
									{
										'itemName': 'Pattern',
										'link': '#',
									},
									{
										'itemName': 'Overlay',
										'link': '#',
									},
									{
										'itemName': 'Clean (No Background)',
										'link': '#',
									},
								]
							},
							{
								'itemName': 'Extra',
								'link': '#',
								'list':[
									{
										'itemName': 'Breadcrumb',
										'link': '#',
										'list':[
											{
												'itemName': 'Outside',
												'link': '#',
											},
											{
												'itemName': 'Dark',
												'link': '#',
											},
										]
									},
									{
										'itemName': 'Scroll to Content',
										'link': '#',
									},
									{
										'itemName': 'Full Width',
										'link': '#',
									},
								]
							},
						]
					},








					{
						'itemName': 'Footers',
						'link': '#',
						'submenu':[
							{
								'itemName': 'Overview',
								'link': '#',
							},
							{
								'itemName': 'Classic',
								'link': '#',
								'list':[
									{
										'itemName': 'Classic',
										'link': path('sixnapps.porto.footers.classic'),
									},
									{
										'itemName': 'Advanced',
										'link': '#',
									},
									{
										'itemName': 'Compact',
										'link': '#',
									},
									{
										'itemName': 'Simple',
										'link': '#',
									},
									{
										'itemName': 'Locations',
										'link': '#',
									},
									{
										'itemName': 'Copyright',
										'link': '#',
										'list':[
											{
												'itemName': 'Light',
												'link': '#',
											},
											{
												'itemName': 'Dark',
												'link': '#',
											},
											{
												'itemName': 'Social Icons',
												'link': '#',
											},

										]
									},
									{
										'itemName': 'Colors',
										'link': '#',
										'list':[
											{
												'itemName': 'Primary',
												'link': '#',
											},
											{
												'itemName': 'Secondary',
												'link': '#',
											},
											{
												'itemName': 'Tertiary',
												'link': '#',
											},
											{
												'itemName': 'Quaternary',
												'link': '#',
											},
											{
												'itemName': 'Light',
												'link': '#',
											},
											{
												'itemName': 'Light Simple',
												'link': '#',
											},

										]
									},
								]
							},
							{
								'itemName': 'Modern',
								'link': '#',
								'list':[
									{
										'itemName': 'Modern',
										'link': path('sixnapps.porto.footers.modern'),
									},
									{
										'itemName': 'Font Style Alternative',
										'link': '#',
									},
									{
										'itemName': 'Clean',
										'link': '#',
									},
									{
										'itemName': 'Useful Links',
										'link': '#',
									},
									{
										'itemName': 'Background',
										'link': '#',
										'list': [
											{
												'itemName': 'Image Simple',
												'link': '#',
											},
											{
												'itemName': 'Image Advanced',
												'link': '#',
											},
											{
												'itemName': 'Video Simple',
												'link': '#',
											},
										]
									},
									{
										'itemName': 'Call to Action',
										'link': '#',
										'list': [
											{
												'itemName': 'Button',
												'link': '#',
											},
											{
												'itemName': 'Simple',
												'link': '#',
											},
										]
									},
								]
							},
							{
								'itemName': 'Blog',
								'link': '#',
								'list':[
									{
										'itemName': 'Blog Classic',
										'link': '#',
									},
								]
							},
							{
								'itemName': 'eCommerce',
								'link': '#',
								'list':[
									{
										'itemName': 'eCommerce Classic',
										'link': '#',
									},
								]
							},


							{
								'itemName': 'Contact Form',
								'link': '#',
								'list':[
									{
										'itemName': 'Classic',
										'link': '#',
									},
									{
										'itemName': 'Above the Map',
										'link': '#',
									},
									{
										'itemName': 'Center',
										'link': '#',
									},
									{
										'itemName': 'Columns',
										'link': '#',
									},
								]
							},
							{
								'itemName': 'Map',
								'link': '#',
								'list':[
									{
										'itemName': 'Hidden Map',
										'link': '#',
									},
									{
										'itemName': 'Full Width',
										'link': '#',
									},
								]
							},
							{
								'itemName': 'Extra',
								'link': '#',
								'list':[
									{
										'itemName': 'Simple',
										'link': '#',
										'list':[
											{
												'itemName': 'Top Social Icons',
												'link': '#',
											},
											{
												'itemName': 'Big Icons',
												'link': '#',
											}
										]
									},
									{
										'itemName': 'Recent Work',
										'link': '#',
									},
									{
										'itemName': 'Reveal',
										'link': '#',
									},
									{
										'itemName': 'Instagram',
										'link': '#',
									},
									{
										'itemName': 'Full Width',
										'link': '#',
										'list':[
											{
												'itemName': 'Simple Light',
												'link': '#',
											},
											{
												'itemName': 'Simple Dark',
												'link': '#',
											}
										]
									},

								]
							},





						]
					}

























					]
				},
				{
					'itemName': 'Pages',
					'link': '#'
				},
				{
					'itemName': 'Portfolio',
					'link': '#'
				},
				{
					'itemName': 'Blog',
					'link': '#'
				},
				{
					'itemName': 'Shop',
					'link': '#'
				},
			],


			'optionalFeatures': [

				porto_component('button-menu', {
					'label': 'Mon compte',
					'link': '#',
					'icon': 'fas fa-user',
					'list':[
						{
							'label': 'Voir mon profil',
							'link': '#',
							'icon': 'fas fa-user',
						},
						{
							'label': 'Éditer mon compte',
							'link': '#',
							'icon': 'fa fa-pencil-ruler',
						},
						{
							'label': 'Mes commandes',
							'link': '#',
							'icon': 'fa fa-luggage-cart',
						},
						{
							'label': 'Mes documents',
							'link': '#',
							'icon': 'fa fa-copy',
						},
						{
							'label': 'Administration',
							'link': '#',
							'icon': 'fa fa-cogs',
						},
						{
							'label': 'Déconnexion',
							'link': '#',
							'icon': 'fa fa-sign-out-alt',
						},
					]
				}),

				porto_component('cart-header', {
					'imgIcon': porto_asset('img/icons/icon-cart-big.svg'),
					'checkBtnTitle': 'Commander',
					'viewBtnTitle': 'Voir le panier',
					'checkBtnLink': '#',
					'viewBtnLink': '#',
					'removeTitle': 'Enlever cet article',
					'currency': '€',
					'list':[
						{
							'nameProduct': 'Nimbus 2019',
							'imgProduct': porto_asset('img/products/product-1.jpg'),
							'linkProduct': '#',
							'priceProduct': '299.99',
							'amountProduct': '2',
							'removeLinkProduct': '',
						},
						{
							'nameProduct': 'Rappel\'tou',
							'imgProduct': porto_asset('img/products/product-1.jpg'),
							'priceProduct': '29.99',
							'amountProduct': '4',
							'removeLinkProduct': '',
						}
					],
				}),

				porto_component('search-bar', {
					'method': 'post',
					'action': '',
					'class': 'order-1 order-lg-2  d-none d-md-block',
					'name': 'headersearch',
					'placeholder': 'Rechercher ...',
					'type': 'dropdown'
				}),

			],
		})
	}}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
	<div class="container py-2">
		<h1 class="text-center font-weight-extra-bold">HEADERS FLAT</h1>
		<p>Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu. iamque artuum et membrorum divulsa conpage superscandentes corpora mortuorum ad ultimam truncata deformitatem velut exsaturati mox abiecerunt in flumen.</p>
	</div>

{% endblock %}

{% block footer %}

	{% set logoUrl = porto_asset("img/logo-footer.png") %}

	{% set infoContact =
		porto_component('info-contact', {
			'title': 'Contactez-nous',
			'classTitle': 'text-6 text-transform-none font-weight-semibold text-color-light mb-4',
			'iconsShow': false,
			'address': {'icon': 'far fa-dot-circle', 'street': '4 rue du docteur Roux', 'zipCode': '79000', 'city': 'Niort'},
			'classText': 'text-3 mb-0 pt-0',
			'contacts': [
				{'title': 'Téléphone', 'icon': 'fab fa-whatsapp', 'body':'09 70 98 87 04', 'link':'tel:0970988704', 'titleShow':true},
				{'title': 'Email', 'icon': 'far fa-envelope', 'body':'contact@6napps.com', 'link':'mailto:contact@6napps.com', 'titleShow':true}
			]
		})
	%}
	{% set socialsIcons =
		porto_component('socials-icons', {
			'title': 'Suivez-nous !',
			'classTitle': 'text-6 text-transform-none font-weight-semibold text-color-light mb-4',
			'list': [
				{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/', 'icon':'facebook-f'},
				{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
				{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/', 'icon':'linkedin-in'},
				{'name': 'google-plus', 'link': 'https://plus.google.com/u/0/102034850553764491190', 'icon':'google-plus-g'},
			]
		})
	%}
	{% set liens =
		porto_component('footer-liens', {
			'title': 'Informations',
			'list': [
				{
					'label': 'Conditions générales de vente',
					'link': '#'
				},
				{
					'label': 'Conditions générales d\'utilisation',
					'link': '#'
				},
				{
					'label': 'Mentions légales',
					'link': '#'
				}
			]
		})
	%}

	{{ porto_component('footer-classic',{
			'listComponent': [
				{
					'class': 'col-md-6 col-lg-4 mb-4 mb-lg-0',
					'item': '<img src='~logoUrl~'>'
				},
				{
					'class': 'col-md-6 col-lg-3 mb-4 mb-lg-0',
					'item': liens
				},
				{
					'class': 'col-md-6 col-lg-3 mb-4 mb-md-0',
					'item': infoContact
				},
				{
					'class': 'col-md-6 col-lg-2',
					'item': socialsIcons
				},
			],
			'footerCopyright': {
				'min': true,
				'logoImage': porto_asset('img/logo-footer.png'),
				'logoAlt': "Porto Website Template",
				'logoLink': '#',
				'text': '© Copyright 2019. All Rights Reserved.',
				'subMenu': [
					{
						'title': 'FAQ\'s',
						'link': '#'
					},
					{
						'title': 'Sitemap',
						'link': '#'
					},
					{
						'title': 'Nous contacter',
						'link': '#'
					}
				]
			}

		})
	}}
{% endblock footer %}
