{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
    {% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

    <div role="main" class="main">

        <section
                class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5"
                style="background-image: url({{ porto_asset('img/page-header/page-header-elements.jpg') }});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 align-self-center p-static order-2 text-center">
                        <h1>Image Gallery</h1>

                    </div>
                    <div class="col-md-12 align-self-center order-1">
                        <ul class="breadcrumb breadcrumb-light d-block text-center">
                            <li><a href="#">Gallery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <h1>Gallery avec filtre</h1>

        <div class="container py-2">
            {{ porto_component('image-gallery-default',{
                filters:[
                    'filter1',
                    'filter2',
                    'filter3',
                    'filter4',
                    'filter5',
                ],
                data:[
                    {
                        img: 'images/image_1.jpeg',
                        title: 'Photo1',
                        category: 'filter1',
                    },
                    {
                        img: 'images/image_2.jpeg',
                        title: 'Photo2',
                        category: 'filter2',
                    },
                    {
                        img: 'images/image_3.jpeg',
                        title: 'Photo3',
                        category: 'filter3',
                    },
                    {
                        img: 'images/image_5.jpeg',
                        title: 'Photo4',
                        category: 'filter4',
                    },
                    {
                        img: 'images/image_4.jpeg',
                        title: 'Photo5',
                        category: 'filter1',
                    },
                    {
                        img: 'images/image_6.jpeg',
                        title: 'Photo6',
                        category: 'filter2',
                    },
                    {
                        img: 'images/image_7.jpeg',
                        title: 'Photo7',
                        category: 'filter5',
                    },
                    {
                        img: 'images/image_8.jpeg',
                        title: 'Photo8',
                        category: 'filter4',
                    },{
                        img: 'images/image_9.jpeg',
                        title: 'Photo9',
                        category: 'filter1',
                    },
                    {
                        img: 'images/image_10.jpeg',
                        title: 'Photo10',
                        category: 'filter5',
                    },
                ]
            }) }}
        </div>

        <h1>Gallery sans filtre</h1>

        <div class="container py-2">
            {{ porto_component('image-gallery-default',{
                data:[
                    {
                        img: 'images/image_1.jpeg',
                        title: 'Photo1',
                        text: 'Trop cool',
                        subTitle: 'Coooool'
                    },
                    {
                        img: 'images/image_2.jpeg',
                        title: 'Photo2',
                    },
                    {
                        img: 'images/image_3.jpeg',
                        title: 'Photo3',
                    },
                    {
                        img: 'images/image_6.jpeg',
                        title: 'Photo4',
                    },
                    {
                        img: 'images/image_5.jpeg',
                        title: 'Photo5',
                    },
                ]
            }) }}
        </div>

    </div>

{% endblock %}

{% block footer %}
    {{ porto_component('footer') }}
{% endblock footer %}
