{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
	{% include('@SixnappsPortoTemplate/components/intros/intro.html.twig') %}
	{% include('@SixnappsPortoTemplate/components/galleries/gallery.html.twig') %}
	{% include('@SixnappsPortoTemplate/components/previews/components.html.twig') %}
	{% include('@SixnappsPortoTemplate/components/previews/elements.html.twig') %}
	{% include('@SixnappsPortoTemplate/components/testimonials/testimonial.html.twig') %}
	{% include('@SixnappsPortoTemplate/components/features/features.html.twig') %}
	{% include('@SixnappsPortoTemplate/components/call-to-actions/call-to-action.html.twig') %}

{% endblock %}

{% block footer %}
	{% include('@SixnappsPortoTemplate/components/footers/footer.html.twig') %}
{% endblock footer %}
