{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block content %}

	<div role="main" class="main" style="min-height: calc(100vh - 393px);">
		<div class="container">
			<div class="row mt-5">
				<div class="col text-center">
					<div class="logo">
						<a href="{{ path('sixnapps.porto.index') }}">
							<img width="100" height="48" src="{{ porto_asset('img/logo-default.png') }}" alt="Porto">
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<hr class="solid my-5">
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<div class="overflow-hidden mb-2">
						<h2 class="font-weight-normal text-7 mb-0 appear-animation" data-appear-animation="maskUp"><strong class="font-weight-extra-bold">{{ item.title }}</strong></h2>
					</div>
					<div class="overflow-hidden mb-1">
						{{ item.message|html }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<hr class="solid my-5">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="row">
						{% for boxe in boxes %}

							{% if boxe.animation is defined and boxe.animation is not empty %}
								{% set animation = boxe.animation %}
							{% else %}
								{% set animation = 'fadeIn' %}
							{% endif %}

							{% if boxe.delay is defined and boxe.delay is not empty %}
								{% set delay = boxe.delay %}
							{% else %}
								{% set delay = '600' %}
							{% endif %}

							{% if boxe.size is defined and boxe.size is not empty %}
								{% set size = boxe.size %}
							{% else %}
								{% set size = 'col-lg-4' %}
							{% endif %}

							<div class="{{ size }} appear-animation" data-appear-animation="{{ animation }}" data-appear-animation-delay="{{ delay }}">
								<div class="feature-box">
									<div class="feature-box-icon">
										<i class="far fa-{{ boxe.icon }}"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="text-4 text-uppercase mb-1 font-weight-bold">{{ boxe.title }}</h4>
										<p class="mb-4">{{ boxe.content|html }}</p>
									</div>
								</div>
							</div>

						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block footer %}
	{% include('@SixnappsPortoTemplate/components/footers/footer.html.twig') %}
{% endblock footer %}
