{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% set map = default('map') %}
{% block content %}

	<div role="main" class="main">

		<section class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5" style="background-image: url({{ porto_asset('img/page-header/page-header-elements.jpg') }});">
			<div class="container">
				<div class="row">
					<div class="col-md-12 align-self-center p-static order-2 text-center">
						<h1>Maps</h1>

					</div>
					<div class="col-md-12 align-self-center order-1">
						<ul class="breadcrumb breadcrumb-light d-block text-center">
							<li><a href="#">Home</a></li>
							<li class="active">Elements</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<!-- Full Width -->
		<div id="{{ map.id }}" class="google-map mt-0 mb-0"></div>

	</div>


{% endblock %}

{% block javascript %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhZn-Oqs8-O9UXgvOakmWrq7jiJkHceKE"></script>

<script>

			// Full Width
			$("#{{ map['id'] }}").gMap({
				controls: {
					draggable: (( !$.browser.mobile )),
					{% for key, control in map.controls %}
						{{ key}}: {{  control == 1  ? 'true' : 'false' }},
					{% endfor %}
				},
				markers: [
				{% for marker in map.markers %}
					{
						address: "{{ marker.address }}",
						html: "{{ marker.html|html }}",
						icon: {
							image: "{{ porto_asset( marker.icon ) }}",
							iconsize: [26, 46],
							iconanchor: [12, 46]
						},
						popup: true
					},
				{% endfor %}
				],
				scrollwheel: {{ map.scrollwheel == 1 ? 'true' : 'false' }},
				zoom: {{ map.zoom }}
			});


</script>

{% endblock javascript %}

{% block footer %}
	{% include('@SixnappsPortoTemplate/components/footers/footer.html.twig') %}
{% endblock footer %}
