{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
	{{ porto_component('page-header-modern', {
			'size': 'sm',
			'title': 'Modern <strong>Small</strong>',
			'backgroundColor': '#005ea4',
			'lightText': true,
			'breadcrumb':{
				'breadcrumbColor': '#FFF',
				'breadcrumbLinkColor': '#FFF',
				'breadcrumbFinalColor': '#AAA',
				'breadcrumbList': [
					{
						'title':'Accueil',
						'link':'#'
					},
					{
						'title':'Features',
						'link':'#'
					},
					{
						'title':'Headers',
						'link':'#'
					},
					{
						'title':'Modern',
						'link':'#'
					}
				]
			}
		})
	}}

	{{ porto_component('page-header-modern', {
			'size': 'md',
			'title': 'Modern <strong>Medium</strong>',
			'breadcrumb':{
				'breadcrumbList': [
					{
						'title':'Accueil',
						'link':'#'
					},
					{
						'title':'Features',
						'link':'#'
					},
					{
						'title':'Headers',
						'link':'#'
					},
					{
						'title':'Modern',
						'link':'#'
					}
				]
			}
		})
	}}

	{{ porto_component('page-header-modern', {
		'size': 'lg',
		'title': 'Modern <strong>Large</strong>',
		'backgroundColor': '#cdae43',
		'lightText': true,
		'breadcrumb':{
			'breadcrumbColor': '#F00',
			'breadcrumbLinkColor': '#842',
			'breadcrumbFinalColor': '#C64',
			'breadcrumbList': [
				{
					'title':'Accueil',
					'link':'#'
				},
				{
					'title':'Features',
					'link':'#'
				},
				{
					'title':'Headers',
					'link':'#'
				},
				{
					'title':'Modern',
					'link':'#'
				}
			]
		}
	})
	}}
	<div class="container py-2">
		<h1 class="text-center font-weight-extra-bold">PAGE HEADERS</h1>
		<p>Sed ut tum ad senem senex de senectute, sic hoc libro ad amicum amicissimus scripsi de amicitia. Tum est Cato locutus, quo erat nemo fere senior temporibus illis, nemo prudentior; nunc Laelius et sapiens (sic enim est habitus) et amicitiae gloria excellens de amicitia loquetur. Tu velim a me animum parumper avertas, Laelium loqui ipsum putes. C. Fannius et Q. Mucius ad socerum veniunt post mortem Africani; ab his sermo oritur, respondet Laelius, cuius tota disputatio est de amicitia, quam legens te ipse cognosces.</p>
	</div>

{% endblock %}

{% block footer %}
	{% set newsletter =
		porto_component('newsletter-subscription', {
		'action': '',
		'method': 'post',
		'title': 'Notre newsletter',
		'text': 'Pour vous tenir à jour des dernières nouveautés, inscrivez-vous à notre newsletter !',
		'placeholder': 'Votre adresse Email',
		'submitText': 'ENVOYER',
		'successText': '<strong>Succès !</strong> Vous avez été ajouté à notre liste.',
		'errorText': '<strong>Erreur !</strong> L\'action a été annulée.'
	})
	%}
	{% set infoContact =
		porto_component('info-contact', {
		'title': 'Nous contacter',
		'address': {'icon': 'far fa-dot-circle', 'street': '4 rue du docteur Roux', 'city': 'Niort'},
		'contacts': [ {'title': 'Téléphone', 'icon': 'fab fa-whatsapp', 'body':'09 70 98 87 04', 'link':'tel:0970988704'}, {'title': 'Email', 'icon': 'far fa-envelope', 'body':'contact@6napps.com', 'link':'mailto:contact@6napps.com'} ]
	})
	%}
	{% set socialsIcons =
		porto_component('socials-icons', {
		'title': 'Nous suivre',
		'list': [
			{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/', 'icon':'facebook-f'},
			{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
			{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/', 'icon':'linkedin-in'},
			{'name': 'google-plus', 'link': 'https://plus.google.com/u/0/102034850553764491190', 'icon':'google-plus-g'},
		]
	})
	%}
	{% set twitterFeed =
		porto_component('twitter-feed', {
		'title': 'Derniers tweets',
		'twitterProfile': '6nApps',
		'darkTheme': 'true',
		'tweetLimit': '3',
	})
	%}

	{{ porto_component('footer-classic',{
		'ribbonText': 'Mettons-nous en relation',
		'listComponent': [
			{
				'class': 'col-md-6 col-lg-4 mb-4 mb-lg-0',
				'item': newsletter
			},
			{
				'class': 'col-md-6 col-lg-3 mb-4 mb-lg-0',
				'item': twitterFeed
			},
			{
				'class': 'col-md-6 col-lg-3 mb-4 mb-md-0',
				'item': infoContact
			},
			{
				'class': 'col-md-6 col-lg-2',
				'item': socialsIcons
			},
		],
		'footerCopyright': {
			'min': false,
			'logoImage': porto_asset('img/logo-footer.png'),
			'logoAlt': "Porto Website Template",
			'logoLink': '#',
			'text': '© Copyright 2019. All Rights Reserved.',
			'subMenu': [
				{
					'title': 'FAQ\'s',
					'link': '#'
				},
				{
					'title': 'Sitemap',
					'link': '#'
				},
				{
					'title': 'Nous contacter',
					'link': '#'
				}
			]
		}

	})
	}}
{% endblock footer %}

