{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

	<div role="main" class="main">

		<section class="page-header page-header-classic page-header-md">
			<div class="container">
				<div class="row">
					<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
						<h1 data-title-border>Services</h1>
					</div>
					<div class="col-md-4 order-1 order-md-2 align-self-center">
						<ul class="breadcrumb d-block text-md-right">
							<li><a href="#">Home</a></li>
							<li class="active">Pages</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		{% include('@SixnappsPortoTemplate/components/services/services.html.twig') %}



	</div>

{% endblock %}

{% block footer %}
	{% include('@SixnappsPortoTemplate/components/footers/footer.html.twig') %}
{% endblock footer %}
