{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
    {% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

    <div role="main" class="main">

        <section class="page-header page-header-classic page-header-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                        <h1 data-title-border>SHOP CART</h1>
                    </div>
                    <div class="col-md-4 order-1 order-md-2 align-self-center">
                        <ul class="breadcrumb d-block text-md-right">
                            <li><a href="#">SHOP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            {{ porto_component('shop-cart',{
                linkDeleteItem: null,
                linkItemFocus: null,
                linkReduceQuantity: null,
                linkChangeQuantity: null,
                linkAddToCart: null,
                total: '50',
                items:[
                    {
                        idPromotion: '1',
                        name: 'Sac bleu',
                        img: '#',
                        altImg: 'Sac bleu',
                        quantity: '5',
                        date: 'DU 26/06 AU 30/09',
                    },
                    {
                        idPromotion: '2',
                        name: 'Sac Vert',
                        img: '#',
                        altImg: 'Sac Vert',
                        quantity: '15',
                        date: 'DU 10/06 AU 14/7',
                    },
                ],
                magasinPromos:[
                    {
                        idMagasin: 10,
                        nomMag: 'Un bon mag 10',
                    },
                    {
                        idMagasin: 11,
                        nomMag: 'Un bon mag 11',
                    },
                    {
                        idMagasin: 12,
                        nomMag: 'Un bon mag 12',
                    },
                    {
                        idMagasin: 13,
                        nomMag: 'Un bon mag 13',
                    },
                ],
            }) }}
        </div>
    </div>
{% endblock %}

    {% block footer %}
        {% include('@SixnappsPortoTemplate/components/footers/footer.html.twig') %}
    {% endblock footer %}
