{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
    {% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

    <div role="main" class="main">

        <section class="page-header page-header-classic page-header-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                        <h1 data-title-border>SHOP FOCUS ITEM</h1>
                    </div>
                    <div class="col-md-4 order-1 order-md-2 align-self-center">
                        <ul class="breadcrumb d-block text-md-right">
                            <li><a href="#">SHOP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            {{ porto_component('shop-focus-item',{
                'item':{
                    'name':'Sac bleu',
                    'date':'Du 25/02 au 30/06',
                    'date2':'Du 25/05 au 30/12',
                    'price': 55,
                    'description': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus.',
                    'imgs':[
                        {
                            'src':'https://preview.oklerthemes.com/porto/7.4.0/img/products/product-grey-7.jpg',
                            'alt': 'Sac bleu',
                        },
                        {
                            'src':'https://preview.oklerthemes.com/porto/7.4.0/img/products/product-grey-7-2.jpg',
                            'alt': 'Sac bleu',
                        },
                        {
                            'src':'https://preview.oklerthemes.com/porto/7.4.0/img/products/product-grey-7-3.jpg',
                            'alt': 'Sac bleu',
                        },
                    ]
                }
            }) }}

            {{ porto_component('shop-custom-focus-item',{
                'inputName': 'addArticle',
                'item':{
                    'name':'Sac bleu',
                    'date':'Du 25/02 au 30/06',
                    'date2':'Du 25/05 au 30/12',
                    'description': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus.',
                    'imgSrc':'https://preview.oklerthemes.com/porto/7.4.0/img/products/product-grey-7.jpg',
                    'imgAlt': 'Sac bleu',
                },
                'articles':
                [
                    {
                        'id': 1,
                        'name': 'name 1',
                    },
                    {
                        'id': 2,
                        'name': 'name 2',
                    },
                    {
                        'id': 3,
                        'name': 'name 3',
                    },
                    {
                        'id': 4,
                        'name': 'name 4',
                    }
                ]

            }) }}
        </div>
    </div>
{% endblock %}

    {% block footer %}
        {% include('@SixnappsPortoTemplate/components/footers/footer.html.twig') %}
    {% endblock footer %}
