{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
    {% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

    <div role="main" class="main">

        <section class="page-header page-header-classic page-header-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                        <h1 data-title-border>SHOP 4 COLUMNS</h1>
                    </div>
                    <div class="col-md-4 order-1 order-md-2 align-self-center">
                        <ul class="breadcrumb d-block text-md-right">
                            <li><a href="#">SHOP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            {{ porto_component('shop-four-columns',{
                addToCart: false,
                itemsShop: [
                    {
                        'name':'Sac bleu',
                        'price': 50,
                        'img': 'https://preview.oklerthemes.com/porto/7.4.0/img/products/product-grey-7.jpg',
                        'imgAlt': 'Sac bleu',
                        'route':
                        {
                            'addToCart': 'front_accueil',
                            'addToCartParameter':
                            {
                                'promotion': 10
                            },
                            'focusItem': 'front_accueil',
                            'focusItemParameter':
                            {
                                'promotion': 10
                            },
                        },
                    },
                    {
                        'name':'Sac militaire',
                        'price': 35,
                        'img': 'https://preview.oklerthemes.com/porto/7.4.0/img/products/product-grey-8.jpg',
                        'imgAlt': 'Sac militaire',
                        'link':
                        {
                            'addToCart': '#',
                            'focusItem': '#',
                        },
                    },
                    {
                        'name':'Sac bleu',
                        'price': 50,
                        'img': 'https://preview.oklerthemes.com/porto/7.4.0/img/products/product-grey-7.jpg',
                        'imgAlt': 'Sac bleu',
                        'link':
                        {
                            'addToCart': '#',
                            'focusItem': '#',
                        },
                    },
                    {
                        'name':'Sac militaire',
                        'price': 35,
                        'img': 'https://preview.oklerthemes.com/porto/7.4.0/img/products/product-grey-8.jpg',
                        'imgAlt': 'Sac militaire',
                        'link':
                        {
                            'addToCart': '#',
                            'focusItem': '#',
                        },
                    },
                    {
                        'name':'Sac bleu',
                        'price': 50,
                        'img': 'https://preview.oklerthemes.com/porto/7.4.0/img/products/product-grey-7.jpg',
                        'imgAlt': 'Sac bleu',
                        'link':
                        {
                            'addToCart': '#',
                            'focusItem': '#',
                        },
                    },
                    {
                        'name':'Sac militaire',
                        'price': 35,
                        'img': 'https://preview.oklerthemes.com/porto/7.4.0/img/products/product-grey-8.jpg',
                        'imgAlt': 'Sac militaire',
                        'link':
                        {
                            'addToCart': '#',
                            'focusItem': '#',
                        },
                    }
                ]
            }) }}
        </div>
    </div>
{% endblock %}

    {% block footer %}
        {% include('@SixnappsPortoTemplate/components/footers/footer.html.twig') %}
    {% endblock footer %}
