{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

	<div role="main" class="main">

		<section class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5" style="background-image: url({{ porto_asset('img/page-header/page-header-elements.jpg') }});">
			<div class="container">
				<div class="row">
					<div class="col-md-12 align-self-center p-static order-2 text-center">
						<h1>Sliders</h1>
					</div>
					<div class="col-md-12 align-self-center order-1">
						<ul class="breadcrumb breadcrumb-light d-block text-center">
							<li><a href="#">Home</a></li>
							<li><a href="#">Features</a></li>
							<li class="active">Sliders</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<div class="container py-2">
			<h1 class="text-center"><strong>Revolution slider</strong></h1>
			{{ porto_component('slider-revo',
				{
					'options':{
						'bgColor': '#ffffff',
						'delay': 9000,
						'gridwidth': 1170,
						'gridheight': 670,
						'disableProgressBar': 'on',
						'responsiveLevels': [4096,1200,992,500],
						'parallax': {
							'type': 'scroll',
							'origo': 'enterpoint',
							'speed': 1000,
							'levels': [2,3,4,5,6,7,8,9,12,50],
							'disable_onmobile': 'on'
						},
						'navigation' : {
							'arrows': { 'enable': true },
							'bullets': {
								'enable': true,
								'style': 'bullets-style-1',
								'h_align': 'center',
								'v_align': 'bottom',
								'space': 7,
								'v_offset': 70,
								'h_offset': 0
							}
						}
					},
					'slides' : [
						{
							'transition': 'fade',
							'bgSrc': 'https://www.theglobeandmail.com/resizer/vq3O7LI3hvsjTP2N0m9NwU4W3Eg=/1500x0/filters:quality(80)/arc-anglerfish-tgam-prod-tgam.s3.amazonaws.com/public/4ETF3GZR3NA3RDDW23XDRBKKCI',
							'bgAlt': 'Forêt 1',
							'bgPositionX': 'center',
							'bgPositionY': 'center',
							'bgFit': 'cover',
							'bgRepeat': 'no-repeat',
							'items': [
								{
									'class': 'tp-resizeme rs-parallaxlevel-9',
									'type': 'image',
									'positionX': 'right',
									'positionY': 'top',
									'width': "['auto']",
									'height': "['auto']",
									'basealign': 'slide',
									'src': 'https://i.skyrock.net/0071/61040071/pics/3124461321_1_5_RMbLEQez.png',
									'alt': 'écureuil 1',
									'frames': [
										{
											"delay":1000,
											"speed":2000,
											"frame":"0",
											"from":"opacity:0;x:100%;y:-100%;",
											"to":"o:1;x:0;y:0;",
											"ease":"Power3.easeInOut"
										},
										{
											"delay":"wait",
											"speed":300,
											"frame":"999",
											"to":"opacity:0;fb:0;",
											"ease":"Power3.easeInOut"
										}
									]
								},
								{
									'class': 'tp-resizeme rs-parallaxlevel-6',
									'type': 'image',
									'positionX': '-500',
									'positionY': '-700',
									'width': "['auto']",
									'height': "['auto']",
									'basealign': 'slide',
									'src': 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Peace_sign.svg/1200px-Peace_sign.svg.png',
									'alt': 'peace sign',
									'frames': [
										{
											"delay":1500,
											"speed":2000,
											"frame":"0",
											"from":"opacity:0;x:-100%;y:-100%;",
											"to":"o:0.7;x:0;y:0;",
											"ease":"Power3.easeInOut"
										},
										{
											"delay":"wait",
											"speed":300,
											"frame":"999",
											"to":"opacity:0;fb:0;",
											"ease":"Power3.easeInOut"
										}
									]
								},
								{
									'class': 'tp-resizeme rs-parallaxlevel-9',
									'type': 'image',
									'parallax': '9',
									'positionX': 'left',
									'positionY': 'center',
									'width': "['auto']",
									'height': "['auto']",
									'basealign': 'slide',
									'src': 'https://img.over-blog-kiwi.com/1/48/86/09/20180916/ob_c498d7_ob-28da27-rpjcfciywhqo3osibyjn9ppir84.png',
									'alt': 'écureuil 2',
									'frames': [
										{
											"delay":1500,
											"speed":2000,
											"frame":"0",
											"from":"opacity:0;x:-100%;y:-100%;",
											"to":"o:1;x:0;y:0;",
											"ease":"Power3.easeInOut"
										},
										{
											"delay":"wait",
											"speed":300,
											"frame":"999",
											"to":"opacity:0;fb:0;",
											"ease":"Power3.easeInOut"
										}
									]
								},
								{
									'class': 'tp-resizeme',
									'positionX': 'center',
									'positionY': 'center',
									'hoffset': "['-175','-175','-175','-250']",
									'voffset': "['-50','-50','-50','-75']",
									'start': "1000",
									'transformIn': "x:-100%;opacity:0;s:500;",
									'transformIdle': 'opacity:0.5;s:500;',
									'src': 'https://res-2.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/ieinhlgc2vw9avmwmexk',
									'alt': 'toto',
								},
								{
									'class': 'tp-resizeme',
									'positionX': 'center',
									'positionY': 'center',
									'hoffset': "['175','175','175','250']",
									'voffset': "['-50','-50','-50','-75']",
									'start': "1000",
									'transformIn': "x:100%;opacity:0;s:500;",
									'transformIdle': 'opacity:0.5;s:500;',
									'src': 'https://res-2.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/ieinhlgc2vw9avmwmexk',
									'alt': 'toto',
								},
								{
									'class': 'text-color-light font-weight-normal',
									'text': 'DO YOU NEED',
									'positionX': 'center',
									'positionY': 'center',
									'voffset': "['-50','-50','-50','-75']",
									'start': "700",
									'fontsize': "['22','22','22','40']",
									'lineheight': "['25','25','25','45']",
									'transformIn': "y:[-50%];opacity:0;s:500;",
								},
								{
									'class': 'd-none d-md-block',
									'positionX': 'center',
									'positionY': 'center',
									'hoffset': "['80','80','80','135']",
									'voffset': "['-33','-33','-33','-55']",
									'src': 'https://www.visitgozo.com/wp-content/uploads/2017/03/line-png-16.png',
									'alt': 'ligne noire',
									'frames': [
										{
											"delay":2400,
											"speed":500,
											"frame":"0",
											"from":"opacity:0;x:10%;",
											"to":"opacity:0.5;x:0;",
											"ease":"Power3.easeInOut"
										},
										{
											"delay":"wait",
											"speed":300,
											"frame":"999",
											"to":"opacity:0;fb:0;",
											"ease":"Power3.easeInOut"
										}
									]
								},
								{
									'class': 'font-weight-extra-bold text-color-light negative-ls-2',
									'positionX': 'center',
									'positionY': 'center',
									'fontsize': "['50','50','50','90']",
									'lineheight': "['55','55','55','95']",
									'text': 'A NEW INTERNET ?',
									'frames': [
										{
											"delay":1000,
											"speed":3000,
											"frame":"0",
											"from":"sX:1.5;sY:5;opacity:0;fb:25px;",
											"to":"o:1;fb:0;",
											"ease":"Power3.easeInOut"
										},
										{
											"delay":"wait",
											"speed":300,
											"frame":"999",
											"to":"opacity:0;fb:0;",
											"ease":"Power3.easeInOut"
										}
									]
								},
								{
									'class': 'font-weight-light',
									'positionX': 'center',
									'positionY': 'center',
									'voffset': "['40','40','40','80']",
									'fontsize': "['18','18','18','50']",
									'lineheight': "['20','20','20','55']",
									'style': "color: #eeeeee",
									'text': '<strong>Discover Elvita from Sylvanus !</strong>',
									'frames': [
										{
											"from":"opacity:0;",
											"speed":300,
											"to":"o:1;",
											"delay":3000,
											"split":"chars",
											"splitdelay":0.05,
											"ease":"Power2.easeInOut"
										},
										{
											"delay":"wait",
											"speed":1000,
											"to":"y:[100%];",
											"mask":"x:inherit;y:inherit;s:inherit;e:inherit;",
											"ease":"Power2.easeInOut"
										}
									]
								},
							]
						},
						{
							'transition': 'fade',
							'class': 'slide-overlay',
							'bgSrc': 'http://www.passaran.com/wp-content/uploads/FORET-VALIER-1.jpg',
							'bgAlt': 'Forêt 2',
							'bgPositionX': 'center',
							'bgPositionY': 'center',
							'bgFit': 'cover',
							'bgRepeat': 'no-repeat',
							'items': [
								{
									'positionX': 'center',
									'positionY': 'center',
									'hoffset': "['-170','-170','-170','-350']",
									'voffset': "['-50','-50','-50','-75']",
									'start': "1000",
									'transformIn': "x:[-300%];opacity:0;s:500;",
									'transformIdle': 'opacity:0.2;s:500;',
									'src': porto_asset('img/slides/slide-title-border.png'),
									'alt': 'porto title border',
								},
								{
									'class': 'text-color-light font-weight-normal',
									'positionX': 'center',
									'positionY': 'center',
									'voffset': "['-50','-50','-50','-75']",
									'start': "700",
									'fontsize': "['16','16','16','40']",
									'lineheight': "['25','25','25','45']",
									'transformIn': "y:[-50%];opacity:0;s:500;",
									'text': 'WE ARE HARD AND PORTO HAS BIG....'

								},
								{
									'positionX': 'center',
									'positionY': 'center',
									'hoffset': "['170','170','170','350']",
									'voffset': "['-50','-50','-50','-75']",
									'start': "1000",
									'transformIn': "x:[300%];opacity:0;s:500;",
									'transformIdle': 'opacity:0.2;s:500;',
									'src': porto_asset('img/slides/slide-title-border.png'),
									'alt': 'porto title border',
								},
								{
									'class': 'font-weight-extra-bold text-color-light negative-ls-2',
									'positionX': 'center',
									'positionY': 'center',
									'fontsize': "['50','50','50','90']",
									'lineheight': "['55','55','55','95']",
									'text': 'DESIGN',
									'frames': [
										{
											"delay":1000,
											"speed":3000,
											"frame":"0",
											"from":"sX:1.5;sY:5;opacity:0;fb:25px;",
											"to":"o:1;fb:0;",
											"ease":"Power3.easeInOut"
										},
										{
											"delay":"wait",
											"speed":300,
											"frame":"999",
											"to":"opacity:0;fb:0;",
											"ease":"Power3.easeInOut"
										}
									]
								},
								{
									'class': 'font-weight-light ws-normal text-center',
									'positionX': 'center',
									'positionY': 'center',
									'voffset': "['60','60','60','105']",
									'width': "['400','400','400','800']",
									'fontsize': "['18','18','18','40']",
									'lineheight': "['26','26','26','45']",
									'style': "color: #eeeeee",
									'text': 'Trusted by over <strong class="text-color-light">30,000</strong> satisfied users, <br>Porto is <strong>huge</strong> in the <strong>largest</strong>.',
									'frames': [
										{
											"from":"opacity:0;",
											"speed":300,
											"to":"o:1;",
											"delay":2000,
											"split":"chars",
											"splitdelay":0.05,
											"ease":"Power2.easeInOut"
										},
										{
											"delay":"wait",
											"speed":1000,
											"to":"y:[100%];",
											"mask":"x:inherit;y:inherit;s:inherit;e:inherit;",
											"ease":"Power2.easeInOut"
										}
									]
								},
							]
						},
						{
							'transition': 'fade',
							'class': 'slide-overlay slide-overlay-tertiary',
							'bgSrc': 'https://www.wallpaperup.com/uploads/wallpapers/2013/02/02/32281/fd754941c41db1a3919a7da4c1ca16d2.jpg',
							'bgAlt': 'Forêt 3',
							'bgPositionX': 'center',
							'bgPositionY': 'center',
							'bgFit': 'cover',
							'bgRepeat': 'no-repeat',
							'items': [
								{
									'positionX': 'center',
									'positionY': 'center',
									'hoffset': "['-145','-145','-145','-320']",
									'voffset': "['-80','-80','-80','-130']",
									'start': "1000",
									'transformIn': "x:[-300%];opacity:0;s:500;",
									'transformIdle': 'opacity:0.2;s:500;',
									'src': porto_asset('img/slides/slide-title-border.png'),
									'alt': 'porto title border',
								},
								{
									'class': 'text-color-light font-weight-normal',
									'positionX': 'center',
									'positionY': 'center',
									'voffset': "['-80','-80','-80','-130']",
									'start': "700",
									'fontsize': "['16','16','16','40']",
									'lineheight': "['25','25','25','45']",
									'transformIn': "y:[-50%];opacity:0;s:500;",
									'text': 'WE ARE HUGE, WE ARE'

								},
								{
									'positionX': 'center',
									'positionY': 'center',
									'hoffset': "['145','145','145','320']",
									'voffset': "['-80','-80','-80','-130']",
									'start': "1000",
									'transformIn': "x:[300%];opacity:0;s:500;",
									'transformIdle': 'opacity:0.2;s:500;',
									'src': porto_asset('img/slides/slide-title-border.png'),
									'alt': 'porto title border',
								},
								{
									'class': 'font-weight-extra-bold text-color-light',
									'positionX': 'center',
									'positionY': 'center',
									'hoffset': "['-155','-155','-155','-255']",
									'fontsize': "['145','145','145','250']",
									'lineheight': "['150','150','150','260']",
									'text': 'P',
									'frames': [
										{
											"delay":1300,
											"speed":1000,
											"frame":"0",
											"from":"opacity:0;x:-50%;",
											"to":"opacity:0.7;x:0;",
											"ease":"Power3.easeInOut"
										},
										{
											"delay":"wait",
											"speed":300,
											"frame":"999",
											"to":"opacity:0;fb:0;",
											"ease":"Power3.easeInOut"
										}
									]
								},
								{
									'class': 'font-weight-extra-bold text-color-light',
									'positionX': 'center',
									'positionY': 'center',
									'hoffset': "['-80','-80','-80','-130']",
									'fontsize': "['145','145','145','250']",
									'lineheight': "['150','150','150','260']",
									'text': 'O',
									'frames': [
										{
											"delay":1500,
											"speed":1000,
											"frame":"0",
											"from":"opacity:0;x:-50%;",
											"to":"opacity:0.7;x:0;",
											"ease":"Power3.easeInOut"
										},
										{
											"delay":"wait",
											"speed":300,
											"frame":"999",
											"to":"opacity:0;fb:0;",
											"ease":"Power3.easeInOut"
										}
									]
								},
								{
									'class': 'font-weight-extra-bold text-color-light',
									'positionX': 'center',
									'positionY': 'center',
									'fontsize': "['145','145','145','250']",
									'lineheight': "['150','150','150','260']",
									'text': 'R',
									'frames': [
										{
											"delay":1700,
											"speed":1000,
											"frame":"0",
											"from":"opacity:0;x:-50%;",
											"to":"opacity:0.7;x:0;",
											"ease":"Power3.easeInOut"
										},
										{
											"delay":"wait",
											"speed":300,
											"frame":"999",
											"to":"opacity:0;fb:0;",
											"ease":"Power3.easeInOut"
										}
									]

								},
								{
									'class': 'font-weight-extra-bold text-color-light',
									'positionX': 'center',
									'positionY': 'center',
									'hoffset': "['65','65','65','115']",
									'fontsize': "['145','145','145','250']",
									'lineheight': "['150','150','150','260']",
									'text': 'T',
									'frames': [
										{
											"delay":1900,
											"speed":1000,
											"frame":"0",
											"from":"opacity:0;x:-50%;",
											"to":"opacity:0.7;x:0;",
											"ease":"Power3.easeInOut"
										},
										{
											"delay":"wait",
											"speed":300,
											"frame":"999",
											"to":"opacity:0;fb:0;",
											"ease":"Power3.easeInOut"
										}
									]
								},
								{
									'class': 'font-weight-extra-bold text-color-light',
									'positionX': 'center',
									'positionY': 'center',
									'hoffset': "['139','139','139','240']",
									'fontsize': "['145','145','145','250']",
									'lineheight': "['150','150','150','260']",
									'text': 'O',
									'frames': [
										{
											"delay":2100,
											"speed":1000,
											"frame":"0",
											"from":"opacity:0;x:-50%;",
											"to":"opacity:0.7;x:0;",
											"ease":"Power3.easeInOut"
										},
										{
											"delay":"wait",
											"speed":300,
											"frame":"999",
											"to":"opacity:0;fb:0;",
											"ease":"Power3.easeInOut"
										}
									]
								},
								{
									'class': 'font-weight-light text-color-light text-center',
									'positionX': 'center',
									'positionY': 'center',
									'voffset': "['85','85','85','140']",
									'fontsize': "['18','18','18','40']",
									'lineheight': "['26','26','26','45']",
									'style': "color: #eeeeee",
									'text': '<i class="fas fa-surprise fa-3x"></i>The best choice for your s....ite !',
									'frames': [

										{
											"from":"opacity:0;",
											"speed":300,
											"to":"o:1;",
											"delay":2300,
											"split":"chars",
											"splitdelay":0.05,
											"ease":"Power2.easeInOut"
										},
										{
											"delay":"wait",
											"speed":1000,
											"to":"y:[100%];",
											"mask":"x:inherit;y:inherit;s:inherit;e:inherit;",
											"ease":"Power2.easeInOut"
										}

									]
								},
							]
						}

					]
				})
			}}
			<div class="" style="width: 100%; position: absolute; left: 0; bottom: -80%; height: 10rem;">
				<svg preserveAspectRatio="none" viewBox="0 0 100 100" style="overflow: hidden; vertical-align: middle;">
					<polygon points="0 5, 0 3, 100 0, 100 5" opacity="1" style="fill: #fff"></polygon>
				</svg>
			</div>
		</div>

		{#<div class="" style="margin-top: -7rem">#}
			{#<div class="col-lg-9 text-center">#}
				{#<div class="row">#}
					{#<div class="col">#}
						{#<div class="row">#}
							{#<div class="col-md-6 col-lg-3 mb-5 mb-md-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">#}
								{#<div class="--small">#}
									{#<img class="img-fluid rounded-circle" src="http://downloadicons.net/sites/default/files/user-icon-44709.png" alt="Project Image">#}
									{#<span style="display: block; margin: 10px auto; width: 30px; height: 30px; background-color: #009882; color: #FFF; border-radius: 50%; font-size: 1.5em; font-weight: bold; line-height: 30px;">1</span>#}
								{#</div>#}
								{#<div class="">#}
									{#<p class="alternative-font text-tertiary"><strong>Je m'inscris sur ce site</strong></p>#}
								{#</div>#}
							{#</div>#}
							{#<div class="process-step col-md-6 col-lg-3 mb-5 mb-md-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">#}
								{#<div class="process-step-circle">#}
									{#<img class="img-fluid rounded-circle" src="http://downloadicons.net/sites/default/files/user-icon-44709.png" alt="Project Image">#}
								{#</div>#}
								{#<div class="process-step-content">#}
									{#<h4 class="mb-0 text-4 font-weight-bold">Second Step</h4>#}
									{#<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
								{#</div>#}
							{#</div>#}
							{#<div class="process-step col-md-6 col-lg-3 mb-5 mb-md-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">#}
								{#<div class="process-step-circle">#}
									{#<img class="img-fluid rounded-circle" src="http://downloadicons.net/sites/default/files/user-icon-44709.png" alt="Project Image">#}
								{#</div>#}
								{#<div class="process-step-content">#}
									{#<h4 class="mb-0 text-4 font-weight-bold">Third Step</h4>#}
									{#<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
								{#</div>#}
							{#</div>#}
							{#<div class="process-step col-md-6 col-lg-3 mb-5 mb-md-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">#}
								{#<div class="process-step-circle">#}
									{#<img class="img-fluid rounded-circle" src="http://downloadicons.net/sites/default/files/user-icon-44709.png" alt="Project Image">#}
								{#</div>#}
								{#<div class="process-step-content">#}
									{#<h4 class="mb-0 text-4 font-weight-bold">Fourth Step</h4>#}
									{#<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
								{#</div>#}
							{#</div>#}
						{#</div>#}
					{#</div>#}
				{#</div>#}
			{#</div>#}
		{#</div>#}

		<div class="" style="margin-top: -7rem">
			{{ porto_component('steps-home') }}
		</div>

		<h4 class="m-5">
			Je me souviens en fait, là on voit qu'on a beaucoup à travailler sur nous-mêmes car il faut se recréer... pour recréer... a better you et je ne cherche pas ici à mettre un point ! C'est pour ça que j'ai fait des films avec des replicants.
			<br>
			Oui alors écoute moi, je suis mon meilleur modèle car c'est un très, très gros travail et je ne cherche pas ici à mettre un point ! Et j'ai toujours grandi parmi les chiens.
			<br>
			Si je t'emmerde, tu me le dis, même si on frime comme on appelle ça en France... c'est un très, très gros travail et cette officialité peut vraiment retarder ce qui devrait devenir... C'est cette année que j'ai eu la révélation !
		</h4>

	</div>

{% endblock %}

{% block footer %}

	{% set logoUrl = porto_asset("img/logo-footer.png") %}

	{% set infoContact =
		porto_component('info-contact', {
		'title': 'Contactez-nous',
		'classTitle': 'text-6 text-transform-none font-weight-semibold text-color-light mb-4',
		'iconsShow': false,
		'address': {'icon': 'far fa-dot-circle', 'street': '4 rue du docteur Roux', 'zipCode': '79000', 'city': 'Niort'},
		'classText': 'text-3 mb-0 pt-0',
		'contacts': [
			{'title': 'Téléphone', 'icon': 'fab fa-whatsapp', 'body':'09 70 98 87 04', 'link':'tel:0970988704', 'titleShow':true},
			{'title': 'Email', 'icon': 'far fa-envelope', 'body':'contact@6napps.com', 'link':'mailto:contact@6napps.com', 'titleShow':true}
		]
	})
	%}
	{% set socialsIcons =
		porto_component('socials-icons', {
		'title': 'Suivez-nous !',
		'classTitle': 'text-6 text-transform-none font-weight-semibold text-color-light mb-4',
		'list': [
			{'name': 'facebook', 'link': 'https://www.facebook.com/6nApps/', 'icon':'facebook-f'},
			{'name': 'twitter', 'link': 'https://twitter.com/6nApps'},
			{'name': 'linkedin', 'link': 'https://www.linkedin.com/company/6napps/', 'icon':'linkedin-in'},
			{'name': 'google-plus', 'link': 'https://plus.google.com/u/0/102034850553764491190', 'icon':'google-plus-g'},
		]
	})
	%}
	{% set liens =
		porto_component('footer-liens', {
		'title': 'Informations',
		'list': [
			{
				'label': 'Conditions générales de vente',
				'link': '#'
			},
			{
				'label': 'Conditions générales d\'utilisation',
				'link': '#'
			},
			{
				'label': 'Mentions légales',
				'link': '#'
			}
		]
	})
	%}

	{{ porto_component('footer-classic',{
		'listComponent': [
			{
				'class': 'col-md-6 col-lg-4 mb-4 mb-lg-0',
				'item': '<img src='~logoUrl~'>'
			},
			{
				'class': 'col-md-6 col-lg-3 mb-4 mb-lg-0',
				'item': liens
			},
			{
				'class': 'col-md-6 col-lg-3 mb-4 mb-md-0',
				'item': infoContact
			},
			{
				'class': 'col-md-6 col-lg-2',
				'item': socialsIcons
			},
		],
		'footerCopyright': {
			'min': true,
			'logoImage': porto_asset('img/logo-footer.png'),
			'logoAlt': "Porto Website Template",
			'logoLink': '#',
			'text': '© Copyright 2019. All Rights Reserved.',
			'subMenu': [
				{
					'title': 'FAQ\'s',
					'link': '#'
				},
				{
					'title': 'Sitemap',
					'link': '#'
				},
				{
					'title': 'Nous contacter',
					'link': '#'
				}
			]
		}

	})
	}}
{% endblock footer %}
