{% if lightText is not defined %}
	{% set lightText = false %}
{% endif %}
{% if size is not defined %}
	{% set size = 'sm' %}
{% endif %}


{% if bundleExists('SonataSeoBundle') and title is not defined %}
	{% set title = sonata_seo_title()|striptags %}
{% endif %}

<section class="page-header page-header-modern bg-color-light-scale-1 page-header-{{ size }}"
		 {% if backgroundColor is defined %}style="background-color: {{ backgroundColor }} !important"{% endif %} style="padding:0">
	<div class="container container-lg">
		<div class="row">
			{% if breadcrumb is defined %}
				<div class="col-md-8">
					{% if title is defined %}
						<h1 class="pt-3 {% if lightText == false %}text-dark{% endif %}">{{ title|html }}</h1>
					{% endif %}
					{% if breadcrumb == "white-october" %}
						{{ wo_render_breadcrumbs({viewTemplate:'@SixnappsPortoTemplate/components/breadcrumbs/breadcrumb-white-october.html.twig'}) }}
					{% else %}
						{{ porto_component('breadcrumb-1', breadcrumb) }}
					{% endif %}
				</div>
				<div class="col-md-4">
					{% if app.user.magasin.idMagasin is defined and app.user.magasin.idMagasin is not null %}
						<div class="card border-0 border-radius-0 bg-color-primary">
							<div class="card-body p-2">
								<img alt="" class="img-fluid float-left mr-2" style="height:76px"
										{% if app.user.magasin.image is not null %}
											src="{{ path('front_static_file_folder', { 'folder': 'magasin', 'fileName': app.user.magasin.image }) }}"
										{% else %}
											src="{{ asset('/build/templates/porto/img/team/team-1.jpg') }}"
										{% endif %}
								>
								<h4 class="card-title mb-1 text-4 font-weight-bold text-light"
									style="white-space: nowrap; margin-left:100px">
									Votre magasin référent
								</h4>
								<h2 class="card-text text-light" style="white-space: nowrap; margin-left:100px">
									<a class="text-light"
									   href="{{ path('front_shop_show', {'id': app.user.magasin.idMagasin, 'magasin': app.user.magasin.nomMag|toURL}) }}">
										{{ app.user.magasin }}
									</a>
								</h2>
							</div>
						</div>
					{% endif %}
				</div>
			{% elseif title is defined %}
				<div class="col-md-12 order-2 order-md-1 align-self-center p-static">
					<h1 class="{% if lightText == false %}text-dark{% endif %}">{{ title|html }}</h1>
				</div>
			{% endif %}
		</div>
	</div>
</section>
