{% if lightText is not defined %}
	{% set lightText = false %}
{% endif %}
{% if size is not defined %}
	{% set size = 'sm' %}
{% endif %}


{% if bundleExists('SonataSeoBundle') and title is not defined %}
	{% set title = sonata_seo_title()|striptags %}
{% endif %}

<section class="page-header page-header-modern bg-color-light-scale-1 page-header-{{ size }}"
		 {% if backgroundColor is defined %}style="background-color: {{ backgroundColor }} !important"{% endif %}>
	<div class="container container-lg">
		<div class="row">
			{% if breadcrumb is defined %}
				<div class="col-12">
					{% if breadcrumb == "white-october" %}
						{{ wo_render_breadcrumbs({viewTemplate:'@SixnappsPortoTemplate/components/breadcrumbs/breadcrumb-white-october.html.twig'}) }}
					{% else %}
						{{ porto_component('breadcrumb-1', breadcrumb) }}
					{% endif %}
					{% if title is defined %}
						<h1 class="{% if lightText == false %}text-dark{% endif %}">{{ title|html }}</h1>
					{% endif %}
				</div>
			{% else %}
				{% if title is defined %}
					<div class="col-12 order-2 order-md-1 align-self-center p-static">
						<h1 class="{% if lightText == false %}text-dark{% endif %}">{{ title|html }}</h1>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>
</section>
