{% if title is not defined %}
	{% set title = 'Contact us' %}
{% endif %}
{% if classTitle is not defined %}
	{% set classTitle = 'text-3 mb-3' %}
{% endif %}
{% if iconsShow is not defined %}
	{% set iconsShow = true %}
{% endif %}
{% if classText is not defined %}
	{% set classText = '' %}
{% endif %}

{% if address is defined %}
	{% if address.icon is defined %}
		{% set addressIcon = address.icon %}
	{% else %}
		{% set addressIcon = 'far fa-dot-circle' %}
	{% endif %}
	{% if address.title is defined %}
		{% set addressTitle = address.title %}
	{% else %}
		{% set addressTitle = false %}
	{% endif %}
	{% if address.name is defined %}
		{% set addressName = address.name %}
	{% else %}
		{% set addressName = false %}
	{% endif %}
	{% if address.street is defined %}
		{% set addressStreet = address.street %}
	{% else %}
		{% set addressStreet = false %}
	{% endif %}
	{% if address.zipCode is defined %}
		{% set addressZipCode = address.zipCode %}
	{% else %}
		{% set addressZipCode = false %}
	{% endif %}
	{% if address.city is defined %}
		{% set addressCity = address.city %}
	{% else %}
		{% set addressCity = false %}
	{% endif %}
	{% if address.country is defined %}
		{% set addressCountry = address.country %}
	{% else %}
		{% set addressCountry = false %}
	{% endif %}
{% endif %}

<h5 class="{{ classTitle }}">{{ title }}</h5>
{% if iconsShow == true %}
<ul class="list list-icons list-icons-lg">
	<li class="mb-1">{% if iconsShow == true %}<i class="{{ addressIcon }} text-color-primary"></i>{% endif %}
{% endif %}
		<p class="m-0 {{ classText }}">
			{% if addressTitle != false %}{{ addressTitle }} : {% endif %}
			{% if addressName != false %}{{ addressName }}, {% endif %}
			{% if addressStreet != false %}{{ addressStreet }}, {% endif %}
			{% if addressZipCode != false %}{{ addressZipCode }}{% endif %}
			{% if addressCity != false %} {{ addressCity }}{% endif %}
			{% if addressCountry != false %}, {{ addressCountry }}{% endif %}
		</p>
	{% if iconsShow == true %}</li>{% endif %}
		{% for contact in contacts %}
			{% if contact.icon is defined %}
				{% set contactIcon = contact.icon %}
			{% else %}
				{% set contactIcon = 'far fa-dot-circle' %}
			{% endif %}
			{% if contact.title is defined %}
				{% if contact.titleShow is defined %}
					{% set contactTitleShow = contact.titleShow %}
				{% else %}
					{% set contactTitleShow = false %}
				{% endif %}
				{% set contactTitle = contact.title %}
			{% else %}
				{% set contactTitle = false %}
			{% endif %}
			{% if contact.link is defined %}
				{% set contactLink = contact.link %}
			{% else %}
				{% set contactLink = '#' %}
			{% endif %}
			{% if contact.body is defined %}
				{% set contactBody = contact.body %}
			{% else %}
				{% set contactBody = '' %}
			{% endif %}
			{% if iconsShow == true %}
				<li class="mb-1">
					<i class="{{ contactIcon }} text-color-primary"></i>
			{% endif %}
				<p class="m-0 {{ classText }}">
					{% if contactTitleShow == true %}{{ contactTitle }}:{% endif %}
					<a href="{{ contactLink }}">{{ contactBody }}</a>
				</p>
			{% if iconsShow == true %}</li>{% endif %}
		{% endfor %}
{% if iconsShow == true %}</ul>{% endif %}
