{% if title is not defined %}
	{% set title ='NEWSLETTER' %}
{% endif %}
{% if classTitle is not defined %}
	{% set classTitle = 'text-3 mb-3' %}
{% endif %}
{% if text is not defined %}
	{% set text ='' %}
{% endif %}
{% if action is not defined %}
	{% set action ='' %}
{% endif %}
{% if method is not defined %}
	{% set method ='get' %}
{% endif %}
{% if placeholder is not defined %}
	{% set placeholder ='Email Address' %}
{% endif %}
{% if submitText is not defined %}
	{% set submitText ='GO!' %}
{% endif %}
{% if successText is not defined %}
	{% set successText ='<strong>Success!</strong> You\'ve been added to our email list.' %}
{% endif %}
{% if errorText is not defined %}
	{% set errorText ='<strong>Error!</strong> Action has been canceled.' %}
{% endif %}

<h5 class="{{ classTitle }}">{{ title }}</h5>
<p class="pr-1">{{ text|html }}</p>
<div class="alert alert-success d-none" id="newsletterSuccess">
	{{ successText|html }}
</div>
<div class="alert alert-danger d-none" id="newsletterError">
	{{ errorText|html }}
</div>
<form id="newsletterForm" action="{{ action }}" method="{{ method }}" class="mr-4 mb-3 mb-md-0">
	<div class="input-group input-group-rounded">
		<input class="form-control form-control-sm bg-light" placeholder="{{ placeholder }}" name="newsletterEmail" id="newsletterEmail" type="email">
		<span class="input-group-append">
			<button class="btn {% if submitBtnLight is defined and submitBtnLight == true %}btn-primary text-color-light{% else %}btn-light text-color-dark{% endif %}" type="submit"><strong>{{ submitText }}</strong></button>
		</span>
	</div>
</form>
