{#{% if title is not defined %}#}
	{#{% set title = 'Follow us' %}#}
{#{% endif %}#}
{% if classTitle is not defined %}
	{% set classTitle = 'text-3 mb-3' %}
{% endif %}

{% if title is defined %}
	<h5 class="{{ classTitle }}">{{ title }}</h5>
{% endif %}
<ul class="header-social-icons social-icons">
	{% for item in list %}
		{% if item.icon is defined %}
			{% set icon = item.icon %}
		{% else %}
			{% set icon = item.name %}
		{% endif %}
		{% if  item.name is defined and item.link is defined %}
			<li class="social-icons-{{ item.name }}"><a href="{{ item.link }}" target="_blank" title="{{ item.name }}"><i class="fab fa-{{ icon }}"></i></a></li>
		{% endif %}
	{% endfor %}
</ul>

