{% if title is not defined %}
	{% set title = "LATEST TWEETS" %}
{% endif %}
{% if classTitle is not defined %}
	{% set classTitle = 'text-3 mb-3' %}
{% endif %}
{% if maxHeight is not defined %}
	{% set maxHeight = '150px' %}
{% endif %}

<h5 class="{{ classTitle }}">{{ title }}</h5>
{% if twitterProfile is defined %}
	<div id="twitterStyle">
		<a class="twitter-timeline"
		   href="https://twitter.com/{{ twitterProfile }}"
		   data-chrome="nofooter noborders noheader"
		   {% if tweetLimit is defined %}data-tweet-limit="{{ tweetLimit }}"{% endif %}
		   {% if linkColor is defined %} data-link-color="{{ linkColor }}"{% endif %}
		   {% if darkTheme is defined and darkTheme == true %}data-theme="dark"{% endif %}>
		</a>
	</div>
{% endif %}
{% include ('@SixnappsPortoTemplate/components/contact/twitter.css.twig' ) %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
