{#{% if accordion.title is defined and accordion.title is not empty %}#}
	{#{% set title = accordion.title %}#}
{#{% else %}#}
	{#{% set title = 'No Data' %}#}
{#{% endif %}#}

{% if accordion.items is defined and accordion.items is not empty %}
	{% set items = accordion.items %}
{% else %}
	{% set items = '' %}
{% endif %}

{% if accordion.parameters is defined and accordion.parameters is not empty %}
	{% set parameters = accordion.parameters %}
{% else %}
	{% set parameters = '' %}
{% endif %}

	<div class="{{ parameters.size }}">

		{% if accordion.title is defined and accordion.title is not empty %}<h4>{{ accordion.title }}</h4>{% endif %}

		<div class="accordion
			{% for card in parameters.card %}
				{{ card }}
			{% endfor %}
		" id="accordion">

			{% for item in items %}

				{% if item.icon is defined and item.icon is not empty %}
					{% set icon = item.icon %}
				{% else %}
					{% set icon = '' %}
				{% endif %}


				<div class="card card-default">
					<div class="card-header">
						<h4 class="card-title m-0">
							<a class="accordion-toggle
							{% for head in parameters.head %}
								{{ head }}
							{% endfor %}
							" data-toggle="collapse" data-parent="#accordion" href="#{{ item.title|toURL }}{{ loop.index
							}}">
								{% if icon is not empty %}
									<i class="fas fa-{{ icon.name }} {% if icon.color is not empty %} text-color-{{ icon.color }} {% endif %}"></i>
								{% endif %} {{ item.title|html }}
							</a>
						</h4>
					</div>
					<div id="{{ item.title|toURL }}{{ loop.index }}" class="collapse {% if loop.first %} show {% endif %}">
						<div class="card-body">
							<p class="mb-0">{{ item.content|html }}</p>
						</div>
					</div>
				</div>

			{% endfor %}

		</div>
	</div>
