{% if plans.gap is not defined or plans.gap is empty %}
	{% set gap = 'pricing-table-no-gap' %}
{% else %}
	{% set gap = '' %}
{% endif %}

{% if plans.number is defined and plans.number is not empty %}
	{% set number = plans.number %}
{% else %}
	{% set number = '' %}
{% endif %}

{% if plans.items is defined and plans.items is not empty %}
	{% set items = plans.items %}
{% else %}
	{% set items = '' %}
{% endif %}

{% if plans.currency is defined and plans.currency is not empty %}
	{% set currency = plans.currency %}
{% else %}
	{% set currency = '' %}
{% endif %}

{% if plans.parallax is defined and plans.parallax is not empty %}
	{% set parallax = plans.parallax %}
{% else %}
	{% set parallax = '' %}
{% endif %}

{% if parallax is not empty %}
<section class="parallax section section-text-light section-parallax mt-0 mb-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="{{ porto_asset( parallax ) }}">
{% endif %}
	<div class="container py-5 my-5">
		<div class="pricing-table {{ gap }} mb-4">
		{% for item in items %}

			{% if item.main is defined and item.main is not empty %}
				{% set main = 'true' %}
			{% else %}
				{% set main = '' %}
			{% endif %}

			{% if item.label is defined and item.label is not empty %}
				{% set label = item.label %}
			{% else %}
				{% set label = '' %}
			{% endif %}

			{% if item.price is defined and item.price is not empty %}
				{% set price = item.price %}
			{% else %}
				{% set price = '' %}
			{% endif %}

			{% if item.per is defined and item.per is not empty %}
				{% set per = item.per %}
			{% else %}
				{% set per = '' %}
			{% endif %}

			{% if item.objects is defined and item.objects is not empty %}
				{% set objects = item.objects %}
			{% else %}
				{% set objects = '' %}
			{% endif %}

			{% if item.button is defined and item.button is not empty %}
				{% set button = item.button %}
			{% else %}
				{% set button = '' %}
			{% endif %}

			<div class="{{ number == 3 ? 'col-md-4' : 'col-md-6 col-lg-3' }}">
				<div class="plan {% if main %} plan-featured {% endif %}">
					<div class="plan-header {% if main %} bg-primary {% endif %}">
						<h3>{{ label }}</h3>
					</div>
					<div class="plan-price">
						<span class="price"><span class="price-unit">{{ currency }}</span>{{ price }}</span>
						<label class="price-label">PER {{ per }}</label>
					</div>
					<div class="plan-features">
						<ul>
							{% for object in objects %}
								<li>{{ object }}</li>
							{% endfor %}
						</ul>
					</div>
					<div class="plan-footer">
						{% if main %}
							<a href="{{ button.link }}" class="btn btn-primary btn-modern py-2 px-4">{{ button.label }}</a>
						{% else %}
							<a href="{{ button.link }}" class="btn btn-dark btn-modern btn-outline py-2 px-4">{{ button.label }}</a>
						{% endif %}
					</div>
				</div>
			</div>

		{% endfor %}
		</div>
	</div>
{% if parallax is not empty %}
	</section>
{% endif %}


{#<div class="row">#}
	{#<div class="container py-5 my-">#}

		{#<div class="row mb-4">#}
			{#<div class="col">#}
				{#<hr class="tall my-5">#}
				{#<h4><strong>Pricing Block</strong> Style</h4>#}
			{#</div>#}
		{#</div>#}

		{#<div class="col">#}
			{#<div class="pricing-block border rounded">#}
				{#<div class="row">#}
					{#<div class="col-lg-9">#}
						{#<h2 class="font-weight-semibold text-6 line-height-1 mb-3">Start right now! The best HTML theme ever!</h2>#}
						{#<hr>#}
						{#<div class="row">#}
							{#<div class="col-lg-4">#}
								{#<ul class="list list-icons list-primary mb-0">#}
									{#<li><i class="icons icon-support text-color-primary"></i> Customer Support</li>#}
									{#<li><i class="icons icon-doc text-color-primary"></i> HTML5 / CSS3 / JS</li>#}
									{#<li class="mb-lg-0"><i class="icons icon-social-google text-color-primary"></i> 500+ Google Fonts</li>#}
								{#</ul>#}
							{#</div>#}
							{#<div class="col-lg-4">#}
								{#<ul class="list list-icons list-primary mb-0">#}
									{#<li><i class="icons icon-pencil text-color-primary"></i> Multiple Colors</li>#}
									{#<li><i class="icons icon-layers text-color-primary"></i> Ready Sliders</li>#}
									{#<li class="mb-lg-0"><i class="icons icon-user text-color-primary"></i> Tons of Icons</li>#}
								{#</ul>#}
							{#</div>#}
							{#<div class="col-lg-4">#}
								{#<ul class="list list-icons list-primary mb-0">#}
									{#<li><i class="icons icon-menu text-color-primary"></i> Buttons</li>#}
									{#<li><i class="icons icon-screen-desktop text-color-primary"></i> Lightbox</li>#}
									{#<li class="mb-0"><i class="icons icon-bubble text-color-primary"></i> Contact Forms</li>#}
								{#</ul>#}
							{#</div>#}
						{#</div>#}
					{#</div>#}
					{#<div class="col-lg-3">#}
						{#<h4 class="font-weight-bold">STANDARD</h4>#}
						{#<div class="plan-price mb-4">#}
							{#<span class="price"><span class="price-unit">$</span>17</span>#}
							{#<label class="price-label">PER MONTH</label>#}
						{#</div>#}
						{#<a href="#" class="btn btn-primary btn-modern btn-xl">Sign Up</a>#}
					{#</div>#}
				{#</div>#}
			{#</div>#}
		{#</div>#}
	{#</div>#}
{#</div>#}
