{% if breadcrumbList is defined %}
	<ul class="breadcrumb d-block text-md-right" {% if breadcrumbColor is defined %}style="color: {{ breadcrumbColor }}"{% endif %}>
		{% for item in breadcrumbList %}
			{% if item.title is defined %}
				{% set title = item.title %}
			{% else %}
				{% set title = 'title' %}
			{% endif %}
			{% if item.link is defined %}
				{% set link = item.link %}
			{% else %}
				{% set link = '#' %}
			{% endif %}
			{% if loop.last %}
				<li class="active" {% if breadcrumbFinalColor is defined %}style="color: {{ breadcrumbFinalColor }}"{% endif %}>{{ title }}</li>
			{% else %}
				<li><a href="{{ link }}" {% if breadcrumbLinkColor is defined %}style="color: {{ breadcrumbLinkColor }}"{% endif %}>{{ title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
{% endif %}
