{% if wo_breadcrumbs()|length %}
    <ul class="breadcrumb d-block">
        {% for b in breadcrumbs %}
            {% if loop.last %}
                <li class="active">{{ b.text }}</li>
            {% else %}
                <li><a href="{{ b.url }}">{{ b.text }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
