	<div class="container">
		<div class="row text-center">
			<div class="col-lg-9">
				<div class="row">
					<div class="col-3">
						<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
							<div class="--small">
								<img class="img-fluid rounded-circle" src="http://downloadicons.net/sites/default/files/user-icon-44709.png" alt="Project Image">
								<span style="display: block; margin: 10px auto; width: 30px; height: 30px; background-color: #009882; color: #FFF; border-radius: 50%; font-size: 1.5em; font-weight: bold; line-height: 30px;">1</span>
							</div>
							<div class="">
								<p class="alternative-font text-tertiary"><strong>Je m'inscris sur ce site</strong></p>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
							<div class="--small">
								<img class="img-fluid rounded-circle" src="http://downloadicons.net/sites/default/files/user-icon-44709.png" alt="Project Image">
								<span style="display: block; margin: 10px auto; width: 30px; height: 30px; background-color: #009882; color: #FFF; border-radius: 50%; font-size: 1.5em; font-weight: bold; line-height: 30px;">2</span>
							</div>
							<div class="">
								<p class="alternative-font text-tertiary"><strong>Je deviens coopérateur</strong></p>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
							<div class="">
								<img class="img-fluid rounded-circle" src="http://downloadicons.net/sites/default/files/user-icon-44709.png" alt="Project Image">
								<span style="display: block; margin: 10px auto; width: 30px; height: 30px; background-color: #009882; color: #FFF; border-radius: 50%; font-size: 1.5em; font-weight: bold; line-height: 30px;">3</span>
							</div>
							<div class="">
								<p class="alternative-font text-tertiary"><strong>Je profite des bons plans voyage, auto, immobilier ...</strong></p>
							</div>
						</div>
					</div>
					<div class="col-3">
						<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							<div class="">
								<img class="img-fluid rounded-circle" src="http://downloadicons.net/sites/default/files/user-icon-44709.png" alt="Project Image">
								<span style="display: block; margin: 10px auto; width: 30px; height: 30px; background-color: #009882; color: #FFF; border-radius: 50%; font-size: 1.5em; font-weight: bold; line-height: 30px;">4</span>
							</div>
							<div class="">
								<p class="alternative-font text-tertiary"><strong>Je profite des réductions dans les magasins Coop et U</strong></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 pt-5">
				<a href="#" class="btn btn-gradient btn-block btn-xl mt-5 mb-2" style="background: linear-gradient(135deg, #29cfdd 0%, #5b7fe9 80%);">Devenir coopérateur</a>
				<a href="#" class="btn btn-gradient btn-block btn-xl mb-2" style="background: linear-gradient(135deg, #42e298 0%, #3cb6b6 80%);">Partager cette offre</a>
			</div>
		</div>
	</div>
