{% if toggle.items is defined and toggle.items is not empty %}
	{% set items = toggle.items %}
{% else %}
	{% set items = '' %}
{% endif %}

{% if toggle.parameters is defined and toggle.parameters is not empty %}
	{% set parameters = toggle.parameters %}
{% else %}
	{% set parameters = '' %}
{% endif %}

<div class="{{ toggle.class }}">

	<hr class="d-lg-none tall" />

	{% if toggle.title is defined and toggle.title is not empty %}<h4>{{ toggle.title }}</h4>{% endif %}

	<div class="toggle toggle-{{ parameters.color }}
		{% if parameters.minimal %} toggle-minimal {% endif %}
		{% if parameters.simple %} toggle-simple  {% endif %}
		{% if parameters.size == 'small' %}
			toggle-sm
		{% elseif parameters.size == 'large' %}
			toggle-lg
		{% endif %}
		"
		 data-plugin-toggle

		{% if parameters.oneByOne %} data-plugin-options="{ 'isAccordion': true }" {% endif %}


	>

		{% for item in items %}
			<section class="toggle {% if loop.first %} active {% endif %}">
				<label>{{ item.label|html }}</label>
				<div class="toggle-content">
					<p>{{ item.content|html }}</p>
				</div>
			</section>
		{% endfor %}

	</div>
</div>
