<div class="row">
	<div class="col">

		<div class="row align-items-center">
			<div class="col-sm-3">

				<div class="pr-3 pr-sm-5 pb-3 pb-sm-0 border-right-light">
					<h4 class="mb-2">Default</h4>
					<p class="m-0">This is the default before / after style.</p>
				</div>

			</div>
			<div class="col-sm-9">

				<div data-plugin-before-after>
					<!-- The before image is first -->
					<img src="{{ porto_asset('img/generic/generic-before-after-1-1.jpg') }}" />
					<!-- The after image is last -->
					<img src="{{ porto_asset('img/generic/generic-before-after-1-2.jpg') }}" />
				</div>

			</div>
		</div>

	</div>
</div>
