<section class="section my-0">
	<div class="container py-5 my-5">
		<div class="row justify-content-center mt-5 py-4">
			<div class="col-12 col-sm-auto text-center text-sm-left mt-5">
				<span class="d-block font-weight-light negative-ls-1 text-5 ml-2 mb-1 appear-animation"
					  data-appear-animation="fadeInUp"><em class="opacity-8">Get to meet simply</em></span>
				<h1 class="font-weight-extra-bold text-color-dark negative-ls-3 text-10 mb-2 appear-animation"
					data-appear-animation="fadeInUp" data-appear-animation-delay="200"><em>THE BEST HTML SITE
																						   TEMPLATE</em></h1>
				<span class="d-block text-sm-right alternative-font text-color-primay ml-2 ml-sm-0 appear-animation"
					  data-appear-animation="fadeInUp" data-appear-animation-delay="400">since 2013</span>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-10 text-center">
				<p class="lead lead-2 mb-5 appear-animation" data-appear-animation="fadeInUp"
				   data-appear-animation-delay="600">Porto is simply the best choice for your new website. The theme is
													 several years among the most popular in the world, being constantly
													 improved and following the trends of design and best practices of
													 code. Your search for the best solution is over, get your own copy
													 and join thousands of happy customers.</p>
				<a href="#demos" data-hash data-hash-offset="125"
				   class="btn btn-primary btn-rounded btn-xl font-weight-semibold text-2 px-5 py-3 box-shadow-2 appear-animation"
				   data-appear-animation="fadeInUp" data-appear-animation-delay="800">VIEW ALL DEMOS</a>
			</div>
		</div>
	</div>
</section>
