{% set services = default('services') %}
{% for service in services %}

	{% if service.type is defined and service.type is not empty %}
		{% set type = service.type %}
	{% else %}
		{% set type = 'error' %}
	{% endif %}

	{% if service.items is defined and service.items is not empty %}
		{% set items = service.items %}
	{% else %}
		{% set items = '' %}
	{% endif %}

	{{ porto_component('service-' ~ type, { 'items': items }) }}
{% endfor %}
