<section class="section bg-color-primary section-height-3 border-0 mt-4 mb-0">
	<div class="container">

		<div class="row">
			<div class="col-md-10 py-3 mx-md-auto">


				{% for item in items %}

					<div class="row">

						{% for element in item %}


							{% if loop.index is not divisible by(2) %}

								<div class="col-lg-6">
									<div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter">
										<div class="feature-box-icon">
											<i class="icon-{{ element.icon }} icons text-color-light"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="mb-2 text-5 text-color-light">{{ element.title }}</h4>
											<p class="mb-4 text-color-light opacity-6">{{ element.content }}</p>
										</div>
									</div>
								</div>

							{% else %}

								<div class="col-lg-6">
									<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter">
										<div class="feature-box-icon">
											<i class="icon-{{ element.icon }} icons text-color-light"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="mb-2 text-5 text-color-light">{{ element.title }}</h4>
											<p class="mb-4 text-color-light opacity-6">{{ element.content }}</p>
										</div>
									</div>
								</div>

							{% endif %}



						{% endfor %}

					</div>

				{% endfor %}

			</div>
		</div>

	</div>

</section>
