{% if delay is not defined or delay is empty %}
	{% set delay = 700 %}
{% endif %}

<div class="container py-2">

	<div class="featured-boxes featured-boxes-style-2">
		<div class="row">

			{% for item in items %}

				<div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="{{ item.animation }}" data-appear-animation-delay="{{ delay }}">
					<div class="featured-box featured-box-effect-4">
						<div class="box-content">
							<i class="icon-featured icon-{{ item.icon }} icons text-color-{{ item.textColor }} bg-color-{{ item.bgColor }}"></i>
							<h4 class="font-weight-bold">{{ item.label }}</h4>
							<p class="px-3">{{ item.content|html }}</p>
						</div>
					</div>
				</div>

				{% set delay = delay + 200 %}

			{% endfor %}

		</div>
	</div>

</div>
