

<div class="container-fluid">
	<div class="row featured-boxes-full featured-boxes-full-scale">

		{% for item in items %}

			<div class="col-lg-3 featured-box-full featured-box-full-primary">
				<i class="far fa-{{ item.icon }}"></i>
				<h4>{{ item.label }}</h4>
				<p class="font-weight-light">{{ item.content|html }}</p>
			</div>

		{% endfor %}

	</div>
</div>
