<div class="container">
	<div class="row py-5 mt-5 mb-4">

		{% for item in items %}

			{% if loop.index is not divisible by(2) %}

				<div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
					<div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
						<div class="testimonial-author">
							<img src="{{ porto_asset( item.image ) }}" class="img-fluid rounded-circle mb-0" alt="">
						</div>
						<blockquote>
							<p class="text-color-dark text-5 line-height-5 mb-0">{{ item.message }}</p>
						</blockquote>
						<div class="testimonial-author">
							<p><strong class="font-weight-extra-bold text-3 mb-1">{{ item.author }}</strong><span>{{ item.job }}</span></p>
						</div>
					</div>
				</div>

			{% else %}

				<div class="col-md-6 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
					<div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
						<div class="testimonial-author">
							<img src="{{ porto_asset( item.image ) }}" class="img-fluid rounded-circle mb-0" alt="">
						</div>
						<blockquote>
							<p class="text-color-dark text-5 line-height-5 mb-0">{{ item.message }}</p>
						</blockquote>
						<div class="testimonial-author">
							<p><strong class="font-weight-extra-bold text-3 mb-1">{{ item.author }}</strong><span>{{ item.job }}</span></p>
						</div>
					</div>
				</div>

			{% endif %}

		{% endfor %}

	</div>
</div>
