<div class="row text-center mt-5 pb-5 mb-5">
	<div class="owl-carousel owl-theme carousel-center-active-item mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
		{% for item in items %}

			<div>
				<img class="img-fluid" src="{{ porto_asset( item ) }}" alt="">
			</div>

		{% endfor %}
	</div>
</div>
</div>
