<div class="row">
    <div class="col">
        {% if  filters is defined and filters is not null %}
            <ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="portfolio"
                data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
                <li class="nav-item active" data-option-value="*"><a class="nav-link text-1 text-uppercase active"
                                                                     href="#">Voir tout</a></li>
                {% for filter in filters %}
                    <li class="nav-item" data-option-value=".{{ filter }}"><a class="nav-link text-1 text-uppercase"
                                                                              href="#">{{ filter }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
            <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
                {% for item in data %}
                    <div class="col-12 col-sm-6 col-lg-3 isotope-item {% if filters is defined and filters is not null %}{{ item.category }}{% endif %}">
                        <div class="portfolio-item {% if (item.text is defined and item.text is not null) or (item.subTitle is defined  and item.subTitle is not null) %}mb-2{% endif %}">
                            {#<a {% if item.link is defined and item.link is not null %}href="{{ item.link }}" style="cursor: pointer" {% endif %}>#}
                            <a {% if item.link is defined and item.link is not null %}href="{{ path(item.link,item.linkParameter) }}"
                               style="cursor: pointer" {% endif %}>
												<span class="thumb-info thumb-info-lighten border-radius-0">
													<span class="thumb-info-wrapper border-radius-0">
														<img src="{{ asset(item.img) }}"
                                                             class="img-fluid border-radius-0"
                                                             {% if item.imgAlt is defined and item.imgAlt is not null %}alt="{{ item.imgAlt }}"{% endif %}>
														<span class="thumb-info-title">
															<span class="thumb-info-inner">{{ item.title }}</span>
                                                            {% if filters is defined and filters is not null %}
                                                                <span class="thumb-info-type">{{ item.category }}</span>
                                                            {% endif %}
														</span>
													</span>
												</span>
                            </a>
                        </div>
                        {% if item.subTitle is defined and item.subTitle is not null %}
                            <h4 class="mb-1">{{ item.subTitle }}</h4>
                        {% endif %}
                        {% if item.text is defined and item.text is not null %}
                            <p>{{ item.text }}</p>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>