<section class="section section-height-3 border-0 my-0">
	<div class="container container-lg">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="pr-5">
					<span class="d-block font-weight-light negative-ls-1 text-5 mb-1 appear-animation" data-appear-animation="fadeInUp"><em class="text-2 opacity-8">Porto comes with</em></span>
					<h1 class="font-weight-extra-bold text-color-dark negative-ls-3 line-height-1 text-7 mb-3 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200"><em>AMAZING FEATURES</em></h1>
					<span class="d-block alternative-font text-color-primay text-5 mb-4 pb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="400">Enjoy the power</span>
					<p class="lead mb-4 pb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">You can build almost any kind of website using Porto as base. The theme has several layouts options that you can easily modify.</p>
					<div class="row appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="800">
						<div class="col-md-6">
							<ul class="list list-icons list-style-none text-4 pl-none mb-2 pb-2 pr-3">
								<li class="text-1 text-color-primary mb-3"><i class="fa fa-check text-primary text-4 mr-1"></i> HTML5+JS+CSS+SCSS</li>
								<li class="text-1 text-color-primary mb-3"><i class="fa fa-check text-primary text-4 mr-1"></i> Wide &amp; Boxed</li>
								<li class="text-1 text-color-primary mb-3"><i class="fa fa-check text-primary text-4 mr-1"></i> Dark &amp; Light</li>
								<li class="text-1 text-color-primary mb-0 mb-md-3"><i class="fa fa-check text-primary text-4 mr-1"></i> RTL Support</li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="list list-icons list-style-none text-4 pl-none mb-2 pb-2 pr-3">
								<li class="text-1 text-color-primary mb-3"><i class="fa fa-check text-primary text-4 mr-1"></i> Bootstrap 4+</li>
								<li class="text-1 text-color-primary mb-3"><i class="fa fa-check text-primary text-4 mr-1"></i> SEO Optimized</li>
								<li class="text-1 text-color-primary mb-3"><i class="fa fa-check text-primary text-4 mr-1"></i> Blog Pages</li>
								<li class="text-1 text-color-primary mb-3"><i class="fa fa-check text-primary text-4 mr-1"></i> Shop Pages</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 fluid-col-lg-6" style="min-height: 35vw;">
				<div class="fluid-col">
					<div id="carouselSync" class="owl-carousel owl-theme d-none d-sm-block mb-0" data-plugin-options="{'items': 1, 'loop': true, 'nav': false, 'dots': false, 'mouseDrag': false, 'touchDrag': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut'}" style="z-index: 0;">
						<div>
							<img src="{{ porto_asset('img/porto-admin-preview-1.jpg') }}" class="img-fluid" alt="" />
						</div>
					</div>
					<div class="owl-carousel owl-theme carousel-sync-style-1 nav-bottom-inside nav-style-1 mb-0 px-3 px-sm-0" data-plugin-options="{'items': 1, 'loop': true, 'nav': false, 'dots': false, 'mouseDrag': false, 'touchDrag': false}" data-sync="#carouselSync">
						<div>
							<div class="card border-0">
								<div class="card-body text-center" style="padding: 3.5rem 2rem 1rem;">
									<span class="font-weight-light mb-1"><em>Check also...</em></span>
									<h2 class="text-color-primary font-weight-extra-bold line-height-1 text-6 mb-2"><em class="text-2">PORTO ADMIN</em></h2>
									<p class="text-2">Porto Admin is a perfect solution to create an administration system for your site.</p>
									<a href="https://themeforest.net/item/porto-admin-responsive-html5-template/8539472" class="btn btn-dark btn-rounded btn-xl font-weight-semibold box-shadow-2 text-2 px-5 mb-3">VIEW PORTO ADMIN - $24</a>
									<p class="text-muted text-1 mb-5">* NOT INCLUDED ON PORTO FRONT END</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
