{% if card.bgColor is defined and card.bgColor is not empty %}
	{% set bgColor = 'bg-color-' ~ card.bgColor %}
{% else %}
	{% set bgColor = '' %}
{% endif %}

{% if card.textColor is defined and card.textColor is not empty %}
	{% set textColor = card.textColor %}
{% else %}
	{% set textColor = '' %}
{% endif %}

{% if card.rounded is not defined or card.rounded is empty %}
	{% set rounded = 'border-radius-0' %}
{% else %}
	{% set rounded = '' %}
{% endif %}

{% if card.border is not defined or card.border is empty %}
	{% set border = 'border-border-0' %}
{% else %}
	{% set border = '' %}
{% endif %}

{% if card.shadow is defined and card.shadow is not empty %}
	{% set shadow = 'box-shadow-' ~ card.shadow %}
{% else %}
	{% set shadow = '' %}
{% endif %}

{% if card.hover is defined and card.hover is not empty %}
	{% set hover = card.hover %}
{% else %}
	{% set hover = '' %}
{% endif %}

{% if card.imageTop is defined and card.imageTop is not empty %}
	{% set imageTop = card.imageTop %}
{% else %}
	{% set imageTop = '' %}
{% endif %}

{% if card.imageBackground is defined and card.imageBackground is not empty %}
	{% set imageBackground = card.imageBackground %}
{% else %}
	{% set imageBackground = '' %}
{% endif %}

{% if card.header is defined and card.header is not empty %}
	{% set header = card.header %}
{% else %}
	{% set header = '' %}
{% endif %}

{% if card.footer is defined and card.footer is not empty %}
	{% set footer = card.footer %}
{% else %}
	{% set footer = '' %}
{% endif %}

{% if card.animation is defined and card.animation is not empty %}
	{% set animation = card.animation %}
{% else %}
	{% set animation = '' %}
{% endif %}

{% if card.title is defined and card.title is not empty %}
	{% set title = card.title %}
{% else %}
	{% set title = '' %}
{% endif %}

{% if card.content is defined and card.content is not empty %}
	{% set content = card.content %}
{% else %}
	{% set content = '' %}
{% endif %}

{% if card.button is defined and card.button is not empty %}
	{% set button = card.button %}

	{% if button.link is defined and button.link is not empty %}
		{% set link = button.link %}
	{% else %}
		{% set link = '' %}
	{% endif %}

	{% if button.label is defined and button.label is not empty %}
		{% set label = button.label %}
	{% else %}
		{% set label = '' %}
	{% endif %}

	{% if button.color is defined and button.color is not empty %}
		{% set color = 'btn-' ~ button.color %}
	{% else %}
		{% set color = '' %}
	{% endif %}

	{% if button.size is defined and button.size is not empty and button.size == 'big' %}
		{% set size = 'btn-modern' %}
	{% else %}
		{% set size = '' %}
	{% endif %}

	{% if button.blank is defined and button.blank is not empty %}
		{% set blank = 'target="_blank"' %}
	{% else %}
		{% set blank = '' %}
	{% endif %}

{% else %}
	{% set link ='' %}
	{% set label ='' %}
	{% set color ='' %}
	{% set size ='' %}
	{% set blank ='' %}
{% endif %}

{% if card.imageTop is defined and card.imageTop is not empty %}
	{% set imageTop = card.imageTop %}
{% else %}
	{% set imageTop = '' %}
{% endif %}

{#{% if card.XXX is defined and card.XXX is not empty %}#}
	{#{% set XXX = card.XXX %}#}
{#{% else %}#}
	{#{% set XXX = '' %}#}
{#{% endif %}#}


	<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="{{ animation }}" data-appear-animation-delay="200">

		<div class="card {{ border }} {{ rounded }} {{ bgColor }} {{ shadow }}">

			{% if imageTop %}
				<img class="card-img-top" src="{{ porto_asset( imageTop ) }}" alt="Card Image">
			{% endif %}

			{% if header %}
				<div class="card-header {{ header.color }}">
					{{ header.text }}
				</div>
			{% endif %}

			{% if imageBackground %}
				<div class=" text-center card card-background-image-hover border-0" style="background-image: url({{ porto_asset( imageBackground ) }});">
					<div class="card-body">
						<h4 class="card-title mb-1 text-4 font-weight-bold {{ title.color is defined ? title.color : '' }}">{{ title.text|html }}</h4>
						<p class="card-text {{ content.color is defined ? content.color : '' }}">{{ content.text|html }}</p>
						<a href="{{ link }}" class="btn {{ color }} {{ size }}" {{ blank }}>{{ label }}</a>
					</div>
				</div>
			{% else %}
				<div class="card-body">
					<h4 class="card-title mb-1 text-4 font-weight-bold {{ title.color is defined ? title.color : '' }}">{{ title.text|html }}</h4>
					<p class="card-text {{ content.color is defined ? content.color : '' }}">{{ content.text|html }}</p>
					<a href="{{ link }}" class="btn {{ color }} {{ size }}" {{ blank }}>{{ label }}</a>
				</div>
			{% endif %}

			{% if footer %}
				<div class="card-footer {{ footer.color is defined ? footer.color : '' }}">
					{{ footer.text }}
				</div>
			{% endif %}
		</div>

	</div>

