{% if cardFlip.content is defined and cardFlip.content is not empty %}
	{% set content = cardFlip.content %}
{% else %}
	{% set content = '' %}
{% endif %}

{% if cardFlip.title is defined and cardFlip.title is not empty %}
	{% set title = cardFlip.title %}
{% else %}
	{% set title = '' %}
{% endif %}

{% if cardFlip.button is defined and cardFlip.button is not empty %}
	{% set button = cardFlip.button %}
{% else %}
	{% set button = '' %}
{% endif %}

{% if cardFlip.backTitle is defined and cardFlip.backTitle is not empty %}
	{% set backTitle = cardFlip.backTitle %}
{% else %}
	{% set backTitle = '' %}
{% endif %}

{% if cardFlip.backContent is defined and cardFlip.backContent is not empty %}
	{% set backContent = cardFlip.backContent %}
{% else %}
	{% set backContent = '' %}
{% endif %}

{% if cardFlip.animation is defined and cardFlip.animation is not empty %}
	{% set animation = cardFlip.animation %}
{% else %}
	{% set animation = '' %}
{% endif %}

{% if cardFlip.rotation is defined and cardFlip.rotation is not empty %}
	{% set rotation = cardFlip.rotation %}
{% else %}
	{% set rotation = '' %}
{% endif %}

{% if cardFlip.threeD is defined and cardFlip.threeD is not empty %}
	{% set threeD = cardFlip.threeD %}
{% else %}
	{% set threeD = '' %}
{% endif %}



	<div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="{{ animation }}" data-appear-animation-delay="200">

		<div class="card flip-card text-center rounded-0 {{ threeD ? 'flip-card-3d' : '' }} {{ rotation == 'vertical' ? 'flip-card-vertical' : '' }}">
			<div class="flip-front p-5">
				<div class="flip-content my-4">
					<strong class="font-weight-extra-bold text-color-dark line-height-1 text-13 mb-3 d-inline-block">01</strong>
					<h4 class="font-weight-bold text-color-primary text-4">{{ title }}</h4>
					<p>{{ content }}</p>
				</div>
			</div>
			<div class="flip-back d-flex align-items-center p-5" style="background-image: url({{ porto_asset('img/generic/generic-corporate-17-1.jpg') }}); background-size: cover; background-position: center;">
				<div class="flip-content my-4">
					<h4 class="font-weight-bold text-color-light">{{ backTitle }}</h4>
					<p class="font-weight-light text-color-light opacity-5">{{ backContent }}</p>
					<a href="{{ button.link }}" class="btn btn-light btn-modern text-color-dark font-weight-bold" {{ button.blank ? 'target="_blank"' : '' }}>{{ button.label }}</a>
				</div>
			</div>
		</div>
	</div>

