{% if tooltip.popover is defined and tooltip.popover is not empty %}
	{% set popover = 'true' %}
{% else %}
	{% set popover = '' %}
{% endif %}

{% if tooltip.placement is defined and tooltip.placement is not empty %}
	{% set placement = tooltip.placement %}
{% else %}
	{% set placement = 'top' %}
{% endif %}

{% if tooltip.data is defined and tooltip.data is not empty %}
	{% set data = tooltip.data %}
{% else %}
	{% set data = 'No data' %}
{% endif %}

{% if popover == 'true' %}
	data-placement="{{ placement }}" data-toggle="popover" data-container="body" data-trigger="focus" data-content="{{ data }}"
{% else %}
	data-placement="{{ placement }}" data-toggle="tooltip"  title="{{ data }}"
{% endif %}
