{% if label is defined %}
	{% set btnLabel = label %}
{% else %}
	{% set btnLabel = 'titre' %}
{% endif %}
{% if link is defined %}
	{% set btnLink = link %}
{% else %}
	{% set btnLink = '#' %}
{% endif %}
{% if icon is not defined %}
	{% set icon =  'far fa-dot-circle'%}
{% endif %}

{% if list is defined %}
	<div class="btn-group" role="group">
		<a href="{{ btnLink }}" class="btn btn-modern btn-primary mb-2 header-btn header-nav-features-toggle" >
			<span class="d-none d-sm-block">
				<i class="{{ icon }}"></i><span class="ml-2">{{ btnLabel }}</span>
			</span>
			<span class="d-block d-sm-none">
				<i class="{{ icon }}"></i>
			</span>
		</a>
		<div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed header-btn-dropdown py-1">
			{% for item in list %}
				{% if item.label is defined %}
					{% set itemLabel = item.label %}
				{% else %}
					{% set itemLabel = 'titre' %}
				{% endif %}
				{% if item.link is defined %}
					{% set itemLink = item.link %}
				{% else %}
					{% set itemLink = '#' %}
				{% endif %}
				<a class="dropdown-item header-btn-dropdown-item link-button-menu" href="{{ itemLink }}">
					<p>
						{% if item.icon is defined%}
							<i class="{{ item.icon }}"></i><span class="ml-2">{{ itemLabel }}</span>
						{% else %}
							{{ itemLabel }}
						{% endif %}
					</p>
				</a>
			{% endfor %}
		</div>
	</div>
{% else %}
	<a href="{{ btnLink }}" class="btn btn-modern btn-primary mb-2 header-btn">
		<span class="d-none d-sm-block">
				<i class="{{ icon }}"></i><span class="ml-2">{{ btnLabel }}</span>
			</span>
		<span class="d-block d-sm-none">
				<i class="{{ icon }}"></i>
		</span>
	</a>
{% endif %}
{% include ('@SixnappsPortoTemplate/components/buttons/button.css.twig' ) %}
