{% if item.label is defined and item.label is not empty %}
	{% set label = item.label %}
{% else %}
	{% set label = 'No data' %}
{% endif %}

{% if item.content is defined and item.content is not empty %}
	{% set content = item.content %}
{% else %}
	{% set content = 'No data' %}
{% endif %}

{% if item.button is defined and item.button is not empty %}
	{% set button = item.button %}
{% else %}
	{% set button = '' %}
{% endif %}

{% if item.border is defined and item.border is not empty %}
	{% set border = item.border %}
	{% if border == 'light' %}
		{% set border = 'with-borders' %}
	{% else %}
		{% set border = 'with-full-borders' %}
	{% endif %}
{% else %}
	{% set border = '' %}
{% endif %}

{% if item.featured is defined and item.featured is not empty %}
	{% set featured = 'featured featured-' ~ item.featured %}
{% else %}
	{% set featured = '' %}
{% endif %}

{% if item.bg is defined and item.bg is not empty %}
	{% set bg = 'call-to-action-' ~ item.bg %}
{% else %}
	{% set bg = '' %}
{% endif %}

<section class="call-to-action {{ border }} {{ featured }} {{ bg }} mb-5">
	<div class="col-sm-9 col-lg-9">
		<div class="call-to-action-content">
			{{ label|html }}
			{{ content|html }}
		</div>
	</div>
	<div class="col-sm-3 col-lg-3">
		<div class="call-to-action-btn">
			<a href="{{ button.link is defined ? button.link : '#' }}" target="_blank" class="btn btn-modern text-2 btn-{{ button.color is defined ? button.color : 'primary' }}">{{ button.label is defined ? button.label : 'Clcik' }}</a>
		</div>
	</div>
</section>
