{% for item in items %}

	{% if item.image is defined and item.image is not empty %}
		{% set image = item.image %}
	{% else %}
		{% set image = '' %}
	{% endif %}

	{% if item.name is defined and item.name is not empty %}
		{% set name = item.name %}
	{% else %}
		{% set name = '' %}
	{% endif %}

	{% if item.role is defined and item.role is not empty %}
		{% set role = item.role %}
	{% else %}
		{% set role = '' %}
	{% endif %}

	{% if item.description is defined and item.description is not empty %}
		{% set description = item.description %}
	{% else %}
		{% set description = '' %}
	{% endif %}

	<div class="row">
		{% if loop.index is divisible by(2) %}
			<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
				<img src="{{ porto_asset( image ) }}" class="img-fluid" alt="">
			</div>
		{% endif %}
		<div class="col-md-7 order-2">
			<div class="overflow-hidden">
				<h2 class="text-color-dark font-weight-bold text-8 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">{{ name }}</h2>
			</div>
			<div class="overflow-hidden mb-3">
				<p class="font-weight-bold text-primary text-uppercase mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500">{{ role }}</p>
			</div>
			<p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">{{ description|html }}</p>
			{#<p class="pb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">Consectetur adipiscing elit. Aliquam iaculis sit amet enim ac sagittis. Curabitur eget leo varius, elementum mauris eget, egestas quam.</p>#}
			<hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
			<div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">
				<div class="col-lg-6">
					<a href="#" class="btn btn-modern btn-dark mt-3">Get In Touch</a>
					<a href="#" class="btn btn-modern btn-primary mt-3">Hire Me</a>
				</div>
				<div class="col-sm-6 text-lg-right my-4 my-lg-0">
					<strong class="text-uppercase text-1 mr-3 text-dark">follow me</strong>
					<ul class="social-icons float-lg-right">
						{% for social in item.social %}
							{% if social.link is defined and social.link is not empty %}
								{% set link = social.link %}
							{% else %}
								{% set link = '' %}
							{% endif %}

							{% if social.name is defined and social.name is not empty %}
								{% set name = social.name %}
							{% else %}
								{% set name = '' %}
							{% endif %}

							{% if name == 'facebook' %}
								{% set icon = 'fa-facebook-f' %}
							{% elseif name == 'linkedin' %}
								{% set icon = 'fa-linkedin-in' %}
							{% else %}
								{% set icon = 'fa-' ~ name %}
							{% endif %}

							<li class="social-icons-facebook"><a href="{{ link }}" target="_blank" title="{{ name }}"><i class="fab {{ icon }}"></i></a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		{% if loop.index is not divisible by(2) %}
			<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
				<img src="{{ porto_asset( image ) }}" class="img-fluid" alt="">
			</div>
		{% endif %}
	</div>

	<div class="row">
		<div class="col">
			<hr class="solid my-5">
		</div>
	</div>

{% endfor %}
