

<ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="team" data-option-key="filter">
	<li class="nav-item active" data-option-value="*"><a class="nav-link text-1 text-uppercase active" href="#">Show All</a></li>
	{% for category in categories %}
		<li class="nav-item" data-option-value=".{{ category }}"><a class="nav-link text-1 text-uppercase" href="#">{{ category }}</a></li>
	{% endfor %}
</ul>

<div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
	<div class="row team-list sort-destination" data-sort-id="team">

		{% for item in items %}

			{% if item.image is defined and item.image is not empty %}
				{% set image = item.image %}
			{% else %}
				{% set image = '' %}
			{% endif %}

			{% if item.name is defined and item.name is not empty %}
				{% set name = item.name %}
			{% else %}
				{% set name = '' %}
			{% endif %}

			{% if item.role is defined and item.role is not empty %}
				{% set role = item.role %}
			{% else %}
				{% set role = '' %}
			{% endif %}

			{% if item.description is defined and item.description is not empty %}
				{% set description = item.description %}
			{% else %}
				{% set description = '' %}
			{% endif %}

			{% if item.categories is defined and item.categories is not empty %}
				{% set categories = item.categories %}
			{% else %}
				{% set categories = '' %}
			{% endif %}

			<div class="col-12 col-sm-6 col-lg-3 isotope-item
			{% for category in categories %}
				{{ category }}
			{% endfor %}
			">
			<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
				<span class="thumb-info-wrapper">
					<a href="about-me.html">
						<img src="{{ porto_asset( image ) }}" class="img-fluid" alt="">
						<span class="thumb-info-title">
							<span class="thumb-info-inner">{{ name }}</span>
							<span class="thumb-info-type">{{ role }}</span>
						</span>
					</a>
				</span>
				<span class="thumb-info-caption">
					<span class="thumb-info-caption-text">{{ description|slice(0, 100)|html }}...</span>
					<span class="thumb-info-social-icons mb-4">
						{% for social in item.social %}
							{% if social.link is defined and social.link is not empty %}
								{% set link = social.link %}
							{% else %}
								{% set link = '' %}
							{% endif %}

							{% if social.name is defined and social.name is not empty %}
								{% set name = social.name %}
							{% else %}
								{% set name = '' %}
							{% endif %}

							{% if name == 'facebook' %}
								 {% set icon = 'fa-facebook-f' %}
							{% elseif name == 'linkedin' %}
								{% set icon = 'fa-linkedin-in' %}
							{% else %}
								{% set icon = 'fa-' ~ name %}
							{% endif %}


							<a target="_blank" href="{{ link }}"><i class="fab {{ icon }}"></i><span>{{ name }}</span></a>
						{% endfor %}
					</span>
				</span>
			</span>
			</div>

		{% endfor %}

	</div>
</div>
