{#Check page#}
{% if page == 'basic' %}
	{% set items = teamBasic %}
{% else %}
	{% set items = teamAdvanced %}
{% endif %}

{{ porto_component('team-' ~ page, { 'items': items, 'categories': default('teamCategories') }) }}
