{% if imgIcon is not defined %}
	{% set imgIcon = ''%}
{% endif %}
{% if checkBtnTitle is not defined %}
	{% set checkBtnTitle = 'Checkout'%}
{% endif %}
{% if viewBtnTitle is not defined %}
	{% set viewBtnTitle = 'View cart'%}
{% endif %}
{% if removeTitle is not defined %}
	{% set removeTitle = 'Remove this item'%}
{% endif %}
{% if checkBtnLink is not defined %}
	{% set checkBtnLink = '#'%}
{% endif %}
{% if viewBtnLink is not defined %}
	{% set viewBtnLink = '#'%}
{% endif %}
{% if currency is not defined %}
	{% set currency = '€'%}
{% endif %}

<a href="#" class="header-nav-features-toggle">
	<img src="{{ imgIcon }}" height="34" alt="Cart" class="header-nav-top-icon-img">
	{% set quantity = 0 %}
	{% if list is defined %}
		{% for product in list %}
			{% if product.amountProduct > 0 %}
				{% set quantity = quantity + product.amountProduct %}
			{% endif %}
		{% endfor %}
	{% endif %}
	{% if quantity > 0 %}
		<span class="cart-info">
			<span class="cart-qty">{{ quantity }}</span>
		</span>
	{% endif %}
</a>
{% set total = 0 %}
<div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed" id="headerTopCartDropdown">
	<ol class="mini-products-list">
		{% if list is defined %}
			{% for product in list %}
				{% if product.amountProduct is defined and product.amountProduct > 0 %}
					{% if product.nameProduct is defined %}
						{% set nameProduct = product.nameProduct %}
					{% else %}
						{% set nameProduct = 'Product' %}
					{% endif %}
					{% if product.imgProduct is defined %}
						{% set imgProduct = product.imgProduct %}
					{% else %}
						{% set imgProduct = '' %}
					{% endif %}
					{% if product.linkProduct is defined %}
						{% set linkProduct = product.linkProduct %}
					{% else %}
						{% set linkProduct = '#' %}
					{% endif %}
					{% if product.priceProduct is defined %}
						{% set priceProduct = product.priceProduct %}
					{% else %}
						{% set priceProduct = '0' %}
					{% endif %}
					{% if product.removeLinkProduct is defined %}
						{% set removeLinkProduct = product.removeLinkProduct %}
					{% else %}
						{% set removeLinkProduct = '#' %}
					{% endif %}
					<li class="item">
						<a href="{{ linkProduct }}" title="{{ nameProduct}}" class="product-image"><img src="{{ imgProduct }}" alt="{{ nameProduct }}"></a>
						<div class="product-details">
							<p class="product-name">
								<a href="{{ linkProduct }}">{{ nameProduct }}</a>
							</p>
							<p class="qty-price">
								{{ product.amountProduct }} X <span class="price">{{ priceProduct|number_format(2, ',', ' ') }}{{ currency }}</span>
							</p>
							<a href="{{ removeLinkProduct }}" title="Remove This Item" class="btn-remove"><i class="fas fa-times"></i></a>
						</div>
					</li>
					{% set total = total+priceProduct*product.amountProduct %}
				{% endif %}
			{% endfor %}
		{% endif %}
	</ol>
	<div class="totals">
		<span class="label">Total:</span>
		<span class="price-total"><span class="price">{{ total|number_format(2, ',', ' ') }}{{ currency }}</span></span>
	</div>
	<div class="actions">
		<a class="btn btn-dark header-cart-view-btn" href="{{ viewBtnLink }}">{{ viewBtnTitle }}</a>
		<a class="btn btn-primary header-cart-check-btn" href="{{ checkBtnLink }}">{{ checkBtnTitle }}</a>
	</div>
</div>

