<div class="header-top">
	<div class="container">
		<div class="header-row py-2">
			{% if itemsStart is defined %}
				<div class="header-column justify-content-start">
					<div class="header-row">
						<nav class="header-nav-top">
							<ul class="nav nav-pills">
								{% for item in itemsStart %}
									{% if item.item is defined %}
										<li class="nav-item {% if item.class is defined %}{{ item.class }}{% endif %}">
											{{ item.item|html }}
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</nav>
					</div>
				</div>
			{% endif %}
			{% if itemsEnd is defined %}
				<div class="header-column justify-content-end">
					<div class="header-row {% if itemEnd.class is defined %}{{ itemEnd.class }}{% endif %}">
						<nav class="header-nav-top">
							<ul class="nav nav-pills">
								{% for item in itemsEnd %}
									{% if item.item is defined %}
										<li class="nav-item {% if item.class is defined %}{{ item.class }}{% endif %}">
											{{ item.item|html }}
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</nav>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
