<style>
	@media (max-width: 991px) {
		{# *** MENU REDUIT *** #}
		#header .link-button-menu p {
			{% if textHoverColor is defined %}
				color: #{{ textHoverColor|html|slice(1) }};
			{% endif %}
		}

		#header .header-btn-collapse-nav {
			{% if menuBorderColor is defined %}
				background: #{{ menuBorderColor|html|slice(1) }} !important;
			{% endif %}
		}

		#header .header-btn-collapse-nav:hover {
			filter: brightness(115%);
		}

		#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a {
			{% if textColor is defined %}
				color: #{{ textColor|html|slice(1) }};
			{% endif %}
		}

		#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a.active:focus, #header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a.active:hover {
			{% if textHoverColor is defined %}
				background: # {{ textHoverColor|html|slice(1) }} !important;
			{% endif %}
		}

		#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a.active {
			{% if textHoverColor is defined %}
				background: #{{ textHoverColor|html|slice(1) }} !important;
			{% endif %}
		}

		#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li:hover > a.active {
		{% if textHoverColor is defined %}
			background: #{{ textHoverColor|html|slice(1) }};
		{% endif %}
			filter: brightness(115%);
		}
	}


	@media (min-width: 992px){
		{# *** LIGNE MENU *** #}
		#header .header-nav.header-nav-line nav > ul:not(:hover) li > a.active:before {
			{% if menuBorderHoverColor is defined %}
				background: #{{ menuBorderHoverColor|html|slice(1) }} !important;
			{% endif %}
		}

		#header .header-nav.header-nav-line nav > ul li:hover  > a:before {
			{% if menuBorderHoverColor is defined %}
				background: #{{ menuBorderHoverColor|html|slice(1) }} !important;
			{% endif %}
		}

		{# *** BORD MENU *** #}
		#header .header-nav-main nav > ul > li.dropdown .dropdown-menu {
			{% if menuBorderHoverColor is defined %}
				border-top-color: #{{ menuBorderHoverColor|html|slice(1) }} !important;
			{% endif %}
		}

		{# *** TEXTE MENU *** #}
		#header .header-nav.header-nav-line nav > ul:not(:hover) li > a.active {
			{% if textHoverColor is defined %}
				color: #{{ textHoverColor|html|slice(1) }} !important;
			{% endif %}
		}

		#header .header-nav.header-nav-line nav > ul li:hover > a {
			{% if textHoverColor is defined %}
				color: #{{ textHoverColor|html|slice(1) }} !important;
			{% endif %}
		}

		#header .header-nav.header-nav-links:not(.header-nav-light-text) nav > ul > li > a, #header .header-nav.header-nav-line:not(.header-nav-light-text) nav > ul > li > a {
			{% if textColor is defined %}
				color: #{{ textColor|html|slice(1) }};
			{% endif %}
		}
	}

	#header .header-btn{
		{% if menuBorderHoverColor is defined %}
			background-color: #{{ menuBorderHoverColor|html|slice(1) }};
			border-color: #{{ menuBorderHoverColor|html|slice(1) }};
		{% endif %}
	}

	#header .header-btn:active{
		{% if menuBorderHoverColor is defined %}
			background-color: #{{ menuBorderHoverColor|html|slice(1) }} !important;
			border-color: #{{ menuBorderHoverColor|html|slice(1) }}!important;
		{% endif %}
	}

	#header .header-cart-check-btn{
		{% if menuBorderColor is defined %}
			background-color: #{{ menuBorderColor|html|slice(1) }};
			border-color: #{{ menuBorderColor|html|slice(1) }};
		{% endif %}
	}

	#header .header-cart-view-btn{
		{% if menuBorderHoverColor is defined %}
			background-color: #{{ menuBorderHoverColor|html|slice(1) }};
			border-color: #{{ menuBorderHoverColor|html|slice(1) }};
		{% endif %}
	}

	#header .header-cart-check-btn:active{
		{% if menuBorderColor is defined %}
			background-color: #{{ menuBorderColor|html|slice(1) }} !important;
			border-color: #{{ menuBorderColor|html|slice(1) }}!important;
		{% endif %}
	}

	#header .header-cart-view-btn:active{
		{% if menuBorderHoverColor is defined %}
			background-color: #{{ menuBorderHoverColor|html|slice(1) }} !important;
			border-color: #{{ menuBorderHoverColor|html|slice(1) }}!important;
		{% endif %}
	}

	#header .header-cart-check-btn:hover{
		filter: brightness(115%) !important;
	}
	#header .header-cart-view-btn:hover{
		filter: brightness(115%) !important;
	}

</style>
