{% if logoAlt is not defined %}
    {% set logoAlt = 'logo' %}
{% endif %}
{% if logoLink is not defined %}
    {% set logoLink = '#' %}
{% endif %}
<header id="header" class="header-effect-shrink"
        data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
    <div class="header-body">
        {% if headerTop is defined %}
            {{ porto_component('header-top', headerTop ) }}
        {% endif %}
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="{{ logoLink }}">
                                {# If it's a link we do not use asset #}
                                {% if img.link is defined and img.link %}
                                    <img alt="{{ logoAlt }}" width="100" height="48" data-sticky-width="82"
                                         data-sticky-height="40" src="{{ img.url }}">
                                {% else %}
                                    <img alt="{{ logoAlt }}" width="100" height="48" data-sticky-width="82"
                                         data-sticky-height="40" src="{{ asset(img.url) }}">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border order-2 order-lg-1">
                            <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    {% if menu is defined %}
                                        <ul class="nav nav-pills" id="mainNav">
                                            {% for element in menu %}
                                                {% if element.mega is defined %}
                                                    {% set megaMenu = element.mega %}
                                                {% else %}
                                                    {% set megaMenu = false %}
                                                {% endif %}
                                                {% if element.active is defined %}
                                                    {% set active = element.active %}
                                                {% else %}
                                                    {% set active = false %}
                                                {% endif %}
                                                {% if element.itemName is defined %}
                                                    {% set name = element.itemName %}
                                                {% else %}
                                                    {% set name = 'Name' %}
                                                {% endif %}
                                                <li class="dropdown {% if megaMenu == true %}dropdown-mega{% endif %}">
                                                    <a class="dropdown-item dropdown-toggle{% if active == true %} active{% endif %}"
                                                            {# Check if is a link or a route#}
                                                       href="{% if element.link is defined and element.link is not null %}
                                                                {{ element.link }}
                                                            {% elseif element.route is defined and element.route is not null %}
                                                            {# Check if route a parameter#}
                                                                {% if element.routeParameter is defined and element.routeParameter is not null %}
                                                                    {{ path(element.route,element.routeParameter ) }}
                                                                {% else %}
                                                                    {{ path(element.route) }}
                                                                {% endif %}
                                                            {% endif %}">
                                                        {{ name|html }}
                                                    </a>
                                                    {% if element.menu is defined %}
                                                        <ul class="dropdown-menu">
                                                            {% if megaMenu == true %}
                                                            <div class="dropdown-mega-content">
                                                                <div class="row">
                                                                    {% endif %}
                                                                    {% for item in element.menu %}
                                                                        {% if megaMenu == true %}
                                                                            <div class="col-lg-3">
                                                                        {% endif %}
                                                                        {% if item.link is defined %}
                                                                            {% set itemlink = item.link %}
                                                                        {% else %}
                                                                            {% set itemlink = '#' %}
                                                                        {% endif %}
                                                                        {% if item.itemName is defined %}
                                                                            {% set itemName = item.itemName %}
                                                                        {% else %}
                                                                            {% set itemName = 'Item name' %}
                                                                        {% endif %}
                                                                        <li {% if item.submenu is defined %}class="dropdown-submenu"{% endif %}>
                                                                            {% if megaMenu == true %}
                                                                                <span class="dropdown-mega-sub-title">{{ itemName }}</span>
                                                                            {% else %}
                                                                                <a class="dropdown-item"
                                                                                   href="{{ itemlink }}">
                                                                                    {{ itemName }}{% if item.tipText is defined %}
                                                                                        <span class="tip tip-dark">{{ item.tipText }}</span>{% endif %}
                                                                                </a>
                                                                            {% endif %}
                                                                            {% if item.submenu is defined %}
                                                                                <ul class="{% if megaMenu == true %}dropdown-mega-sub-nav{% else %}dropdown-menu{% endif %}">
                                                                                    {% for subitem in item.submenu %}
                                                                                        {% if subitem.link is defined %}
                                                                                            {% set subitemlink = subitem.link %}
                                                                                        {% else %}
                                                                                            {% set subitemlink = '#' %}
                                                                                        {% endif %}
                                                                                        {% if subitem.itemName is defined %}
                                                                                            {% set subitemName = subitem.itemName %}
                                                                                        {% else %}
                                                                                            {% set subitemName = 'Sub-item name' %}
                                                                                        {% endif %}
                                                                                        {% if subitem.list is defined %}
                                                                                            <li class="dropdown-submenu">
                                                                                                <a class="dropdown-item"
                                                                                                   href="{{ subitemlink }}">{{ subitemName|html }}</a>
                                                                                                <ul class="dropdown-menu">
                                                                                                    {% for subsubitem in subitem.list %}
                                                                                                        {% if subsubitem.link is defined %}
                                                                                                            {% set subsubitemlink = subsubitem.link %}
                                                                                                        {% else %}
                                                                                                            {% set subsubitemlink = '#' %}
                                                                                                        {% endif %}
                                                                                                        {% if subsubitem.itemName is defined %}
                                                                                                            {% set subsubitemName = subsubitem.itemName %}
                                                                                                        {% else %}
                                                                                                            {% set subsubitemName = 'Sub-sub-item name' %}
                                                                                                        {% endif %}
                                                                                                        {% if subsubitem.list is defined %}
                                                                                                            <li class="dropdown-submenu">
                                                                                                                <a class="dropdown-item"
                                                                                                                   href="{{ subsubitemlink }}">{{ subsubitemName|html }}</a>
                                                                                                                <ul class="dropdown-menu">
                                                                                                                    {% for subsubsubitem in subsubitem.list %}
                                                                                                                        {% if subsubsubitem.link is defined %}
                                                                                                                            {% set subsubsubitemlink = subsubsubitem.link %}
                                                                                                                        {% else %}
                                                                                                                            {% set subsubsubitemlink = '#' %}
                                                                                                                        {% endif %}
                                                                                                                        {% if subsubsubitem.itemName is defined %}
                                                                                                                            {% set subsubsubitemName = subsubsubitem.itemName %}
                                                                                                                        {% else %}
                                                                                                                            {% set subsubsubitemName = 'Sub-sub-sub-item name' %}
                                                                                                                        {% endif %}
                                                                                                                        <li>
                                                                                                                            <a class="dropdown-item"
                                                                                                                               href="{{ subsubsubitemlink }}"
                                                                                                                               {% if subsubsubitem.imgUrl is defined %}data-thumb-preview="{{ subsubsubitem.imgUrl }}"{% endif %}>
                                                                                                                                {{ subsubsubitemName|html }}
                                                                                                                            </a>
                                                                                                                        </li>
                                                                                                                    {% endfor %}
                                                                                                                </ul>
                                                                                                            </li>
                                                                                                        {% else %}
                                                                                                            <li>
                                                                                                                <a class="dropdown-item"
                                                                                                                   href="{{ subsubitemlink }}"
                                                                                                                   {% if subsubitem.imgUrl is defined %}data-thumb-preview="{{ subsubitem.imgUrl }}"{% endif %}>{{ subsubitemName }}</a>
                                                                                                            </li>
                                                                                                        {% endif %}
                                                                                                    {% endfor %}
                                                                                                </ul>
                                                                                            </li>
                                                                                        {% else %}
                                                                                            <li><a class="dropdown-item"
                                                                                                   href="{{ subitemlink }}"
                                                                                                   {% if subitem.imgUrl is defined %}data-thumb-preview="{{ subitem.imgUrl }}"{% endif %}>{{ subitemName|html }}</a>
                                                                                            </li>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            {% endif %}
                                                                        </li>
                                                                        {% if megaMenu == true %}
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    {% if megaMenu == true %}
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}



                                            {#<li class="dropdown">#}
                                            {#<a class="dropdown-item dropdown-toggle active" href="#">#}
                                        </ul>
                                    {% endif %}
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse"
                                    data-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>

                        {% if optionalFeatures is defined %}
                            <div class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2 mx-auto">
                                {% for feature in optionalFeatures %}
                                    <div class="header-nav-feature header-nav-features-cart d-inline-flex ml-2">
                                        {{ feature|html }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% include ('@SixnappsPortoTemplate/components/headers/header.css.twig' ) %}
