	{% set defaultOk = false %}
	<a class="nav-link" href="#" role="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{% for language in languages if defaultOk == false %}
			{% if language.choosed is defined and language.choosed == true %}
				{% if language.code is defined and language.name is defined %}
					<img src="{{ porto_asset('img/blank.gif') }}" class="flag flag-{{ language.code }}" alt="{{ language.name }}" /> {{ language.name }}
					{% set defaultOk = true %}
				{% endif %}
			{% endif %}
		{% endfor %}
		{% if defaultOk == false %}
			<img src="{{ porto_asset('img/blank.gif') }}" class="flag flag-{{ languages[0].code }}" alt="{{ languages[0].name }}" /> {{ languages[0].name }}
		{% endif %}
		<i class="fas fa-angle-down"></i>
	</a>
	<div class="dropdown-menu" aria-labelledby="dropdownLanguage">
		{% for language in languages %}
			{% if language.code is defined and language.name is defined %}
				<a class="dropdown-item" href="#"><img src="{{ porto_asset('img/blank.gif') }}" class="flag flag-{{ language.code }}" alt="{{ language.name }}" /> {{ language.name }}</a>
			{% endif %}
		{% endfor %}
	</div>

