{% if options is defined and options.gridheight is defined %}
	{% set gridheight = options.gridheight %}
{% else %}
	{% set gridheight = '500' %}
{% endif %}
{% if options is defined and options.bgColor is defined %}
	{% set bgColor = options.bgColor %}
{% else %}
	{% set bgColor = '#000' %}
{% endif %}
<div class="slider-container rev_slider_wrapper" style="height: {{ gridheight }}px; background-color: {{ bgColor }}">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider {% if options is defined %}data-plugin-options="{{ options|json_encode() }}"{% endif %}>
		{% if slides is defined %}
			<ul>
				{% for slide in slides %}
					<li {% if slide.class is defined %}class="{{ slide.class }}"{% endif %} {% if slide.transition is defined %}data-transition="{{ slide.transition }}{% endif %}">
						{% if slide.bgSrc is defined %}
							{% set bgSrc = slide.bgSrc %}
							{% if slide.bgAlt is defined %}
								{% set bgAlt = slide.bgAlt %}
							{% else %}
								{% set bgAlt = '' %}
							{% endif %}
							{% if slide.bgPositionX is defined %}
								{% set bgPositionX = slide.bgPositionX %}
							{% else %}
								{% set bgPositionX = 'center' %}
							{% endif %}
							{% if slide.bgPositionY is defined %}
								{% set bgPositionY = slide.bgPositionY %}
							{% else %}
								{% set bgPositionY = 'center' %}
							{% endif %}
							{% if slide.bgFit is defined %}
								{% set bgFit = slide.bgFit %}
							{% else %}
								{% set bgFit = 'contain' %}
							{% endif %}
							{% if slide.bgRepeat is defined %}
								{% set bgRepeat = slide.bgRepeat %}
							{% else %}
								{% set bgRepeat = 'no-repeat' %}
							{% endif %}
							<img src="{{ bgSrc }}"
								 alt="{{ bgAlt }}"
								 data-bgposition="{{ bgPositionX }} {{ bgPositionY }}"
								 data-bgfit="{{ bgFit }}"
								 data-bgrepeat="{{ bgRepeat }}"
								 class="rev-slidebg">
						{% endif %}

						{#<div class="tp-caption tp-resizeme tp-videolayer"#}
							 {#data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 300, "to": "opacity: 0"}]'#}
							 {#data-type="video"#}
							 {#data-ytid="r6y3moxAtXQ"#}
							 {#data-videowidth="1270"#}
							 {#data-videoheight="720"#}
							 {#data-autoplay="true"#}
							 {#data-videocontrols="controls"#}
							 {#data-nextslideatend="true"#}
							 {#data-forcerewind="on"#}
							 {#data-videoloop="loopandnoslidestop"#}
							 {#data-videoattributes="version=3&enablejsapi=1&html5=1&hd=1&wmode=opaque&showinfo=0&rel=0&origin=http://192.168.0.5;"#}
							 {#data-x="center"#}
							 {#data-y="center"#}
							 {#data-hoffset="0"#}
							 {#data-voffset="0"#}
							 {#data-basealign="slide">#}
						{#<div>#}

						{% if slide.items is defined %}
							{% for item in slide.items %}
								<div class="tp-caption {%  if item.class is defined %}{{ item.class }}{% endif %}"
										{% if item.frames is defined %}data-frames="{{ item.frames|json_encode() }}"{% endif %}
										{% if item.type is defined %}data-type="{{ item.type }}"{% endif %}
										{% if item.positionX is defined %}data-x="{{ item.positionX }}"{% endif %}
										{% if item.positionY is defined %}data-y="{{ item.positionY }}"{% endif %}
										{% if item.hoffset is defined %}data-hoffset="{{ item.hoffset }}"{% endif %}
										{% if item.voffset is defined %}data-voffset="{{ item.voffset }}"{% endif %}
										{% if item.start is defined %}data-start="{{ item.start }}"{% endif %}
										{% if item.width is defined %}data-width="{{ item.width }}"{% endif %}
										{% if item.height is defined %}data-height="{{ item.height }}"{% endif %}
										{% if item.basealign is defined %}data-basealign="{{ item.basealign }}"{% endif %}
										{% if item.transformIn is defined %}data-transform_in="{{ item.transformIn }}"{% endif %}
										{% if item.transformIdle is defined %}data-transform_idle="{{ item.transformIdle }}"{% endif %}
										{% if item.fontsize is defined %}data-fontsize="{{ item.fontsize }}"{% endif %}
										{% if item.lineheight is defined %}data-lineheight="{{ item.lineheight }}"{% endif %}
										{% if item.style is defined %}style="{{ item.style }}"{% endif %}
								>
									{% if item.src is defined %}
										<img src="{{ item.src }}" alt="{{ item.alt }}">
									{% endif %}
									{% if item.text is defined %}
										{{ item.text|html }}
									{% endif %}
								</div>
							{% endfor %}
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
</div>
