<div class="container">
	<div class="row">
		<div class="col">
			<div class="nivo-slider">
				<div class="slider-wrapper theme-default">
					<div id="nivoSlider" class="nivoSlider">
						<img src="{{ porto_asset('img/slides/slide-1.jpg') }}" data-thumb="img/slides/slide-1.jpg" alt="" />
						<a href="index.html"><img src="{{ porto_asset('img/slides/slide-2.jpg') }}" data-thumb="img/slides/slide-2.jpg" alt="" /></a>
					</div>
					<div id="htmlcaption" class="nivo-html-caption"></div>
				</div>
			</div>
		</div>
	</div>
</div>

