<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>

	<head {{ sonata_seo_head_attributes() }}>

		{{ sonata_seo_title() }}
		{{ sonata_seo_metadatas() }}
		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		{% block title %}
			<title>Porto - Responsive HTML5 Template 7.1.0</title>
		{% endblock %}


		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ porto_asset('img/favicon.ico') }}" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{{ porto_asset('img/apple-touch-icon.png') }}">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
			  rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{{ porto_asset('vendor/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ porto_asset('vendor/fontawesome-free/css/all.min.css') }}">
		<link rel="stylesheet" href="{{ porto_asset('vendor/animate/animate.min.css') }}">
		<link rel="stylesheet" href="{{ porto_asset('vendor/simple-line-icons/css/simple-line-icons.min.css') }}">
		<link rel="stylesheet" href="{{ porto_asset('vendor/owl.carousel/assets/owl.carousel.min.css') }}">
		<link rel="stylesheet" href="{{ porto_asset('vendor/owl.carousel/assets/owl.theme.default.min.css') }}">
		<link rel="stylesheet" href="{{ porto_asset('vendor/magnific-popup/magnific-popup.min.css') }}">


		<!-- Theme CSS -->
		<link rel="stylesheet" href="{{ porto_asset('css/theme.css') }}">
		<link rel="stylesheet" href="{{ porto_asset('css/theme-elements.css') }}">
		<link rel="stylesheet" href="{{ porto_asset('css/theme-blog.css') }}">
		<link rel="stylesheet" href="{{ porto_asset('css/theme-shop.css') }}">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="{{ porto_asset('vendor/rs-plugin/css/settings.css') }}">
		<link rel="stylesheet" href="{{ porto_asset('vendor/rs-plugin/css/layers.css') }}">
		<link rel="stylesheet" href="{{ porto_asset('vendor/rs-plugin/css/navigation.css') }}">
		<link rel="stylesheet" href="{{ porto_asset('vendor/circle-flip-slideshow/css/component.css') }}">

		<!-- Demo CSS -->


		<!-- Skin CSS -->
		<link rel="stylesheet" href="{{ porto_asset('css/skins/default.css') }}">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{{ porto_asset('css/custom.css') }}">
		{% block styles %}{% endblock %}

		<!-- Head Libs -->
		<script src="{{ porto_asset('vendor/modernizr/modernizr.min.js') }}"></script>


		{% block head_javascript %}
		{% endblock %}

		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		{% if bundleExists('FOSJsRoutingBundle') %}
			{% include('@SixnappsPortoTemplate/ext-bundles/fosjsrouting.html.twig') %}
		{% endif %}
	</head>
	<body class="{% if bodyClass is defined %}{{ bodyClass }}{% endif %}">

		{% block content %}{% endblock %}

		{% block javascript %}
{#		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}#}
{#			<script>#}
{#				$.sessionTimeout( {#}
{#					title:              "Votre session va bientôt expirer !",#}
{#					message:            "Sans activité de votre part, vous allez être automatiquement déconnecté...",#}
{#					logoutButton:       "Déconnexion",#}
{#					keepAliveButton:    "Rester connecté",#}
{#					ignoreUserActivity: true,#}
{#					keepAlive:          true,#}

{#					keepAliveUrl: Routing.generate( "accueil" ),#}
{#					logoutUrl:    Routing.generate( "logout" ),#}
{#					redirUrl:     Routing.generate( "logout" ),#}
{#					warnAfter:    600000,#}
{#					redirAfter:   120000,#}
{#					countdownBar: true#}
{#				} );#}

{#			</script>#}
{#		{% endif %}#}
	{% endblock %}


		{#<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.#}
		{#<script>#}
		{#(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){#}
		{#(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),#}
		{#m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)#}
		{#})(window,document,'script','//www.google-analytics.com/analytics.js','ga');#}

		{#ga('create', 'UA-12345678-1', 'auto');#}
		{#ga('send', 'pageview');#}
		{#</script>#}
		{#-->#}
	</body>
</html>
