{% if word.rotation is defined and word.rotation is not empty %}
	{% set rotation = word.rotation %}
{% else %}
	{% set rotation = 'rotate-3' %}
{% endif %}

{% if word.items is defined and word.items is not empty %}
	{% set items = word.items %}
{% else %}
	{% set items = '' %}
{% endif %}

{% if word.color is defined and word.color is not empty %}
	{% set color = word.color %}
{% else %}
	{% set color = '' %}
{% endif %}



		<span class="word-rotator mb-2
			{% if rotation == 'rotate-1' %}   rotate-1 {% endif %}
			{% if rotation == 'rotate-2' %}   letters rotate-2 {% endif %}
			{% if rotation == 'rotate-3' %}   letters rotate-3 {% endif %}
			{% if rotation == 'typewriter' %} letters type {% endif %}
			{% if rotation == 'loading' %} 	  loading-bar {% endif %}
			{% if rotation == 'slide' %} 	  slide {% endif %}
			{% if rotation == 'clip' %} 	  clip is-full-width {% endif %}
			{% if rotation == 'zoom' %} 	  zoom {% endif %}
			{% if rotation == 'scale' %} 	  letters scale {% endif %}
			{% if rotation == 'push' %} 	  push {% endif %}
			">

			<span class="word-rotator-words {{ color }}">
				{% for item in items %}
					<b class="{% if loop.first %} is-visible {% endif %}">{{ item }}</b>
				{% endfor %}
			</span>

		</span>


