

<h2>Mise en situation</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorum et illum minus molestiae pariatur saepe vel.</p>
<p>Accusantium architecto dolorum esse, excepturi fugiat harum impedit incidunt maiores molestias mollitia nam nesciunt placeat, quaerat quas repellendus rerum veniam. Sapiente, soluta : {{ porto_component('rotator', { 'word': default('word_rotator')[0] }) }}</p>

<br>

<p>Facilis mollitia omnis optio repudiandae ut?</p>
<p>A aperiam commodi distinctio, error harum modi nihil odit recusandae suscipit ut vitae, voluptatem. Ipsa, totam : {{ porto_component('rotator', { 'word': default('word_rotator')[1] }) }}, ectetur adipisicing elit ?</p>
