{% if table.head is defined and table.head is not empty %}
	{% set head = table.head %}
{% else %}
	{% set head = '' %}
{% endif %}

{% if table.body is defined and table.body is not empty %}
	{% set body = table.body %}
{% else %}
	{% set body = '' %}
{% endif %}

{% if table.parameters is defined and table.parameters is not empty %}
	{% set parameters = table.parameters %}
{% else %}
	{% set parameters = '' %}
{% endif %}

<table class="table
	{% for parameter in parameters %}
		table-{{ parameter }}
	{% endfor %}
	">
	<thead>
		<tr>
			{% for th in head %}
				<th>{{ th }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for data in body %}
			<tr class=" {% if data.class is defined and data.class is not empty %} {{ data.class }} {% endif %}">
				{% for td in data.values %}
					<td>{{ td }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
