{% set tables = default('tables') %}
{% for table in tables %}

	{{ porto_component('table', { 'table': table }) }}

	<div class="row">
		<div class="col">
			<hr class="solid my-5">
		</div>
	</div>


{% endfor %}
