{% if method is not defined %}
	{% set method = 'get' %}
{% endif %}
{% if action is not defined %}
	{% set action = '' %}
{% endif %}
{% if name is not defined %}
	{% set name = 'searchBar' %}
{% endif %}
{% if placeholder is not defined %}
	{% set placeholder = 'Search...' %}
{% endif %}
{% if class is not defined %}
	{% set class = '' %}
{% endif %}

{#TYPES => reveal, dropdown, big, fullscreen #}
{% if type is defined and type == 'fullscreen' %}
	{# FULLSCREEN #}
	<div class="header-nav-features {{ class }}">
		<div class="header-nav-features-search-reveal-container">
			<div class="header-nav-feature header-nav-features-search header-nav-features-search-reveal d-inline-flex">
				<a href="#" class="header-nav-features-search-show-icon d-inline-flex"><i class="fas fa-search header-nav-top-icon"></i></a>
			</div>
		</div>
	</div>
	<div class="header-nav-features header-nav-features-no-border p-static">
		<div class="header-nav-feature header-nav-features-search header-nav-features-search-reveal header-nav-features-search-reveal-big-search header-nav-features-search-reveal-big-search-full">
			<div class="container">
				<div class="row h-100 d-flex">
					<div class="col h-100 d-flex">
						<form role="search" class="d-flex h-100 w-100" action="{{ action }}" method="{{ method }}">
							<div class="big-search-header input-group">
								<input class="form-control text-1" id="{{ name|toURL }}" name="{{ name|toURL }}" type="search" value="" placeholder="{{ placeholder }}">
								<a href="#" class="header-nav-features-search-hide-icon"><i class="fas fa-times header-nav-top-icon"></i></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% elseif type is defined and type == 'big' %}
	{# BIG #}
	<div class="header-nav-features {{ class }}">
		<div class="header-nav-features-search-reveal-container">
			<div class="header-nav-feature header-nav-features-search header-nav-features-search-reveal d-inline-flex">
				<a href="#" class="header-nav-features-search-show-icon d-inline-flex"><i class="fas fa-search header-nav-top-icon"></i></a>
			</div>
		</div>
	</div>
	<div class="header-row">
		<div class="header-nav-features header-nav-features-no-border p-static z-index-2">
			<div class="header-nav-feature header-nav-features-search header-nav-features-search-reveal header-nav-features-search-reveal-big-search px-3">
				<form role="search" class="d-flex w-100 h-100" action="{{ action }}" method="{{ method }}">
					<div class="big-search-header input-group">
						<input class="form-control text-1" id="{{ name|toURL }}" name="{{ name|toURL }}" type="search" value="" placeholder="{{ placeholder }}">
						<a href="#" class="header-nav-features-search-hide-icon"><i class="fas fa-times header-nav-top-icon"></i></a>
					</div>
				</form>
			</div>
		</div>
	</div>
{% elseif type is defined and type == 'dropdown' %}
	{# DROPDOWN #}
	<div class="header-nav-features {{ class }}">
		<div class="header-nav-feature header-nav-features-search d-inline-flex">
			<a href="#" class="header-nav-features-toggle" data-focus="headerSearch"><i class="fas fa-search header-nav-top-icon"></i></a>
			<div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed" id="{{ name|toURL }}hDropdown">
				<form role="search" action="{{ action }}" method="{{ method }}">
					<div class="simple-search input-group">
						<input class="form-control text-1" id="{{ name|toURL }}" name="{{ name|toURL }}" type="search" value="" placeholder="{{ placeholder }}">
						<span class="input-group-append">
							<button class="btn" type="submit">
								<i class="fa fa-search header-nav-top-icon"></i>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
{% elseif type is defined and type == 'reveal' %}
	{# REVEAL #}
	<div class="header-nav-features d-none d-md-inline-flex {{ class }}" data-sticky-header-style="{'minResolution': 768}" data-sticky-header-style-active="{'opacity': '0'}" data-sticky-header-style-deactive="{'opacity': '1'}">
		<div class="header-nav-features-search-reveal-container">
			<div class="header-nav-feature header-nav-features-search header-nav-features-search-reveal d-inline-flex">
				<form role="search" action="{{ action }}" method="{{ method }}">
					<div class="simple-search input-group w-auto">
						<input class="form-control text-1" id="{{ name|toURL }}" name="{{ name|toURL }}" type="search" value="" placeholder="{{ placeholder }}">
						<span class="input-group-append">
							<button class="btn" type="submit">
								<i class="fa fa-search header-nav-top-icon"></i>
							</button>
						</span>
					</div>
				</form>
				<a href="#" class="header-nav-features-search-show-icon"><i class="fas fa-search header-nav-top-icon"></i></a>
				<a href="#" class="header-nav-features-search-hide-icon"><i class="fas fa-times header-nav-top-icon"></i></a>
			</div>
		</div>
	</div>
{% else %}
	{# SIMPLE#}
	<div class="header-nav-features header-nav-features-no-border header-nav-features-md-show-border d-none d-md-inline-flex {{ class }}">
		<form role="search" action="{{ action }}" method="{{ method }}">
			<div class="simple-search input-group w-auto">
				<input class="form-control text-1" id="{{ name|toURL }}" name="{{ name|toURL }}" type="search" value="" placeholder="{{ placeholder }}">
				<span class="input-group-append">
					<button class="btn" type="submit">
						<i class="fa fa-search header-nav-top-icon"></i>
					</button>
				</span>
			</div>
		</form>
	</div>
{% endif %}
