<h2 {{ porto_component('animation', { 'animation': default('animationText') }) }} >Coucou</h2>


<img src="{{ porto_asset('img/device.png') }}" {{ porto_component('animation', { 'animation': default('animationImage') }) }}>
