{% if animation.type is defined and animation.type is not empty %}
	{% set type = animation.type %}
{% else %}
	{% set type = '' %}
{% endif %}

{% if animation.delay is defined and animation.delay is not empty %}
	{% set delay = animation.delay %}
{% else %}
	{% set delay = '0' %}
{% endif %}

{% if animation.duration is defined and animation.duration is not empty %}
	{% set duration = animation.duration %}
{% else %}
	{% set duration = '1' %}
{% endif %}

class="img-fluid appear-animation" data-appear-animation="{{ type }}" data-appear-animation-delay="{{ delay }}" data-appear-animation-duration="{{ duration }}s"
