{% if modal.buttonMessage is defined and modal.buttonMessage is not empty %}
	{% set button = modal.buttonMessage %}
{% else %}
	{% set button = 'Launch modal' %}
{% endif %}

{% if modal.title is defined and modal.title is not empty %}
	{% set title = modal.title %}
{% else %}
	{% set title = 'No data' %}
{% endif %}

{% if modal.content is defined and modal.content is not empty %}
	{% set content = modal.content %}
{% else %}
	{% set content = 'No data' %}
{% endif %}

{% if modal.size is defined and modal.size is not empty %}
	{% set size = 'modal-'~modal.size %}
{% else %}
	{% set size = '' %}
{% endif %}

{% if modal.animation is defined %}
	{% set animation = modal.animation %}
{% else %}
	{% set animation = '' %}
{% endif %}


	<button class="btn btn-modern btn-primary" data-toggle="modal" data-target="#defaultModal">
		{{ button }}
	</button>

	<div class="modal {% if animation == 'true' %} fade {% endif %}" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
		<div class="modal-dialog {{ size }}">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="defaultModalLabel">{{ title }}</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					{{ content|html }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


