<section class="section section-height-3 bg-color-light border-0 my-0">
	<div class="container container-lg">
		<div class="row align-items-center">
			<div class="col center">
				<div class="row">
					<div class="col">

						<div class="tabs tabs-bottom tabs-center tabs-simple mb-3">
							<ul class="nav nav-tabs">
								<li class="nav-item active">
									<a class="nav-link" href="#tabHeaders" data-toggle="tab">Headers</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#tabSideHeaders" data-toggle="tab">Side Headers</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#tabPageHeaders" data-toggle="tab">Page Headers</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#tabfooters" data-toggle="tab">Footers</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active mb-0" id="tabHeaders">
									<div class="row justify-content-center">
										<div class="col-12 col-lg-9 text-center">
											<div class="owl-carousel mt-2 mb-0 show-nav-title show-nav-title-both-sides show-nav-title-both-sides-style-2 stage-margin"
												 data-plugin-options="{'items': 1, 'margin': 10, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 40, 'autoHeight': true, 'lazyLoad': true}">

												<div>
													<a href="feature-headers-classic.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Classic</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/classic.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">1/53</p>
												</div>

												<div>
													<a href="feature-headers-classic-language-dropdown.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Classic + Language Dropdown</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/classic-language-dropdown.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">2/53</p>
												</div>

												<div>
													<a href="feature-headers-classic-big-logo.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Classic + Big Logo</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/classic-big-log.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">3/53</p>
												</div>

												<div>
													<a href="feature-headers-flat.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Flat</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/flat.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">4/53</p>
												</div>

												<div>
													<a href="feature-headers-flat-top-bar.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Flat + Top Bar</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/flat-top-bar.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">5/53</p>
												</div>

												<div>
													<a href="feature-headers-flat-top-bar-top-borders.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Flat + Top Bar Top + Border</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/flat-top-bar-top-borders.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">6/53</p>
												</div>

												<div>
													<a href="feature-headers-flat-colored-top-bar.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Flat Colored + Top Bar</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/flat-colored-top-bar.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">7/53</p>
												</div>

												<div>
													<a href="feature-headers-flat-borders.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Flat + Borders</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/flat-borders.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">8/53</p>
												</div>

												<div>
													<a href="feature-headers-center.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Center</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/center.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">9/53</p>
												</div>

												<div>
													<a href="feature-headers-center-double-navs.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Center + Double Navs</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/center-double-navs.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">10/53</p>
												</div>

												<div>
													<a href="feature-headers-center-nav-buttons.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Center + Nav + Buttons</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/center-nav-buttons.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">11/53</p>
												</div>

												<div>
													<a href="feature-headers-center-below-slider.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Center Below Slider</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/center-below-slider.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">12/53</p>
												</div>

												<div>
													<a href="feature-headers-floating-bar.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Floating Bar</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/floating-bar.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">13/53</p>
												</div>

												<div>
													<a href="feature-headers-floating-icons.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Floating Icons</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/floating-icons.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">14/53</p>
												</div>

												<div>
													<a href="feature-headers-below-slider.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Below Slider</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/below-slider.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">15/53</p>
												</div>

												<div>
													<a href="feature-headers-full-video.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Full Video</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/full-video.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">16/53</p>
												</div>

												<div>
													<a href="feature-headers-narrow.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Narrow</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/narrow.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">17/53</p>
												</div>

												<div>
													<a href="feature-headers-sticky-shrink.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Sticky Shirnk</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/sticky-shirnk.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">18/53</p>
												</div>

												<div>
													<a href="feature-headers-sticky-static.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Sticky Static</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/sticky-static.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">19/53</p>
												</div>

												<div>
													<a href="feature-headers-sticky-change-logo.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Sticky Change Logo</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/sticky-change-logo.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">20/53</p>
												</div>

												<div>
													<a href="feature-headers-sticky-reveal.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Sticky Reveal</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/sticky-reveal.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">21/53</p>
												</div>

												<div>
													<a href="feature-headers-transparent-light.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Transparent Light</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/transparent-light.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">22/53</p>
												</div>

												<div>
													<a href="feature-headers-transparent-dark.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Transparent Dark</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/transparent-dark.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">23/53</p>
												</div>

												<div>
													<a href="feature-headers-transparent-light-bottom-border.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Transparent Light + Bottom Border</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/transparent-light-bottom-border.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">24/53</p>
												</div>

												<div>
													<a href="feature-headers-transparent-dark-bottom-border.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Transparent Dark + Bottom Border</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/transparent-dark-bottom-border.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">25/53</p>
												</div>

												<div>
													<a href="feature-headers-transparent-bottom-slider.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Transparent Bottom Slider</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/transparent-bottom-slider.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">26/53</p>
												</div>

												<div>
													<a href="feature-headers-semi-transparent-light.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Semi Transparent Light</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/semi-transparent-light.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">27/53</p>
												</div>

												<div>
													<a href="feature-headers-semi-transparent-dark.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Semi Transparent Dark</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/semi-transparent-dark.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">28/53</p>
												</div>

												<div>
													<a href="feature-headers-semi-transparent-bottom-slider.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Semi Transparent Bottom Slider</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/semi-transparent-bottom-slider.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">29/53</p>
												</div>

												<div>
													<a href="feature-headers-semi-transparent-top-bar-borders.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Semi Transparent + Top Bar + Borders</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/semi-transparent-top-bar-borders.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">30/53</p>
												</div>

												<div>
													<a href="feature-headers-full-width.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Full Width</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/full-width.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">31/53</p>
												</div>

												<div>
													<a href="feature-headers-full-width-borders.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Full Width + Borders</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/full-width-borders.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">32/53</p>
												</div>

												<div>
													<a href="feature-headers-full-width-transparent-light.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Full Width Transparent Light</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/full-width-transparent-light.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">33/53</p>
												</div>

												<div>
													<a href="feature-headers-full-width-transparent-dark.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Full Width Transparent Dark</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/full-width-transparent-dark.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">34/53</p>
												</div>

												<div>
													<a href="feature-headers-full-width-semi-transparent-light.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Full Width Semi Transparent Light</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/full-width-semi-transparent-light.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">35/53</p>
												</div>

												<div>
													<a href="feature-headers-full-width-semi-transparent-dark.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Full Width Semi Transparent Dark</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/full-width-semi-transparent-dark.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">36/53</p>
												</div>

												<div>
													<a href="feature-headers-navbar.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Navbar</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/navbar.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">37/53</p>
												</div>

												<div>
													<a href="feature-headers-navbar-full.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Navbar Full</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/navbar-full.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">38/53</p>
												</div>

												<div>
													<a href="feature-headers-navbar-pills.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Navbar Pills</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/navbar-pills.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">39/53</p>
												</div>

												<div>
													<a href="feature-headers-navbar-divisors.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Navbar Divisors</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/navbar-divisors.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">40/53</p>
												</div>

												<div>
													<a href="feature-headers-navbar-icons-search.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Navbar + Icons + Search</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/navbar-icons-search.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">41/53</p>
												</div>

												<div>
													<a href="feature-headers-sign-in-sign-up.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Sign In/ Sign Up</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/sign-in-sign-up.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">42/53</p>
												</div>

												<div>
													<a href="feature-headers-logged.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Logged</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/logged.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">43/53</p>
												</div>

												<div>
													<a href="feature-headers-mini-cart.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Mini Cart</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/mini-cart.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">44/53</p>
												</div>

												<div>
													<a href="feature-headers-search-simple-input.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Search Simple Input</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/search-simple-input.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">45/53</p>
												</div>

												<div>
													<a href="feature-headers-search-simple-input-reveal.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Search Simple Input Reveal</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/search-simple-input-reveal.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">46/53</p>
												</div>

												<div>
													<a href="feature-headers-search-dropdown.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Search Dropdown</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/search-dropdown.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">47/53</p>
												</div>

												<div>
													<a href="feature-headers-search-big-input-hidden.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Search Big Input Hidden</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/search-big-input-hidden.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">48/53</p>
												</div>

												<div>
													<a href="feature-headers-search-full-screen.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Search Full Screen</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/search-full-screen.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">49/53</p>
												</div>

												<div>
													<a href="feature-headers-extra-big-icon.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Extra Big Icon</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/extra-big-icon.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">50/53</p>
												</div>

												<div>
													<a href="feature-headers-extra-big-icons-top.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Extra Big Icons Top</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/extra-big-icons-top.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">51/53</p>
												</div>

												<div>
													<a href="feature-headers-extra-button.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Extra Button</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/extra-button.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">52/53</p>
												</div>

												<div>
													<a href="feature-headers-extra-background-color.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Extra Background Color</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/headers/extra-background-color.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">53/53</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane mb-0" id="tabSideHeaders">
									<div class="row justify-content-center">
										<div class="col-12 col-lg-9 text-center">
											<div class="owl-carousel mt-2 mb-0 show-nav-title show-nav-title-both-sides show-nav-title-both-sides-style-2 stage-margin"
												 data-plugin-options="{'items': 1, 'margin': 10, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 40, 'autoHeight': true, 'lazyLoad': true}">

												<div>
													<a href="feature-headers-side-header-left-dropdown.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Side Header Left Dropdown</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-left-dropdown.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">1/15</p>
												</div>

												<div>
													<a href="feature-headers-side-header-left-expand.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Side Header Left Expand</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-left-expand.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">2/15</p>
												</div>

												<div>
													<a href="feature-headers-side-header-left-columns.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Side Header Left Columns</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-left-columns.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">3/15</p>
												</div>

												<div>
													<a href="feature-headers-side-header-left-slide.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Side Header Left Slide</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-left-slide.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">4/15</p>
												</div>

												<div>
													<a href="feature-headers-side-header-left-semi-transparent.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Side Header Left Semi Transparent</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-left-semi-transparent.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">5/15</p>
												</div>

												<div>
													<a href="feature-headers-side-header-left-dark.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Side Header Left Dark</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-left-dark.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">6/15</p>
												</div>

												<div>
													<a href="feature-headers-side-header-right-dropdown.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Side Header Right Dropdown</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-right-dropdown.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">7/15</p>
												</div>

												<div>
													<a href="feature-headers-side-header-right-expand.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Side Header Right Expand</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-right-expand.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">8/15</p>
												</div>

												<div>
													<a href="feature-headers-side-header-right-columns.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Side Header Right Columns</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-right-columns.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">9/15</p>
												</div>

												<div>
													<a href="feature-headers-side-header-right-slide.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Side Header Right Slide</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-right-slide.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">10/15</p>
												</div>

												<div>
													<a href="feature-headers-side-header-right-semi-transparent.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Side Header Right Semi Transparent</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-right-semi-transparent.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">11/15</p>
												</div>

												<div>
													<a href="feature-headers-side-header-right-dark.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Side Header Right Dark</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-right-dark.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">12/15</p>
												</div>

												<div>
													<a href="feature-headers-side-header-offcanvas-push.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Side Header Offcanvas Push</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-offcanvas-push.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">13/15</p>
												</div>

												<div>
													<a href="feature-headers-side-header-offcanvas-slide.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Side Header Offcanvas Slide</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-offcanvas-slide.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">14/15</p>
												</div>

												<div>
													<a href="feature-headers-side-header-narrow-bar.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Side Header Narrow Bar</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/side-headers/side-header-narrow-bar.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">15/15</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane mb-0" id="tabPageHeaders">
									<div class="row justify-content-center">
										<div class="col-12 col-lg-9 text-center">
											<div class="owl-carousel mt-2 mb-0 show-nav-title show-nav-title-both-sides show-nav-title-both-sides-style-2 stage-margin"
												 data-plugin-options="{'items': 1, 'margin': 10, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 40, 'autoHeight': true, 'lazyLoad': true}">

												<div>
													<a href="feature-page-headers-classic-small.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Classic Small</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/classic-small.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">1/32</p>
												</div>

												<div>
													<a href="feature-page-headers-classic-medium.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Classic Medium</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/classic-medium.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">2/32</p>
												</div>

												<div>
													<a href="feature-page-headers-classic-large.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Classic Large</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/classic-large.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">3/32</p>
												</div>

												<div>
													<a href="feature-page-headers-modern-small.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Modern Small</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/modern-small.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">4/32</p>
												</div>

												<div>
													<a href="feature-page-headers-modern-medium.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Modern Medium</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/modern-medium.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">5/32</p>
												</div>

												<div>
													<a href="feature-page-headers-modern-large.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Modern Large</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/modern-large.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">6/32</p>
												</div>

												<div>
													<a href="feature-page-headers-colors-primary.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Colors Primary</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/colors-primary.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">7/32</p>
												</div>

												<div>
													<a href="feature-page-headers-colors-secondary.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Colors Secondary</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/colors-secondary.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">8/32</p>
												</div>

												<div>
													<a href="feature-page-headers-colors-tertiary.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Colors Tertiary</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/colors-tertiary.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">9/32</p>
												</div>

												<div>
													<a href="feature-page-headers-colors-quaternary.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Colors Quartenary</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/colors-quaternary.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">10/32</p>
												</div>

												<div>
													<a href="feature-page-headers-colors-light.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Colors Light</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/colors-light.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">11/32</p>
												</div>

												<div>
													<a href="feature-page-headers-colors-dark.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Colors Dark</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/colors-dark.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">12/32</p>
												</div>

												<div>
													<a href="feature-page-headers-title-position-left-small.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Title Position Left Small</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/title-position-left-small.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">13/32</p>
												</div>

												<div>
													<a href="feature-page-headers-title-position-left-medium.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Title Position Left Medium</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/title-position-left-medium.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">14/32</p>
												</div>

												<div>
													<a href="feature-page-headers-title-position-left-large.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Title Position Left Large</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/title-position-left-large.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">15/32</p>
												</div>

												<div>
													<a href="feature-page-headers-title-position-right-small.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Title Position Right Small</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/title-position-right-small.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">16/32</p>
												</div>

												<div>
													<a href="feature-page-headers-title-position-right-medium.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Title Position Right Medium</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/title-position-right-medium.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">17/32</p>
												</div>

												<div>
													<a href="feature-page-headers-title-position-right-large.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Title Position Right Large</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/title-position-right-large.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">18/32</p>
												</div>

												<div>
													<a href="feature-page-headers-title-position-center-small.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Title Position Center Small</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/title-position-center-small.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">19/32</p>
												</div>

												<div>
													<a href="feature-page-headers-title-position-center-medium.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Title Position Center Medium</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/title-position-center-medium.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">20/32</p>
												</div>

												<div>
													<a href="feature-page-headers-title-position-center-large.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Title Position Center Large</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/title-position-center-large.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">21/32</p>
												</div>

												<div>
													<a href="feature-page-headers-background-fixed.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Background Fixed</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/background-fixed.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">22/32</p>
												</div>

												<div>
													<a href="feature-page-headers-background-parallax.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Background Parallax</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/background-parallax.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">23/32</p>
												</div>

												<div>
													<a href="feature-page-headers-background-video.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Background Video</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/background-video.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">24/32</p>
												</div>

												<div>
													<a href="feature-page-headers-background-transparent-header.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Background Transparent Header</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/background-transparent-header.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">25/32</p>
												</div>

												<div>
													<a href="feature-page-headers-background-pattern.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Background Pattern</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/background-pattern.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">26/32</p>
												</div>

												<div>
													<a href="feature-page-headers-background-overlay.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Background Overlay</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/background-overlay.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">27/32</p>
												</div>

												<div>
													<a href="feature-page-headers-background-clean.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Background Clean (No Background)</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/background-clean.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">28/32</p>
												</div>

												<div>
													<a href="feature-page-headers-extra-breadcrumb-outside.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Extra Breadcrumb Outside</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/extra-breadcrumb-outside.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">29/32</p>
												</div>

												<div>
													<a href="feature-page-headers-extra-breadcrumb-dark.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Extra Breadcrumb Dark</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/extra-breadcrumb-dark.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">30/32</p>
												</div>

												<div>
													<a href="feature-page-headers-extra-scroll-to-content.html"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Extra Scroll To Content</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/extra-scroll-to-content.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">31/32</p>
												</div>

												<div>
													<a href="feature-page-headers-extra-full-width.html" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Extra Full Width</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/page-headers/extra-full-width.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">32/32</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane mb-0" id="tabfooters">
									<div class="row justify-content-center">
										<div class="col-12 col-lg-9 text-center">
											<div class="owl-carousel mt-2 mb-0 show-nav-title show-nav-title-both-sides show-nav-title-both-sides-style-2 stage-margin"
												 data-plugin-options="{'items': 1, 'margin': 10, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 40, 'autoHeight': true, 'lazyLoad': true}">

												<div>
													<a href="feature-footers-classic.html#footer" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Classic</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">1/38</p>
												</div>

												<div>
													<a href="feature-footers-classic-advanced.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Classic Advanced</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic-advanced.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">2/38</p>
												</div>

												<div>
													<a href="feature-footers-classic-compact.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Classic Compact</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic-compact.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">3/38</p>
												</div>

												<div>
													<a href="feature-footers-classic-simple.html#footer" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Classic Simple</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic-simple.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">4/38</p>
												</div>

												<div>
													<a href="feature-footers-classic-locations.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Classic Locations</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic-locations.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">5/38</p>
												</div>

												<div>
													<a href="feature-footers-classic-copyright-light.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Classic Copyright Light</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic-copyright-light.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">6/38</p>
												</div>

												<div>
													<a href="feature-footers-classic-copyright-dark.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Classic Copyright Dark</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic-copyright-dark.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">7/38</p>
												</div>

												<div>
													<a href="feature-footers-classic-copyright-social-icons.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Classic Copyright Social Icons</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic-copyright-social-icons.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">8/38</p>
												</div>

												<div>
													<a href="feature-footers-classic-copyright-social-icons.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Classic Copyright Social Icons</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic-copyright-social-icons.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">9/38</p>
												</div>

												<div>
													<a href="feature-footers-classic-colors-primary.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Colors Primary</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic-colors-primary.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">10/38</p>
												</div>

												<div>
													<a href="feature-footers-classic-colors-secondary.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Colors Secondary</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic-colors-secondary.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">11/38</p>
												</div>

												<div>
													<a href="feature-footers-classic-colors-tertiary.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Colors Tertiary</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic-colors-tertiary.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">12/38</p>
												</div>

												<div>
													<a href="feature-footers-classic-colors-quaternary.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Colors Quartenary</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic-colors-quaternary.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">13/38</p>
												</div>

												<div>
													<a href="feature-footers-classic-colors-light.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Colors Light</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic-colors-light.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">14/38</p>
												</div>

												<div>
													<a href="feature-footers-classic-colors-light-simple.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Colors Light Simple</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/classic-colors-light-simple.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">15/38</p>
												</div>

												<div>
													<a href="feature-footers-modern.html#footer" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Modern</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/modern.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">16/38</p>
												</div>

												<div>
													<a href="feature-footers-modern-font-style-alternative.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Modern Font Style Alternative</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/modern-font-style-alternative.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">17/38</p>
												</div>

												<div>
													<a href="feature-footers-modern-clean.html#footer" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Modern Clean</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/modern-clean.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">18/38</p>
												</div>

												<div>
													<a href="feature-footers-modern-useful-links.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Modern Useful Links</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/modern-useful-links.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">19/38</p>
												</div>

												<div>
													<a href="feature-footers-modern-background-image-simple.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Modern Background Image Simple</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/modern-background-image-simple.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">20/38</p>
												</div>

												<div>
													<a href="feature-footers-modern-background-image-advanced.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Modern Video Simple</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/modern-background-video-simple.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">21/38</p>
												</div>

												<div>
													<a href="feature-footers-modern-call-to-action-button.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Modern Call to Action Button</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/modern-call-to-action-button.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">22/38</p>
												</div>

												<div>
													<a href="feature-footers-modern-call-to-action-simple.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Modern Call to Action Simple</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/modern-call-to-action-simple.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">23/38</p>
												</div>

												<div>
													<a href="feature-footers-blog-classic.html#footer" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Blog Classic</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/blog-classic.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">24/38</p>
												</div>

												<div>
													<a href="feature-footers-ecommerce-classic.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">eCommerce Classic</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/ecommerce-classic.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">25/38</p>
												</div>

												<div>
													<a href="feature-footers-contact-form-classic.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Contact Form Classic</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/contact-Form-classic.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">26/38</p>
												</div>

												<div>
													<a href="feature-footers-contact-form-above-the-map.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Contact Form Above the Map</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/contact-Form-above-the-map.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">27/38</p>
												</div>

												<div>
													<a href="feature-footers-contact-form-center.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Contact Form Center</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/contact-Form-center.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">28/38</p>
												</div>

												<div>
													<a href="feature-footers-contact-form-columns.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Contact Form Columns</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/contact-Form-columns.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">29/38</p>
												</div>

												<div>
													<a href="feature-footers-map-hidden.html#footer" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Map Hidden</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/map-hidden.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">30/38</p>
												</div>

												<div>
													<a href="feature-footers-map-full-width.html#footer" target="_blank"
													   class="text-decoration-none">
														<h4 class="text-3">Full Width</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/map-full-width.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">31/38</p>
												</div>

												<div>
													<a href="feature-footers-extra-top-social-icons.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Top Social Icons</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/extra-top-social-icons.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">32/38</p>
												</div>

												<div>
													<a href="feature-footers-extra-big-icons.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Big Icons</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/extra-big-icons.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">33/38</p>
												</div>

												<div>
													<a href="feature-footers-extra-recent-work.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Recent Work</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/extra-recent-work.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">34/38</p>
												</div>

												<div>
													<a href="feature-footers-extra-reveal.html#footeranchor"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Reveal</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/extra-reveal.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">35/38</p>
												</div>

												<div>
													<a href="feature-footers-extra-instagram.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Instagram</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/extra-instagram.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">36/38</p>
												</div>

												<div>
													<a href="feature-footers-extra-full-width-light.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Full Width Light</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/extra-full-width-light.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">37/38</p>
												</div>

												<div>
													<a href="feature-footers-extra-full-width-dark.html#footer"
													   target="_blank" class="text-decoration-none">
														<h4 class="text-3">Full Width Dark</h4>
														<img alt="" class="img-fluid border-all owl-lazy"
															 src="{{ porto_asset('img/blank.gif') }}"
															 data-src="{{ porto_asset('img/previews/footers/extra-full-width-dark.jpg') }}">
													</a>
													<p class="text-1 opacity-7 pt-2 mb-0">38/38</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
