{% if galleryCarousel.items is defined and galleryCarousel.items is not empty %}
	{% set items = galleryCarousel.items %}
{% else %}
	{% set items = '' %}
{% endif %}

{% if galleryCarousel.border is not defined or galleryCarousel.border is empty %}
	{% set border = 'img-thumbnail-no-borders' %}
{% else %}
	{% set border = '' %}
{% endif %}

{% if galleryCarousel.hover is defined and galleryCarousel.hover is not empty %}
	{% set hover = 'img-thumbnail-hover-icon' %}
{% else %}
	{% set hover = '' %}
{% endif %}

{% if galleryCarousel.zoom is defined and galleryCarousel.zoom is not empty %}
	{% set options = ", 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}" %}
{% else %}
	{% set options = "" %}
{% endif %}

{% if galleryCarousel.margin is defined and galleryCarousel.margin is not empty %}
	{% set margin = galleryCarousel.margin %}
{% else %}
	{% set margin = '' %}
{% endif %}

	<div class="lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true} {{ options }} }">
		<div class="owl-carousel owl-theme stage-margin" data-plugin-options="{'items': 6, 'margin':{{ margin }}, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}">

			{% for item in items %}
				<div>
					<a class="img-thumbnail {{ border }} {{ hover }}" href="{{ porto_asset( item ) }}">
						<img class="img-fluid" src="{{ porto_asset( item ) }}" alt="Image">
					</a>
				</div>
			{% endfor %}

		</div>
	</div>
