{% if gallery.items is defined and gallery.items is not empty %}
	{% set items = gallery.items %}
{% else %}
	{% set items = '' %}
{% endif %}

{% if gallery.zoom is defined and gallery.zoom is not empty %}
	{% set options = ", 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}" %}
{% else %}
	{% set options = "" %}
{% endif %}


	<div class="lightbox mb-4" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true} {{ options }} }">
		{% for item in items %}
			<a class="img-thumbnail img-thumbnail-no-borders d-inline-block mb-1 mr-1" href="{{ porto_asset( item ) }}" title="Project 1">
				<img class="img-fluid" src="{{ porto_asset( item ) }}" width="110" height="110" alt="Project">
			</a>
		{% endfor %}
	</div>


