

{#<div class="row">#}
	{#{% for single in singles %}#}
		{#{{ porto_component('lightBoxes-single', { 'single': default('single'), }) }}#}
	{#{% endfor %}#}
{#</div>#}

<div class="row">
	<div class="col">
		<hr class="solid my-5">
	</div>
</div>

<div class="row">
	{{ porto_component('lightBoxes-gallery', { 'gallery': default('gallery') }) }}
</div>

<div class="row">
	<div class="col">
		<hr class="solid my-5">
	</div>
</div>

<div class="row">
	{{ porto_component('lightBoxes-gallery-carousel', { 'galleryCarousel': default('galleryCarousel') }) }}
</div>


<div class="row">
	<div class="col">
		<hr class="solid my-5">
	</div>
</div>

<div class="row">
	{{ porto_component('lightBoxes-popup', { 'popup': default('popup') }) }}
</div>
