{% if popup.button is defined and popup.button is not empty %}
	{% set button = popup.button %}
{% else %}
	{% set button = '' %}
{% endif %}

{% if popup.link is defined and popup.link is not empty %}
	{% set link = popup.link %}
{% else %}
	{% set link = '' %}
{% endif %}

{% if popup.label is defined and popup.label is not empty %}
	{% set label = popup.label %}
{% else %}
	{% set label = '' %}
{% endif %}


{% if button == 'true' %}

	<div class="col-lg-4">
		<a class="mt-1 mb-1 mr-1 popup-youtube btn btn-modern btn-primary" href="{{ link }}">{{ label }}</a>
	</div>

{% else %}

	<div class="col-lg-4">
		<a class="popup-youtube" href="{{ link }}">{{ label }}</a>
	</div>

{% endif %}
