{% if single.type is defined and single.type is not empty %}
	{% set type = single.type %}
{% else %}
	{% set type = '' %}
{% endif %}

{% if single.image is defined and single.image is not empty %}
	{% set image = single.image %}
{% else %}
	{% set image = '' %}
{% endif %}

	{% if type == 'single-default' %}
		<div class="col-lg-3">
			<h5 class="text-uppercase mt-4">Default</h5>
			<a class="lightbox" href="{{ porto_asset( image ) }}" data-plugin-options="{'type':'image'}">
				<img class="img-fluid" src="{{ porto_asset( image ) }}" alt="Project Image">
			</a>
		</div>
	{% endif %}

	{% if type == 'single-default-border' %}
		<div class="col-lg-3">
			<h5 class="text-uppercase mt-4">Default with Border</h5>
			<a class="img-thumbnail d-block lightbox" href="{{ porto_asset( image ) }}" data-plugin-options="{'type':'image'}">
				<img class="img-fluid" src="{{ porto_asset( image ) }}" alt="Project Image">
			</a>
		</div>
	{% endif %}

	{% if type == 'single-icon' %}
		<div class="col-lg-3">
			<h5 class="text-uppercase mt-4">With Icon</h5>
			<a class="img-thumbnail img-thumbnail-no-borders d-block lightbox" href="{{ porto_asset( image ) }}" data-plugin-options="{'type':'image'}">
				<img class="img-fluid" src="{{ porto_asset( image ) }}" alt="Project Image">
				<span class="zoom">
					<i class="fas fa-search"></i>
				</span>
			</a>
		</div>
	{% endif %}

	{% if type == 'single-hover' %}
		<div class="col-lg-3">
			<h5 class="text-uppercase mt-4">Hover Effect</h5>
			<a class="img-thumbnail img-thumbnail-no-borders d-block img-thumbnail-hover-icon lightbox" href="{{ porto_asset( image ) }}" data-plugin-options="{'type':'image'}">
				<img class="img-fluid" src="{{ porto_asset( image ) }}" alt="Project Image">
			</a>
		</div>
	{% endif %}
