<footer id="footer">
	<div class="container">
		{% if ribbonText is defined %}
			<div class="footer-ribbon">
				<span>{{ ribbonText }}</span>
			</div>
		{% endif %}
		<div class="row py-5 my-4">
			{% for component in listComponent %}
				<div class="{{ component.class }}">
					{{ component.item|html  }}
				</div>
			{% endfor %}
		</div>
	</div>
	{{ porto_component('footer-copyright', footerCopyright) }}
</footer>
