{% if logoImage is not defined %}{% set logoImage = '' %}{% endif %}
{% if logoLink is not defined %}{% set logoLink = '#' %}{% endif %}
{% if logoAlt is not defined %}{% set logoAlt = 'Image logo' %}{% endif %}
{% if text is not defined %}{% set text = '© Copyright' %}{% endif %}
{% if min is not defined %}{% set min = false %}{% endif %}

<div class="footer-copyright">
	{% if min == false %}
		<div class="container py-2">
			<div class="row py-4">
				<div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
					<a href="{{ logoLink }}" class="logo pr-0 pr-lg-3">
						<img alt="{{ logoAlt }}" src="{{ logoImage }}" class="opacity-5" height="33">
					</a>
				</div>
				<div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
					<p>{{ text }}</p>
				</div>

				{% if subMenu is defined %}
					<div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
						<nav id="sub-menu">
							<ul>
								{% for item in subMenu %}
									{% if item.link is defined %}{% set link = item.link %}{% else %}{% set link = '#' %}{% endif %}
									{% if item.title is defined %}
										<li><i class="fas fa-angle-right"></i><a href="{{ item.link }}" class="ml-1 text-decoration-none"> {{ item.title }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</nav>
					</div>
				{% endif %}
			</div>
		</div>
	{% else %}
		<div class="container py-2 text-center">
			<div class="py-4">
				<strong>{{ text }}</strong>
			</div>
		</div>
	{% endif %}

</div>
