<footer id="footer" class="mt-0 border-0 bg-color-light">
	<div class="footer-copyright bg-color-light">
		<div class="container py-2">
			<div class="row py-4">
				<div class="col d-flex align-items-center justify-content-center">
					<p><strong>PORTO TEMPLATE</strong> - © Copyright 2018. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>
