{% if title is not defined %}
	{% set title = '' %}
{% endif %}

<div class="mb-5 mb-lg-0">
	<h5 class="text-6 text-transform-none font-weight-semibold text-color-light mb-4">{{ title }}</h5>
	{% if list is defined %}
		{% for item in list %}
			{% if item.label is defined %}
				{% if item.link is defined %}{% set link = item.link %}{% else %}{% set link = '#' %}{% endif %}
				<p class="mb-1"><a href="{{ link }}" class="text-3 link-hover-style-1">{{ item.label }}</a></p>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>
