{% if counter.end is defined %}
	{% if config.class is defined %}
		{% set cclass = config.class %}
	{% else %}
		{% set cclass = '' %}
	{% endif %}
	{% if config.color is defined %}
		{% set ccolor = 'text-'~config.color %}
	{% else %}
		{% set ccolor = '' %}
	{% endif %}
	{% if config.size is defined %}
		{% set csize = config.size %}
	{% else %}
		{% set csize = 'md' %}
	{% endif %}


	{% if counter.class is defined %}
		{% set class = counter.class %}
	{% else %}
		{% set class = '' %}
	{% endif %}
	{% if counter.speed is defined %}
		{% if counter.refreshInterval is defined or counter.decimals is defined %}
			{% set speed = "'speed':"~counter.speed~"," %}
		{% else %}
			{% set speed = "'speed':"~counter.speed %}
		{% endif %}
	{% else %}
		{% set speed = '' %}
	{% endif %}
	{% if counter.refreshInterval is defined %}
		{% if counter.decimals is defined %}
			{% set refreshInterval = "'refreshInterval':"~counter.refreshInterval~"," %}
		{% else %}
			{% set refreshInterval = "'refreshInterval':"~counter.refreshInterval %}
		{% endif %}
	{% else %}
		{% set refreshInterval = '' %}
	{% endif %}
	{% if counter.decimals is defined %}
		{% set decimals = "'decimals':"~counter.decimals %}
	{% else %}
		{% set decimals = '' %}
	{% endif %}

	{% if counter.inline is defined and counter.inline == true %}
		{% if counter.color is defined %}
			{% set color = 'text-'~counter.color %}
		{% else %}
			{% set color = '' %}
		{% endif %}
		{% if counter.prefix is defined %}<strong class="{{ class }} {{ color }}">{{ counter.prefix }}</strong>{% endif %}
		<strong class="{{ class }} {{ color }}" data-to="{{ counter.end }}" data-plugin-counter="" data-plugin-options="{ {{ speed }} {{ refreshInterval }} {{ decimals }} }" {% if counter.append is defined %}data-append="{{ counter.append }}"{% endif %}>0</strong>
		{% if counter.suffix is defined %}<strong class="{{ class }} {{ color }}">{{ counter.suffix }}</strong>{% endif %}
		{% if counter.label is defined %}{{ counter.label }}{% endif %}
	{% else %}
		{% if counter.color is defined %}
			{% set color = 'counter-'~counter.color %}
		{% else %}
			{% set color = '' %}
		{% endif %}
		<div class="counters counters-{{ csize }} {{ ccolor }} {{ cclass }} {% if counter.borders is defined and counter.borders == true %}with-borders{% endif %}">
			<div class="counter {{ color }} {% if counter.iconSide is defined and counter.iconSide == true %}counter-side-icon{% endif %} {% if counter.prefix is defined or counter.suffix is defined %}counter-with-unit{% endif %} appear-animation animated appear-animation-visible" {% if counter.animation is defined %}data-appear-animation="{{ counter.animation }}"{% endif %} {% if counter.animationDelay is defined %}data-appear-animation-delay="{{ counter.animationDelay }}{% endif %}">
				{% if counter.icon is defined %}<i class="{{ counter.icon }}"></i>{% endif %}
				{% if counter.prefix is defined %}<strong class="{{ class }}">{{ counter.prefix }}</strong>{% endif %}
				<strong class="{{ class }}" data-to="{{ counter.end }}" data-plugin-options="{ {{ speed }} {{ refreshInterval }} {{ decimals }} }" {% if counter.append is defined %}data-append="{{ counter.append }}"{% endif %}>0</strong>
				{% if counter.suffix is defined %}<strong class="{{ class }}">{{ counter.suffix }}</strong>{% endif %}
				{% if counter.label is defined %}<label>{{ counter.label }}</label>{% endif %}
			</div>
		</div>
	{% endif %}
{% endif %}
