{% if steps.vertical is defined and steps.vertical is not empty %}
	{% set mainClass = 'process-vertical py-4' %}
{% elseif steps.connectingLine is defined and steps.connectingLine is not empty %}
	{% set mainClass = 'process-connecting-line row my-5' %}
{% else %}
	{% set mainClass = 'row my-5' %}
{% endif %}

{% if steps.items is defined and steps.items is not empty %}
	{% set items = steps.items %}
{% else %}
	{% set items = 'coco' %}
{% endif %}

{% set delay = 200 %}


<div class="process {{ mainClass }}">

	{% if 'process-connecting-line' in mainClass  %} <div class="connecting-line appear-animation" data-appear-animation="fadeIn"></div> {% endif %}
	{% for item in items %}

		{% if item.circle is defined and item.circle is not empty %}
			{% set circle = item.circle %}
		{% else %}
			{% set circle = '' %}
		{% endif %}

		{% if item.label is defined and item.label is not empty %}
			{% set label = item.label %}
		{% else %}
			{% set label = '' %}
		{% endif %}

		{% if item.content is defined and item.content is not empty %}
			{% set content = item.content %}
		{% else %}
			{% set content = '' %}
		{% endif %}

		{% if item.animation is defined and item.animation is not empty %}
			{% set animation = item.animation %}
		{% else %}
			{% set animation = 'fadeInUpShorter' %}
		{% endif %}

		<div class="process-step {% if mainClass != 'process-vertical py-4' %} col-md-6 col-lg-3 mb-5 mb-md-4 {% endif %}appear-animation" data-appear-animation="{{ animation }}" data-appear-animation-delay="{{ delay }}">
			<div class="process-step-circle">
				<strong class="process-step-circle-content">{{ circle|html }}</strong>
			</div>
			<div class="process-step-content">
				<h4 class="mb-0 text-4 font-weight-bold">{{ label }}</h4>
				<p class="mb-0">{{ content }}</p>
			</div>
		</div>

		{% set delay = delay + 200 %}

	{% endfor %}

</div>
