{% if items is defined and items is not null %}
    <div class="shop py-4">
        <div class="row">
            <div class="col">
                <div class="featured-boxes">
                    <div class="row">
                        <div class="col">
                            <div class="featured-box featured-box-primary text-left mt-2" style="">
                                <div class="box-content">
                                    <form method="post" action="">
                                        <table class="shop_table cart">
                                            <thead>
                                            <tr>
                                                <th class="product-remove">
                                                    &nbsp;
                                                </th>
                                                <th class="product-thumbnail">
                                                    &nbsp;
                                                </th>
                                                <th class="product-name">
                                                    Promotion
                                                </th>
                                                <th class="product-quantity">
                                                    Quantité
                                                </th>
                                                <th>
                                                    Magasin retrait
                                                </th>
                                                <th class="product-subtotal">
                                                    Disponibilité
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in items %}
                                                <tr class="cart_table_item">
                                                    <td class="product-remove">
                                                        <a title="Remove this item" class="remove"
                                                                {% if linkDeleteItem is defined and linkDeleteItem is not null %}
                                                            href="{{ path(linkDeleteItem, { promotion: item.idPromotion }) }}"
                                                                {% endif %}>
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                    </td>
                                                    <td class="product-thumbnail">
                                                        <a {% if linkItemFocus is defined and linkItemFocus is not null %}
                                                            href="{{ path(linkItemFocus, { id_promotion: item.idPromotion }) }}"
                                                                {% endif %}>
                                                            {% if item.img is defined and item.img is not null %}
                                                                <img width="100" height="100"
                                                                     src="{{ asset(item.img) }}"
                                                                     {% if item.altImg is defined and item.altImg is not null %}alt={{ item.altImg }}{% endif %}>
                                                            {% endif %}
                                                        </a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a {% if linkItemFocus is defined and linkItemFocus is not null %}
                                                            href="{{ path(linkItemFocus, { id_promotion: item.idPromotion }) }}"
                                                                {% endif %}>{{ item.name }}</a>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="quantity">
                                                            <a {% if linkReduceQuantity is defined and linkReduceQuantity is not null %}
                                                                href="{{ path(linkReduceQuantity, { id_promotion: item.idPromotion }) }}"
                                                                    {% endif %}>
                                                                <input type="button" class="minus"
                                                                       value="-">
                                                            </a>

                                                            <form method="post"
                                                                    {% if linkChangeQuantity is defined and linkChangeQuantity is not null %}
                                                                action="{{ path('promotion_change_quantite') }}"
                                                                    {% endif %}>
                                                                <input id="{{ item.idPromotion }}"
                                                                       name="quantiteArticleInput"
                                                                       type="text"
                                                                       class="input-text qty text"
                                                                       title="Qty"
                                                                       value="{{ item.quantity }}"
                                                                       min="1" step="1">
                                                                <input type="hidden" name="promotion"
                                                                       value="{{ item.idPromotion }}">
                                                            </form>

                                                            <a {% if linkAddToCart is defined and linkAddToCart is not null %}
                                                                href="{{ path(linkAddToCart, { promotion: item.idPromotion }) }}"
                                                                    {% endif %}>
                                                                <input type="button" class="plus" value="+">
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td class="product-magasin text-lg-right">

                                                        <form method="post"
                                                              action="#">
                                                            <select name="{{ item.idPromotion }}">
                                                                {% for magasinPromo in magasinPromos %}
                                                                    <option value="{{ magasinPromo.idMagasin }}"
                                                                            {#{% if magasinPromo.magasin ==  article.store %}#}
                                                                            {#selected#}
                                                                            {#{% endif %}#}
                                                                    >
                                                                        {{ magasinPromo.nomMag }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                            <input type="hidden" name="promotion"
                                                                   value="{{ item.idPromotion }}">
                                                        </form>

                                                    </td>
                                                    <td class="product-date">
                                                        {{ item.date|raw }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="featured-boxes">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="featured-box featured-box-primary text-left mt-3 mt-lg-4">
                                <div class="box-content">
                                    <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">QUANTITÉ
                                        TOTALE DE PROMOTIONS</h4>
                                    <table class="cart-totals">
                                        <tbody>
                                        <tr class="cart-subtotal">
                                            <th>
                                                <strong class="text-dark">Total</strong>
                                            </th>
                                            <td>
                                                <strong class="text-dark"><span
                                                            class="amount">{{ total }}€</span></strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <div class="actions-continue">
                            <button type="submit" class="btn btn-primary btn-modern text-uppercase">Valider la commande
                                <i
                                        class="fas fa-angle-right ml-1"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endif %}