{% if item is defined and item is not null %}
    <div class="shop py-4">
        <div class="row">

            {# BLOCK IMG #}
            <div class="col-lg-6">
                {% if item.imgSrc is defined and item.imgSrc is not null %}
                    <img {% if item.imgAlt is defined and item.imgAlt is not null %}alt="{{ item.imgAlt }}"{% endif %}
                         class="img-fluid"
                         src="{{ asset(item.imgSrc) }}">
                {% endif %}
            </div>

            {# BLOCK DESCRIPTION#}
            <div class="col-lg-6">
                <div class="summary entry-summary">
                    <h1 class="mb-2 font-weight-bold text-7">{{ item.name }}</h1>

                    {% if item.date is defined and item.date is not null %}
                        <h5> {{ item.date }} </h5>
                    {% endif %}

                    {% if item.date2 is defined and item.date2 is not null %}
                        <h5> {{ item.date2 }} </h5>
                    {% endif %}


                    <p class="mb-4">{{ item.description|raw }}</p>
                </div>
            </div>
        </div>

        {# BLOCK ARTICLE #}
        <div class="row">
            <div class="col-lg-12">
                <h2>La promotion comporte :</h2>
                <ul class="list list-icons list-primary list-borders">
                    {% for article in articles %}
                        <li style="display: flex; align-items: center;">
                            <h5 class="mr-2">{{ article.name }}</h5>
                            <form enctype="multipart/form-data"
                                    {% if article.link is defined and article.link.addToCart is defined %}
                                        action="{{ article.link.addToCart }}"
                                    {% elseif article.route is defined and article.route.addToCart is defined %}
                                        action="{{ path(article.route.addToCart, article.route.addToCartParameter) }}"
                                    {% endif %}
                                  method="post" class="cart">
                                <div class="quantity" style="height: 30px;">
                                    <input type="button" class="minus" value="-" style="height: 30px;">
                                    <input type="text" class="input-text qty text" title="Qty" value="1"
                                           {% if inputName is defined and inputName is not null %}name="{{ inputName }}" {% endif %}
                                           min="1"
                                           step="1"
                                           style="height: 30px;">
                                    <input type="button" class="plus" value="+" style="height: 30px;">
                                </div>
                                <button href="#" class="btn btn-primary btn-modern text-uppercase"
                                        style="height: 30px; line-height: 0;">Ajouter au panier
                                </button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
