{% if item is defined and item is not null %}
    <div class="shop py-4">
        <div class="row">
            <div class="col-lg-6">
                {% if item.imgs is defined and item.imgs is not null %}
                    <div class="owl-carousel owl-theme" data-plugin-options="{'items': 1}">
                        {% for img in item.imgs %}
                            <div>
                                <img {% if img.alt is defined and img.alt is not null %}alt="{{ img.alt }}"{% endif %}
                                     class="img-fluid"
                                     src="{{ asset(img.src) }}">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="col-lg-6">
                <div class="summary entry-summary">
                    <h1 class="mb-0 font-weight-bold text-7">{{ item.name }}</h1>

                    {% if item.price is defined and item.price is not null %}
                        <p class="price">
                            <span class="amount">{{ item.price }}€</span>
                        </p>
                    {% endif %}

                    {% if item.date is defined and item.date is not null %}
                        <p>
                            <span>{{ item.date }}</span>
                        </p>
                    {% endif %}

                    {% if item.date2 is defined and item.date2 is not null %}
                        <p>
                            <span>{{ item.date2 }}</span>
                        </p>
                    {% endif %}


                    <p class="mb-4">{{ item.description|raw }}</p>

                    <form enctype="multipart/form-data"
                            {% if item.linkAddToCart is defined and item.linkAddToCart is not null and item.idPromotion is defined and item.idPromotion is not null %}
                                action="{{ path(item.linkAddToCart, { promotion: item.idPromotion }) }}"
                            {% endif %}
                          method="post" class="cart">
                        <div class="quantity quantity-lg">
                            <input type="button" class="minus" value="-">
                            <input type="text" class="input-text qty text" title="Qty" value="1"
                                   {% if item.inputName is defined and item.inputName is not null %}name="{{ item.inputName }}" {% endif %}
                                   min="1"
                                   step="1">
                            <input type="button" class="plus" value="+">
                        </div>
                        <button href="#" class="btn btn-primary btn-modern text-uppercase">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
