{% if itemsShop is defined and itemsShop is not null %}
    <div class="shop py-4">
        <div class="masonry-loader masonry-loader-loaded">
            <div class="row products product-thumb-info-list" data-plugin-masonry=""
                 data-plugin-options="{'layoutMode': 'fitRows'}">

                {% for item in itemsShop %}
                    <div class="col-12 col-sm-6 col-lg-3 product">
                        <span class="product-thumb-info border-0">

                            {# BLOCK ADD TO CART #}
                            {# Check if it is possible to add directly in cart #}
                            {% if addToCart is defined and addToCart %}
                                <a class="add-to-cart-product bg-color-primary"
                                    {% if item.link is defined and item.link.addToCart is defined %}
                                        href="{{ item.link.addToCart }}"
                                    {% elseif item.route is defined and item.route.addToCart is defined %}
                                        href="{{ path(item.route.addToCart, item.route.addToCartParameter) }}"
                                    {% endif %}
                                >
                                    <span class="text-uppercase text-1">
                                        {% if textAddToCart is defined and textAddToCart is not null %}
                                            {{ textAddToCart }}
                                        {% else %}
                                            Ajouter au panier
                                        {% endif %}
                                    </span>
                                </a>
                            {% endif %}

                            {# BLOCK IMG #}
                            <a {% if item.link is defined and item.link.focusItem is defined %}
                                href="{{ item.link.focusItem }}"
                            {% elseif item.route is defined and item.route.focusItem is defined %}
                                href="{{ path(item.route.focusItem, item.route.focusItemParameter) }}"
                            {% endif %} >
                                    <span class="product-thumb-info-image">
                                        <img {% if item.imgAlt is defined and item.imgAlt is not null %}alt="{{ item.imgAlt }}"{% endif %} class="img-fluid"
                                             src="{{ asset(item.img) }}">
                                    </span>
                            </a>

                            {# BLOCK DESCRIPTION #}
                            <span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
                                 <a {% if item.link is defined and item.link.focusItem is defined %}
                                        href="{{ item.link.focusItem }}"
                                    {% elseif item.route is defined and item.route.focusItem is defined %}
                                        href="{{ path(item.route.focusItem, item.route.focusItemParameter) }}"
                                         {% endif %}>
                                        <h4 class="text-4 text-primary">{{ item.name }}</h4>
                                     {% if item.date is defined and item.date is not null %}
                                         <h4 class="text-4 text-secondary">{{ item.date }}</h4>
                                     {% endif %}
                                     {% if item.price is defined and item.price is not null %}
                                         <span class="price">
                                                <span class="amount text-dark font-weight-semibold">{{ item.price }}€</span>
                                            </span>
                                     {% endif %}
                                 </a>
                            </span>
                        </span>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endif %}
